.calendar--month-length--28 .calendar__item:nth-child(n + 29), .calendar--month-length--29 .calendar__item:nth-child(n + 30), .calendar--month-length--30 .calendar__item:nth-child(n + 31), .calendar--month-length--31 .calendar__item:nth-child(n + 32) {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page {
  font-family: Arial, Helvetica, sans-serif;
}

.page__body {
  margin: 0;
}

.page__content {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

.calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1px;
  padding: 10px;
  max-width: 727px;
  font-size: 30px;
}

.calendar--start-day--mon .calendar__item:first-child {
  margin-left: 0px;
}

.calendar--start-day--tue .calendar__item:first-child {
  margin-left: 101px;
}

.calendar--start-day--wed .calendar__item:first-child {
  margin-left: 202px;
}

.calendar--start-day--thu .calendar__item:first-child {
  margin-left: 303px;
}

.calendar--start-day--fri .calendar__item:first-child {
  margin-left: 404px;
}

.calendar--start-day--sat .calendar__item:first-child {
  margin-left: 505px;
}

.calendar--start-day--sun .calendar__item:first-child {
  margin-left: 606px;
}

.calendar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 100px;
  border: 1px solid #000;
  background-color: #eee;
  cursor: pointer;
  -webkit-transition: background-color 0.3s, -webkit-transform 0.5s;
  transition: background-color 0.3s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, background-color 0.3s;
  transition: transform 0.5s, background-color 0.3s;
  transition: transform 0.5s, background-color 0.3s, -webkit-transform 0.5s;
}

.calendar__item:nth-child(n + 1)::before {
  content: "1";
}

.calendar__item:nth-child(n + 2)::before {
  content: "2";
}

.calendar__item:nth-child(n + 3)::before {
  content: "3";
}

.calendar__item:nth-child(n + 4)::before {
  content: "4";
}

.calendar__item:nth-child(n + 5)::before {
  content: "5";
}

.calendar__item:nth-child(n + 6)::before {
  content: "6";
}

.calendar__item:nth-child(n + 7)::before {
  content: "7";
}

.calendar__item:nth-child(n + 8)::before {
  content: "8";
}

.calendar__item:nth-child(n + 9)::before {
  content: "9";
}

.calendar__item:nth-child(n + 10)::before {
  content: "10";
}

.calendar__item:nth-child(n + 11)::before {
  content: "11";
}

.calendar__item:nth-child(n + 12)::before {
  content: "12";
}

.calendar__item:nth-child(n + 13)::before {
  content: "13";
}

.calendar__item:nth-child(n + 14)::before {
  content: "14";
}

.calendar__item:nth-child(n + 15)::before {
  content: "15";
}

.calendar__item:nth-child(n + 16)::before {
  content: "16";
}

.calendar__item:nth-child(n + 17)::before {
  content: "17";
}

.calendar__item:nth-child(n + 18)::before {
  content: "18";
}

.calendar__item:nth-child(n + 19)::before {
  content: "19";
}

.calendar__item:nth-child(n + 20)::before {
  content: "20";
}

.calendar__item:nth-child(n + 21)::before {
  content: "21";
}

.calendar__item:nth-child(n + 22)::before {
  content: "22";
}

.calendar__item:nth-child(n + 23)::before {
  content: "23";
}

.calendar__item:nth-child(n + 24)::before {
  content: "24";
}

.calendar__item:nth-child(n + 25)::before {
  content: "25";
}

.calendar__item:nth-child(n + 26)::before {
  content: "26";
}

.calendar__item:nth-child(n + 27)::before {
  content: "27";
}

.calendar__item:nth-child(n + 28)::before {
  content: "28";
}

.calendar__item:nth-child(n + 29)::before {
  content: "29";
}

.calendar__item:nth-child(n + 30)::before {
  content: "30";
}

.calendar__item:nth-child(n + 31)::before {
  content: "31";
}

.calendar__item:hover {
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
  background-color: pink;
}
