@import "./reset.css";

.calendar {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  max-width: 706px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar__day {
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid black;
  position: relative;
  cursor: pointer;
  transition-property: transform background-color;
  transition-duration: 500ms;
}

.calendar__day::before {
  font-family: inherit;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar__day:hover {
  transform: translateY(-20px);
  background-color: #ffbfcb;
}
