.day {
  @extend %square-geometry;
  text-align: center;
  line-height: 100px;

  background-color: #eee;
  border: 1px solid black;

  transition: transform $trans-time, background-color $trans-time;

  @extend %num-of-day;

  &:hover {
    background-color: pink;
    transform: translateY(-20px);

    cursor: pointer;
  }
}
