.cdr__day {
  width: $day-size;
  height: $day-size;
  background-color: $grey-color;
  border: 1px solid black;
  text-align: center;
  line-height: $day-size;
  font-family: $fontFamily;
  font-size: $text-normal;
  transition: all 0.5s;

  &:hover {
    cursor: pointer;
    background-color: $pink-color;
    transform: translateY(-20px);
  }
}
