.calendar {
  display: flex;
  flex-wrap: wrap;
  width: getWidth($box-size, $gap-size);
  gap: $gap-size;
  align-items: center;
  margin: 100px auto;

  &__day {
    @include square($box-size);
    display: flex;
    padding: $baseline;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: $color-box;
    cursor: pointer;
    transition: transform 0.5s;

    &:hover {
      background-color: pink;
      transform: translateY(-20px);
    }

    @for $index from 1 through 31 {
      &:nth-child(#{$index})::before {
        content: "#{$index}";
      }
    }
  }

  @each $week, $day in $days {
    &--start-day--#{$week} {
      &__day:first-child {
        margin-left: $day * ($box-size + $gap-size);
      }
    }
  }

  @for $month from 28 through 31 {
    &--month-length--#{$month} {
      &__day:nth-last-child(-n + #{31 - $month}) {
        display: none;
      }
    }
  }
}
