.calendar {
  display: flex;
  flex-wrap: wrap;

  width: $maxWidth;
  padding: #{$padding};
  gap: #{$gap};

  &__day {
    width: $daySize;
    height: $daySize;
    background-color: #eee;
    border: $borderWidth solid black;
    font-family: Arial, sans-serif;
    font-size: $fontSize;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    transition: background-color 0.5s;

    &:hover {
      background-color: pink;
      transform: translateY(-20px);
    }
  }

  @for $month from 1 through 31 {
    & :nth-child(#{$month})::before {
      content: "#{$month}";
      font-size: 30px;
    }
  }

  @for $day from 28 through 31 {
    &--month-length-#{$day} > :not(:nth-child(-n + #{$day})) {
      display: none;
    }
  }

  @each $day, $num in $startDays {
    &--start-day--#{$day} > :first-child {
      margin-left: calc((#{$daySize + $gap}) * #{$num});
    }
  }
}
