.calendar {
  display: flex;
  flex-wrap: wrap;
  max-width: $ceil-size-x * 7 + 20;
  padding: 10px;
  gap: $gap;

  &__day {
    width: $ceil-size-x;
    height: $ceil-size-y;
    background-color: $grey;
    margin-left: $current-day;
    color: $black;
    cursor: pointer;
    border: 1px solid $black;
    transition: background-color 0.5s ease 0s,
      transform 0.5s ease 0s;

    @include flex-centering;

    &:hover {
      background-color: pink;
      transform: translateY(-20px);
    }

    @for $i from 1 through 31 {
      &:nth-child(#{$i})::after {
        content: "#{$i}";
      }
    }
  }

  @each $day, $n in $days {
    &--from-day--#{$day} > &__day:first-child {
      margin-left: $ceil-size-x * $n;
    }
  }

  @for $i from 28 through 31 {
    &--month-length--#{$i} &__day:nth-child(n + #{$i + 1}) {
      display: none;
    }
  }
}
