.calendar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-wrap: wrap;
  gap: $calendar-cell-gap;
  max-width: calendarMaxWidth(
    $calendar-cell-size,
    $calendar-cell-gap,
    $calendar-padding);
  margin: 0 auto;
  padding: 0 $calendar-padding;

  @for $date from 28 through $month-length {
    &--month-length--#{$date} :nth-child(n + #{$date + 1}) {
      display: none;
    }
  }

  @each $name, $num in $start-days {
    &--start-day--#{$name} :first-child {
      margin-left: startDay($calendar-cell-size, $calendar-cell-gap, $num);
    }
  }

  &__day {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    @include square($calendar-cell-size);
    background-color: $calendar-cell-collor;
    border: solid 1px $num-day-collor;

    @for $day from 1 through $month-length {
      &:nth-child(#{$day})::before {
        content: "#{$day}";
        position: absolute;
      }
    }

    transition: 0.5s;

    &:hover {
      cursor: pointer;
      background-color: $calendar-cell-hover-collor;
      transform: translateY(-20px);
    }
  }
}
