$cell-size: 100px;
$gap-size: 1px;
$indent: $cell-size + $gap-size;
$padding-size: 15px;
$calendar-width: $padding-size * 2 + 7 * $cell-size + 6 * $gap-size;
$light-color: #fcedd8;

$days:
  "mon" 0,
  "tue" $indent,
  "wed" $indent * 2,
  "thu" $indent * 3,
  "fri" $indent * 4,
  "sat" $indent * 5,
  "sun" $indent * 6;
