$day-size: 100px;
$calendar-paddings: 10px;
$calendar-grey-color: #eee;
$days-in-week: 7;
$gap-between-days: 1px;
$days-of-week: (
  "mon" : 0,
  "tue" : 1,
  "wed" : 2,
  "thu" : 3,
  "fri" : 4,
  "sat" : 5,
  "sun" : 6
);

$monthes_length: 28, 29, 30, 31;
