$cellSize: 100px;
$cellGap: 1px;
$cellColor: #eee;
$cellBorderColor: #000;
$calendarPadding: 10px;
$weekLength: 7;
$monthStart:
  "mon" 0,
  "tue" 1,
  "wen" 2,
  "thu" 3,
  "fri" 4,
  "sat" 5,
  "sun" 6;
