$cell-size: 100px;
$cell-bg: #eee;
$font-size: 30px;
$font-number: arial, sans-serif;
$space-around: 1px;

$counte-days: 31;
$flex-width: ($cell-size + $space-around) * 7;

$days:
  mon 0,
  tue 1,
  wed 2,
  thu 3,
  fri 4,
  sat 5,
  sun 6;
