$start-days: (
  "mon": "100%",
  "tue": "calc(100% - 100px)",
  "wed": "calc(100% - 202px)",
  "thu": "calc(100% - 303px)",
  "fri": "calc(100% - 404px)",
  "sat": "calc(100% - 505px)",
  "sun": "calc(100% - 606px)"
);

$main-color: #000;
$hover-color: #ffc0cb;
$bg-color: #eee;
