.calendar__days {
  display: flex;
  background-color: $day_color;
  @include square($day_size);
  border: 1px solid $border_color;
  cursor: pointer;
  transition-property: transform, background-color;
  transition-duration: 0.5s;

  &::before {
    font-size: 30px;
    @include center();
  }

  @for $day from 1 through $month-length {
    &:nth-child(#{$day}):before {
      content: "#{$day}";
    }
  }

  &:hover {
    background-color: $hover_color;
    transform: translateY($hover_hight);
  }
}
