html {
  font-family: Arial, serif;
  font-size: 30px;
}

* {
  box-sizing: border-box;
}

body,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.container {
  @extend %alignment;
  height: 100vh;
}
