.day {
  @include square;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
  
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  &:hover {
    transform: translateY(-20px);
    background-color: pink;
  }
}
