.main {
  @extend %flex;
  flex-direction: column;

  &__title {
    text-align: center;
  }

  &__days {
    @extend %flex;
    max-width: $max-width;
    padding: $block-padding;
    gap: 1px;
  }
}

.days {
  @extend %flex;
  flex-direction: row;
  width: $box-size;
  text-transform: capitalize;
  border: 1px solid #000;
  background-color: antiquewhite;

  &:nth-child(n + 6) {
    background-color: rgb(241, 66, 12);
  }
}
