.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__days {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: $max-width;
    padding: $block-padding;
    gap: 1px;
  }
}

.days {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: $box-size;
  text-transform: capitalize;
  border: 1px solid #000;
  background-color: antiquewhite;

  &:nth-child(n + 6) {
    background-color: rgb(241, 66, 12);
  }
}
