$side: 100px;
$border: 1px;
$gap: 1px;
$padding: 10px;
$calendar-width: ($side * 7) + ($border * 6) + ($padding * 2);
$week:
    "mon" 0,
    "tue" 1 * ($border + $side),
    "wed" 2 * ($border + $side),
    "thu" 3 * ($border + $side),
    "fri" 4 * ($border + $side),
    "sat" 5 * ($border + $side),
    "sun" 6 * ($border + $side);
