$cell-size: 100px;
$space-between: 1px;
$calendar-padding: 10px;
$days-font-size: 30px;
$days-border-black: #000;
$days-background-grey: #eee;
$calendar-width: (($cell-size + $space-between) * 7) + ($calendar-padding * 2);
$hover-background-color: pink;
$name-week-days:
  "mon" 1,
  "tue" 2,
  "wed" 3,
  "thu" 4,
  "fri" 5,
  "sat" 6,
  "sun" 7;
