@import "../utils/variebles";

body {
  display: flex;
  height: $height-container;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  width: ($width-day * 7) + ($between-gap * 6);
  margin: auto;

  .day {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $height-day;
    width: $width-day;
    border: 1px solid $color-black;
    background-color: $color-grey;
    cursor: pointer;

    @each $index, $name in $weekday {
      @if $name == "wen" {
        &:first-child {
          margin-left: $shift-day * ($index - 1);
        }
      }
    }
    &:hover {
      position: relative;
      top: 0;
      transition: top 0.5s ease;
      background-color: pink;
    }

    &:active {
      transform: translate(0, -20px);
    }
  }

  @for $i from 1 through 31 {
    .day:nth-child(#{$i})::before {
      content: "#{$i}";
      font-size: 30px;
    }
  }

  @for $i from 1 through 2 {
    .day--last:nth-last-child(#{$i}) {
      display: none;
    }
  }
}
