body {
  margin: 0;
}

html {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
