.value {
  width: $box-size;
  margin-right: $repreat-horisontal;
}

.calendar {
  width: 700px;
  position: absolute;
  top: 25%;
  left: 25%;

  &__day {
    display: flex;

  }

  &__date {
    // display: grid;
    // grid-template-columns: repeat(7, 0fr);
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(7, 1fr);

    &-value {
      margin-bottom: 1px;
      margin-right: 1px;
      box-sizing: border-box;

      border: 1px solid $color-black;
      background-color: $color-white;

      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      width: $box-size;
      height: $box-size;

      gap: 1px $repreat-horisontal;
      transition: $transition-duration;

      &:hover {
        background-color: $color-pink;
        cursor: pointer;
        transform: translate(0, -20px);
      }
    }
  }
}
