@import "../utils/variables";

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: 7 * $cell-size;
  border: 1px solid #000;

  $days:
    "mon" 0,
    "tue" 1,
    "wed" 2,
    "thu" 3,
    "fri" 4,
    "sat" 5,
    "sun" 6;

  @each $day, $date in $days {
    &--start-day--#{$day}:first-child {
      margin-left: $cell-size * $date + $cell-gap * $date;
    }
  }

  &__cell {
    display: flex;
    height: $cell-size;
    width: $cell-size;
    box-sizing: border-box;
    border: 1px solid #000;
    justify-content: center;
    align-items: center;

    @for $index from 1 through 31 {
      &:nth-child(#{$index})::before {
        content: "#{$index}";
      }
    }

    &:hover {
      background-color: pink;
      cursor: pointer;
      margin-top: -20px;
      transition-duration: 0.5s;
    }
  }
}
