.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: $gaps;
  padding: 0 $paddings;

  &__day {
    @extend %flexik;
    @include square;

    border: 1px solid #000;
    background-color: #eee;

    transition: 0.5s;

    &:hover {
      cursor: pointer;
      background-color: #ee82ee;
      transform: translateY(-20px);
    }
  }
}
