.calendar__day {
  @include dayCell ($cellSize, $cellColor);
  transition: all 0.5s ease;

  &::before {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 30px;
  }

  @for $index from 1 through $daysNumber {
    &:nth-child(#{$index})::before {
      content: "#{$index}";
    }
  }

  @for $index from ($daysNumber + 1) through 31 {
    &:nth-child(#{$index}) {
      display: none;
    }
  }

  &:hover {
    background-color: pink;
    cursor: pointer;
    transform: translateY(-20px);
  }
}
