.calendar__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $cellSize;
  width: $cellSize;
  background-color: #eee;
  border: 1px solid #000;
  transition: 0.5s;
  &:hover {
    background-color: #ffc0cb;
    cursor: pointer;
    transform: translate(0, -20px);
  }
}
