body {
  margin: 0;
  padding: 0;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: getCalendarWidth($calendar-block-width, $block-gap, $days);
  gap: $block-gap;
  padding: 10px;

  &__day {
    display: flex;
    box-sizing: border-box;
    height: $calendar-block-height;
    width: $calendar-block-width;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    font-family: arial, sans-serif;
    font-size: 30px;
    background-color: #eee;
  }

  &__day:hover {
    cursor: pointer;
    background-color: pink;
    transform: translate(0, -20px);
    transition: transform 0.5s;
  }

  @for $day from 1 through 31 {
    &__day:nth-child(#{$day}):before {
      content: "#{$day}";
    }
  }

  $days: "mon" 0, "tue" 1 * $cell-size-gap, "wed" 2 * $cell-size-gap, "thu" 3 * $cell-size-gap, "fri" 4 * $cell-size-gap,
    "sat" 5 * $cell-size-gap, "sun" 6 * $cell-size-gap;

  @each $start-day, $margin-left in $days {
    &--start-day-#{$start-day} .calendar__day:first-child {
      margin-left: $margin-left;
    }
  }

  @for $month-length from 28 to 31 {
    @for $days-left from $month-length + 1 through 31 {
      &--month-length-#{$month-length} {
        .calendar__day:nth-child(#{$days-left}) {
          display: none;
        }
      }
    }
  }
}
