.calendar {
  margin: 0;
  width: $max-width;
  padding-inline: $calendar-padding;
  gap: $gap-size;
  display: flex;
  flex-wrap: wrap;
  justify-content: eve;

  @each $day, $mod in $week-days {
    &--start-day--#{$day} :first-child {
      margin-left: (($gap-size * $mod) + ($cell-size * $mod));
    }
  }

  @for $last-day from 28 through 31 {
    &--month-length--#{$last-day} :nth-child(#{$last-day + 1} + n) {
      display: none;
    }
  }

  &__day {
    height: $inner-cell-dimension;
    width: $inner-cell-dimension;
    background-color: $cell-beckground-color;
    border: $border-width solid $border-color;
    position: relative;
    flex-shrink: 0;

    transition: transform $transformation-time,
      background-color $transformation-time;

    &:hover {
      cursor: pointer;
      background-color: $hover-cell-color;
      transform: translateY(-20px);
    }

    @for $day-number from 1 through 31 {
      &:nth-child(#{$day-number})::before {
        content: "#{$day-number}";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
