@import "./variables.scss";

.calendar {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 726px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 1px;

  &--month-length {
    .calendar__day:nth-child(-n + #{$days-of-mounth}) {
      @include size-day-cells;

      @for $index from 1 through $days-of-mounth {
        &:nth-child(#{$index}):before {
          content: "#{$index}";
          font-family: Arial, sans-serif;
          font-size: 30px;
          display: flex;
          justify-content: center;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      &:hover {
        cursor: pointer;
        background-color: #ffc0cb;
        transform: translateY(-20px);
        transition: all 0.5s ease;
      }
    }
  }

  &--start-day &__day:first-child {
    margin-left: map-get($days-of-weeks, $start-day) 
      * 100px + map-get($days-of-weeks, $start-day);
  }
}
