@import "../styles/utils/mixins";
@import "../styles/utils/variables";

&__day {
  display: flex;
  box-sizing: border-box;
  @include calendar-cell($cell-size);
  border: $cell-border;
  background-color: $cell-colour;
  font-family: $cell-fontFamily;
  font-size: $cell-fontSize;
  align-items: center;

  &:hover {
    background-color: $cell-hoverColour;
    transform: $cell-hoverAnimation;
    cursor: pointer;
  }
}
