.calendar {
  width: $calendar-widht;
  display: flex;
  flex-wrap: wrap;
  gap: $calendar-gap;
  padding: $calendar-padding;

  @each $number,
  $day in $days {
    &--start-day-#{$day} :first-child {
      margin-left: $number * $calendar-day-space;
    }
  }

  @for $day from 28 through 31 {
    &--month-length--#{$day} {
      .calendar__day:nth-child(n + #{$day + 1}) {
        display: none;
      }
    }
  }

  &__day {
    box-sizing: border-box;
    background-color: $grey;
    width: $squere-side;
    height: $squere-side;
    border: $calendar-day-border solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    font-family: Arial, sans-serif;
    font-size: 30px;

    &:hover {
      background-color: pink;
      cursor: pointer;
      transform: translateY(-20px);
    }
  }

  @for $index from 1 through 31 {
    &__day:nth-child(#{$index})::before {
      content: "#{$index}";
    }
  }
}
