.calendar {
  $days: "mon", "tue", "wed", "thu", "fri", "sat", "sun";
  @each $day in $days {
    $i: index($list: $days, $value: $day);
    $day-margin:$day-block-size * ($i - 1) + $gap-size * ($i - 1) ;
    &--start-day--#{$day} {
      & :first-child {
        margin-left: $day-margin;
      }
    }
  }
}
