.calendar__day {
  background-color: $cellColor;
  width: $cellSize;
  height: $cellSize;
  padding: 10px;
  border: 1px solid black;
  transition: color 0.5s, transform 0.5s;

  &::before {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  @for $number from 1 through 31 {
    &:nth-child(#{$number})::before {
      content: "#{$number}";
    }
  }

  &:hover {
    cursor: pointer;
    background-color: pink;
    transform: translateY(-20px);
  }
}
