@import "../utils/variables";
@import "../utils/mixins";

@for $index from 1 through 31 {
  .calendar-list__item:nth-child(#{$index})::before {
    @include content;
    content: "#{$index}";
  }
}

.calendar-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: $listPadding;
  width: $listWidth;
  gap: $gap;

  
  @for $length from 28 through 31 {
    &--month-length--#{$length} {
      @for $index from $length + 1 through 31 {
        .calendar-list__item--#{$index} {
          @include empty-item;
          display: none;
        }
        .calendar-list__item--#{$index}::before {
          content: '';
        }
      }
    }
  }

  &__item {
    background-color: #808080;
    transition: background-color 0.5s, transform 0.5s;
    @include list-item();


    &:hover {
      cursor: pointer;
      background-color: #ffc0cb;
      transform: translateY(-20px);
    }

   
    @each $name, $margin in $margins {
      &--start-day-#{$name} {
        margin-left: $margin;
      }
    }
  }
}


  
