.callendar {
  width: $callendarSize;
  padding: $callendarPadding;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__week {
    display: flex;
    gap: $squareGap;
  }

  &__week-day {
    width: $squareSize;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: rgb(185, 185, 247);
    color: #fff;
    border-radius: 10%;
  }

  &__month {
    display: flex;
    flex-wrap: wrap;
    gap: $squareGap;

    @each $startday, $position in $startD-day {
      &--start-day--#{$startday} .callendar__day:first-child {
        margin-left: $position * ($squareSize + $squareGap);
      }
    }

    @for $endDay from 28 to 31 {
      &--month-length--#{$endDay} .callendar__day:nth-child(n + #{$endDay+1}) {
        display: none;
      }
    }
  }

  &__day {
    box-sizing: border-box;
    background-color: #eee;
    border: 1px solid black;
    height: $squareSize;
    flex: 0 0 $squareSize;

    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    @for $n from 0 to 31 {
      &:nth-child(#{$n + 1})::before {
        content: "#{$n + 1}";
      }
    }

    transition: 0.5s;

    &:hover {
      cursor: pointer;
      background-color: #e8caf3;
      transform: translateY(-20px);
    }
  }
}
