@import "../utils/variables";

.calendar__cell {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;

  width: $cell-size;
  height: $cell-size;

  background-color: $color-cells;
  border: 1px solid #000;
}
