.cell {
  display: flex;
  background-color: $cell-color;
  width: $cell-side;
  height: $cell-side;
  border: 1px solid black;

  justify-content: center;
  align-items: center;
  transition: transform, background-color, 0.3s;

  &:hover {
    cursor: pointer;
    transform: translateY(-20px);
    background-color: pink;
  }

  @for $date from 1 through 31 {
    &:nth-child(#{$date})::before {
      content: "#{$date}";
    }
  }
}
