.page {
  display: flex;
  justify-content: center;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: $daySize*7 + $gap*6;
  gap: $gap;

  &__days {
    display: flex;
    box-sizing: border-box;
    background-color: #eee;
    border: 1px black solid;
    
    height: $daySize;
    min-width: $daySize;

    align-items: center;
    justify-content: center;

    transition: 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    
    &:hover {
      transform: translateY(-20px);
      background-color: red;
    }

  }

}

@each $day, $first-day-shift in $days-of-week {
  .calendar--start-day--#{$day}
  .calendar__days:first-of-type {
    margin-left: $first-day-shift;
  };
}

@for $dayNumber from 1 through $daysCount {
  .calendar__days:nth-child(n+#{$dayNumber})::before {
    content: "#{$dayNumber}";
  }
}

@for $dayNumber from 28 through 31 {
  .calendar--month-length--#{$dayNumber}
  .calendar__days:nth-child(n + #{$dayNumber + 1}) {
    display: none;
  }
}
