.container {
  display: flex;
  align-items: center;

  margin: 0 auto;

  width: getWidth($square-size, $distance-squares, $days-in-a-week);
  height: 100vh;

  background-color: $main-color-background;
}
