.container {
  width: $container-width;

  .calendar {
    display: flex;
    flex-wrap: wrap;
    gap: $gap;

    .square {
      display: flex;
      width: $square-size;
      height: $square-size;
      border: $gap solid black;
      cursor: pointer;
      background-color: #eee;

      &:hover {
        background-color: pink;
        transform: translate(0, -20%);
      }
    }
  }
}
