@import "../utils/variables";

.container {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  padding: 5px;
  gap: $gap-size;
  height: min-content;
  width: $cell-size * 7 + $gap-size * 6 + 10;
  background-color: lightblue;
}
