.page {
  display: flex;
  justify-content: center;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  
  width: $daySize * 7 + $gap * 6;
  padding-top: 50px;
  gap: $gap;

  &__days {
    display: flex;
    box-sizing: border-box;
    background-color: #eee;
    border: 1px black solid;
    
    height: $daySize;
    min-width: $daySize;

    align-items: center;
    justify-content: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    
    &:hover {
      transition: 0.5s;
      transform: translateY(-20px);
      background-color: red;
    }

  }
}
