@for $i from 1 through 31 {
  .calendar__date-value:nth-child(#{$i}):before {
    content: "#{$i}";
    font-size: 30px;
    font-family: "Arial", sans-serif;
  }
}

$days: (
  "Monday": 0,
  "Tuersday": 1,
  "Wensday": 2,
  "Thursday": 3,
  "Friday": 4,
  "Saterday": 5,
  "Sunday": 6
);

@each $day, $index in $days {
  .calendar__start-day--#{$day} {
    .calendar__date-value:first-child {
      margin-left: $index * ($box-size + $margin-day);
    }
  }
}
