@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/functions";

.day-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  @include square($cell-size);
  border: 1px solid black;
  background-color: #eee;

  &:hover {
    cursor: pointer;
    background-color: pink;
    transform: translateY(-20px);
    transition: 0.5s;
  }

  $week:
    "mon" 0,
    "tue" 1,
    "wed" 2,
    "thu" 3,
    "fri" 4,
    "sat" 5,
    "sun" 6;

  @each $day, $value in $week {
    &--start-day_#{$day} {
      margin-left: getShift($cell-size, $gap-size, $value) - 1 + 1px;
    }
  }

  @for $index from 1 through 31 {
    &--#{$index}::before {
      content: "#{$index}";
      font-family: Arial, sans-serif;
      font-size: 30px;
    }
  }

  @for $index from $month-length + 1 through 32 {
    &:nth-child(#{$index}) {
      display: none;
    }
  }
}
