.page {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(225deg, rgb(81, 255, 121), rgb(181, 239, 238));
}

.name {
  display: flex;
  gap: #{$gap};
  margin-bottom: 40px;

  &__day {
    width: #{$square-size};
    height: $square-size / 2;
    border: 1px solid #000;
    background-color: #{$hover-squ};
    line-height: $square-size / 2;
    text-align: center;
  }
}
