.names {
  display: flex;
  gap: $gap-size;
  margin-bottom: 35px;

  &__day {
    width: $square-size;
    height: $square-size / 2;
    border: 1px solid #000;
    background-color: $color-pink;
    line-height: $square-size / 2;
    text-align: center;
  }
}
