@import "../utils/variables";

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $cell-size;
  height: $cell-size;
  background-color: #eee;
  box-sizing: border-box;
  border: 1px solid black;
  transition: 0.3s;

  &:hover {
    transform: translateY(-20px);
    cursor: pointer;
    background-color: mistyrose;
  }

  @for $day from 1 through 31 {
    &:nth-child(#{$day})::before {
      content: "#{$day}";
      font-size: 30px;
    }
  }
}
