.day {
  box-sizing: border-box;
  display: flex;
  @include square($day-size);
  align-items: center;
  justify-content: center;
  background-color: #eee;
  border: 1px solid #000;
  font-size: $days-number-size;
  transition: background-color 0.5s, transform 0.5s;

  &:hover {
    background-color: pink;
    cursor: pointer;
    transform: translateY(-$day-size / 5);
  }

  @for $index from 1 through 31 {
    &:nth-child(#{$index})::before {
      content: '#{$index}';
    }
  }
}
