.calendar__day {
  @include square($dayBlockSize);

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $dayBackground;
  border: 1px solid $dayBorder;

  font-size: 30px;

  transition: background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: $dayHover;

    transform: translateY(-20px);
  }
}
