.calendar {
  @for $number from 1 through 31 {
    & :nth-child(#{$number})::before {
      content: "#{$number}";
      line-height: $day-block-size;
      font-family: arial, Helvetica, sans-serif;
      font-size: 30px;
      color: #000;
    }
  }
}
