@import "../utils/variables.scss";

.daysOfTheWeek {
  display: flex;
  gap: 1px;
  margin-bottom: 1px;
  width: $calendarWidth;
  
  @for $index from 1 through 7 {
    &__days--#{$index} {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      padding: 10px;
      width: 100px;
      height: 50px;
      border: 1px solid #000;
      background-color: #ffb774;
    }
  }
}
