.footer {
  background-image: url("https://mate-academy.github.io/fe-program/assets/MA_bottom.jpg");
  background-size: cover;
  background-position: top;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    color: #fff;
  }
}
