  @for $index from 1 through 31 {
    .calendar__number:nth-child(#{$index})::before {
      content: "#{$index}";
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  $days-of-week: (mon: 0, tue: 104px, wed: 204px, thu: 304px, fri: 404px, sat: 504px, sun: 604px);

  @each $day, $retreat in $days-of-week {
    .start-#{$day} {
      margin-left: #{$retreat};
    }
  }

@for $count-of-days from 28 through 31 {
  .calendar--month-length-#{$count-of-days} .calendar__number:nth-child(n + #{$count-of-days + 1}) {
    display: none;
  }
}
