body {
  margin: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

@import "..//styles/blocks/utils/variables";
@import "..//styles/blocks/utils/functions";
@import "..//styles/blocks/utils/mixins";
@import "..//src/Styles/blocks/utils/reset";

@import "..//styles/blocks/calendar.scss";
