.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow:
    0 0 0 3px #eb452b,
    0 0 0 6px #efa032,
    0 0 0 9px #46b59b,
    0 0 0 12px #017e7f;

  border-radius: 5%;
  background: #d52e3f;
  width: 800px;
  margin: 14px auto;

  &__title {
    font-size: 100px;
    color: $light-color;
    font-weight: 700;

    text-shadow:
      2.5px 2.5px 0 #eb452b,
      5px 5px 0 #efa032,
      7.5px 7.5px 0 #46b59b,
      10px 10px 0 #017e7f,
      12.5px 12.5px 0 #052939,
      15px 15px 0 #c11a2b;
  }
}
