@mixin square() {
  height: $day-size;
  width: $day-size;
  border: 1px solid black;
  box-sizing: border-box;
}

@mixin fonts() {
  font-family: Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
}
