.month {

  @include month($field-width-size, $field-size-padding);
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  flex-grow: 1;
  gap: $cell-gap;

  &__day {
    position: relative;
    transition: background-color 0.5s, transform 0.5s, border-radius 0.5s;

    @include square($cell-size);
    @for $i from 1 through $maxDaysInMonth {
      &:nth-child(#{$i})::before {
        content: "#{$i}";
        @extend %date-text;
      }
    }

    @each $day, $margin-left in $start-day {
      &--start-day--#{$day} {
        margin-left: $margin-left;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: pink;
      transform: translateY(-20px);
      color: red;
      border-radius: 50%;
      transition: background-color 0.5s, transform 0.5s, border-radius 0.5s;
    }
  }

  @for $rest from 28 to $maxDaysInMonth {
    &--month-length--#{$rest} .month__day:nth-child(n + #{$rest + 1}) {
      display: none;
    }
  }
}
