.name {
  display: flex;
  gap: #{$gap};

  &__day {
    width: #{$size};
    height: $size / 2;
    border: 1px solid #000;
    background-color: rgb(235, 192, 255);
    line-height: $size / 2;
    text-align: center;
    margin-bottom: 40px;
  }
}
