.page {
  margin: 0;
  padding-top: 0;
}

.page-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $container-size;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
