@font-face {
  font-family: Arial, sans-serif;
  src: url('/src/fonts/arial.ttf') format('truetype');
}

@function get-start-day-margin($start-day) {
  @return index($days-of-week, $start-day) - 1;
}

.page {
  margin: 0;
  font-family: Arial, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  width: 100%;
}
