.page {
  font-family: Arial, sans-serif;
  font-size: 30px;

  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    box-sizing: border-box;
    width: 100vw;
    min-width: $calendar-width;
    min-height: 100vh;
    margin: 0;
    padding-block: 20px;
  }
}
