@use '../utils/variables' as *;

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  height: 100vh;
  padding: $padding-size;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
