* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  font-size: 30px;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
