$cellsize: 100px;
$cellgap : 1px;
/* the number is depending on margin left for the first child and its set our 1st row content*/
/*The month should start at the correct column (Monday is the 1st, Friday is the 5th)*/
/*its my interpretation*/
$days: (6: "-mon", 5: "-tue", 4: "-wed", 3: "-thu",
2: "-fri", 1: "-sat", 0: "-sun");

@each  $n,$day in  $days {
  .calendar--start-day-#{$day} :first-child {
    margin-left: ($n * $cellsize)+($n * $cellgap );

  }
}
