$cellsize: 100px;
$cellgap : 1px;

$days: (0: "-mon", 1: "-tue", 2: "-wed", 3: "-thu",
4: "-fri", 5: "-sat", 6: "-sun");

@each  $n,$day in  $days {
  .calendar--start-day-#{$day} :first-child {
    margin-left: ($n * $cellsize)+($n * $cellgap );

  }
}
