$cellsize: 100px;
$cellgap : 1px;

$days: (6: "-mon", 5: "-tue", 4: "-wed", 3: "-thu",
2: "-fri", 1: "-sat", 0: "-sun");

@each  $n,$day in  $days {
  .calendar--start-day-#{$day} :first-child {
    margin-left: ($n * $cellsize)+($n * $cellgap );

  }
}
