.section-calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: $gap-bettwen;
    padding: $box-pading;
    width: $width-calendar;
  }

  &__days {
    display: none;
    @include square($box-width, $box-height);
    background-color: #eee;
    border: 1px solid black;

    &:hover {
      background-color: rgb(245, 207, 242);
      transform: translateY(-20px);
      transition-duration: 500ms;
      cursor: pointer;
    }
  }

  @for $index from 1 through 31 {

    &__container--month-length--#{$index}
    .section-calendar__days:nth-child(-n+#{$index}) {
      display: block;
    }

    &__days:nth-child(#{$index}):before {
      content: "#{$index}";
      position: relative;
      top: 50%;
      transform: translate(0, -50%);
      display: block;
      text-align: center;
    }
  }

  @each $day, $number in $start-day {
    &__container--start-day--#{$day} .section-calendar__days:first-child {
      margin-left: #{$number};
    }
  }
}
