.sparkline {
  @extend %flex-view--center;
  gap: $gap-size;

  &__day {
    @extend %flex-view--center;
    @extend %font;
    width: $cell-size;
    height: 50px;
    text-transform: uppercase;
    background-color: #eee;
    border: 1px solid #000;
  }
}
