@import '../utils/variables';

.calendar {
  width: ($cell-width + $cell-gap) * $day-in-week + 20px;
  padding: 10px;
  margin-right: $cell-width + 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: $cell-gap;

  &--start {
    @each $day, $number in $day-start {
      &-#{$day}:first-child {
        margin-left: condition;
      }
    }
  }

  @for $index from 28 through 31 {
    &--month-length-#{$index} {
      .day:nth-child(n + #{$index + 1}) {
        display: none;
      }
    }
  }
}
