.squares {
  display: flex;
  flex-wrap: wrap;

  &__square {
    @include square-size($square-size);
    background-color: $main-color-square;
    border: 1px solid $color-border-square;
    transition: color 0.5s, transform 0.5s;

    &:nth-child(n) {
      margin: $distance-squares/2;
    }

    &:first-child {
      margin-left: getWidth($square-size, $distance-squares, $start-day - 1);
    }

    &:hover {
      background-color: $color-hover;
      cursor: pointer;
      transform: translateY(-20px);
    }

    @for $squareCount from 1 through $days-in-a-month {
      &:nth-child(#{$squareCount})::before {
        display: flex;
        justify-content: center;
        line-height: $square-size;

        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        color: $color-text-square;
        content: "#{$squareCount}";
      }
    }
  }

  @for $days-in-a-month from 1 through 31 {
    //squares--month-length-29
    &--monthlength-#{$days-in-a-month}
    :nth-child(n + #{$days-in-a-month + 1}) {
      background-color: $main-color-background;
      border: 1px transparent;
    }
  }

  // &:first-child {
  //   @for $startDay from 1 through 7 {
  //     &--start-day-#{$startDay} {
  //       margin-left:
  //       getWidth($square-size, $distance-squares, $startDay - 1);
  //       background-color: aquamarine;
  //     }
  //   }
  // }
}
