.main {
  display: flex;
  flex-direction: column;

  &__title {
    box-sizing: border-box;
    position: flex;
    display: inline;
    
    font-family: "Edu NSW ACT Foundation", sans-serif;
    font-weight: 500;
    font-size: 60px;

    margin: 15px auto 20px;

    cursor: pointer;
    box-shadow: -8px 10px teal, 10px -10px rgb(52, 42, 104);
    border: 1px solid rgb(192, 192, 199);

    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}
