$padding-calendar: 10px;
$bg-color: #eee;
$font-family: arial;
$font-size: 30px;
$text-color: #000;
$border-color: #000;
$border-width: 1px;
$box-size: 100px;
$gap: 1px;
$calendar-width: 7 * ($box-size + $gap);
