$day-size: 100px;
$background: #eee;
$border: 1px solid #000;
$gap: 1px;
$background-hover: pink;
$calendar-padding: 10px;
$days: 
  "mon" 0,
  "tue" 1,
  "wed" 2,
  "thu" 3,
  "fri" 4,
  "sat" 5,
  "sun" 6;
