$count: 7;
$item-size: 100px;
$container-size: ($count * $item-size + 10px);
$day-color: #eee;
$day-hover-color: pink;
$gap-val: 1px;
$week:
  "mon" 1,
  "tue" 2,
  "wed" 3,
  "thu" 4,
  "fri" 5,
  "sat" 6,
  "sun" 7;
