$dayWidth : 100px;
$dayHeight: 100px;
$dayGap: 1px;
$calendarPadding: 10px;
$calendarWidth: $dayWidth * 7 + $dayGap * 6 + $calendarPadding * 2;
$calendarHeight: $dayHeight * 6;

$week-days:
  "mon" 0,
  "tue" 1 * ($dayWidth + $dayGap),
  "wed" 2 * ($dayWidth + $dayGap),
  "thu" 3 * ($dayWidth + $dayGap),
  "fri" 4 * ($dayWidth + $dayGap),
  "sat" 5 * ($dayWidth + $dayGap),
  "sun" 6 * ($dayWidth + $dayGap);
