$color: #eee;
$hovered: #ffbfcb;
$gap: 1px;
$width-container: calc(700px + ($gap * 6));
$day-size: 100px;
$hovered-cell: #ffbfcb;
$days: ('mon' 0, 'tue' 1, 'wed' 2, 'thu' 3, 'fri' 4, 'sat' 5, 'sun' 6);
