$box-day-size: 100px;
$day-gap: 1px;
$width-calendar: (($box-day-size + $day-gap + 2.72px) * 7);
$big-month: 31;
$days: (
  mon: 0,
  tue: (
    ($box-day-size + $day-gap) * 1,
  ),
  wed: (
    ($box-day-size + $day-gap) * 2,
  ),
  thu: (
    ($box-day-size + $day-gap) * 3,
  ),
  fri: (
    ($box-day-size + $day-gap) * 4,
  ),
  sat: (
    ($box-day-size + $day-gap) * 5,
  ),
  sun: (
    ($box-day-size + $day-gap) * 6,
  ),
);
