$black-color: #000;
$indent-of-days: 1px;
$day-size: 100px;
$limit-width-of-row: ($day-size + $indent-of-days) * 7;
$days-of-week: (
  mon: 0,
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
  sun: 6,
);
