$square-side: 100px;
$calendar-width: (7 * $square-side + 6px);
$week-days: (
  "mon" ($square-side * 0),
  "tue" ($square-side + 1px),
  "wed" ($square-side * 2 + 2px),
  "thu" ($square-side * 3 + 3px),
  "fri" ($square-side * 4 + 4px),
  "sat" ($square-side * 5 + 5px),
  "sun" ($square-side * 6 + 6px)
);
