$day-size: 100px;
$day-space-bettwen: 1px;
$max-width-calendar: $day-size * 7 + $day-space-bettwen * 6 + 10px;
$days-margin-left: $day-size + $day-space-bettwen;
$start-day-week: (mon: 1, tue: 2, wed: 3, thu: 4, fri: 5, sat: 5, sun: 7);
