.weekdays {
  display: flex;
  gap: $cell-gap;

  &__cell {
    @include square($cell-size);
    
    box-sizing: border-box;
    background: rgb(255, 208, 0);
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 8px;
    transition-duration: 500ms;

    @each $day, $day-number in $start-day {
      &--day_#{$day-number + 1}::before {
        content: "#{$day}";
        @extend %pseudo-class;
      }
    }
  }
  
  &__cell:hover {
    background: rgb(255, 137, 1);
    transform: translateY(-20px);
  }

}
