.month__day {
  height: 100px;
  width: 100px;
}

body, .month__day {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 50px;
}

.month {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 1px;
  width: 756px;
}
.month__day {
  background-color: #eee;
  border: 1px solid #000;
  transition-duration: 0.5s;
}
.month__day:hover {
  background-color: #FFC0CB;
  cursor: pointer;
  transform: translateY(-20px);
}
.month__day:nth-child(1):before {
  content: "1";
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.month--start-day-mon > div:nth-child(1) {
  margin-left: 0px;
}
.month--start-day-tue > div:nth-child(1) {
  margin-left: 103px;
}
.month--start-day-wed > div:nth-child(1) {
  margin-left: 206px;
}
.month--start-day-thurs > div:nth-child(1) {
  margin-left: 309px;
}
.month--start-day-fri > div:nth-child(1) {
  margin-left: 412px;
}
.month--start-day-sat > div:nth-child(1) {
  margin-left: 515px;
}
.month--start-day-sun > div:nth-child(1) {
  margin-left: 618px;
}
.month--length-28 > div:nth-child(n+29) {
  display: none;
}
.month--length-29 > div:nth-child(n+30) {
  display: none;
}
.month--length-30 > div:nth-child(n+31) {
  display: none;
}
.month--length-31 > div:nth-child(n+32) {
  display: none;
}
.month__day:nth-child(2):before {
  content: "2";
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.month--start-day-mon > div:nth-child(1) {
  margin-left: 0px;
}
.month--start-day-tue > div:nth-child(1) {
  margin-left: 103px;
}
.month--start-day-wed > div:nth-child(1) {
  margin-left: 206px;
}
.month--start-day-thurs > div:nth-child(1) {
  margin-left: 309px;
}
.month--start-day-fri > div:nth-child(1) {
  margin-left: 412px;
}
.month--start-day-sat > div:nth-child(1) {
  margin-left: 515px;
}
.month--start-day-sun > div:nth-child(1) {
  margin-left: 618px;
}
.month--length-28 > div:nth-child(n+29) {
  display: none;
}
.month--length-29 > div:nth-child(n+30) {
  display: none;
}
.month--length-30 > div:nth-child(n+31) {
  display: none;
}
.month--length-31 > div:nth-child(n+32) {
  display: none;
}
.month__day:nth-child(3):before {
  content: "3";
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.month--start-day-mon > div:nth-child(1) {
  margin-left: 0px;
}
.month--start-day-tue > div:nth-child(1) {
  margin-left: 103px;
}
.month--start-day-wed > div:nth-child(1) {
  margin-left: 206px;
}
.month--start-day-thurs > div:nth-child(1) {
  margin-left: 309px;
}
.month--start-day-fri > div:nth-child(1) {
  margin-left: 412px;
}
.month--start-day-sat > div:nth-child(1) {
  margin-left: 515px;
}
.month--start-day-sun > div:nth-child(1) {
  margin-left: 618px;
}
.month--length-28 > div:nth-child(n+29) {
  display: none;
}
.month--length-29 > div:nth-child(n+30) {
  display: none;
}
.month--length-30 > div:nth-child(n+31) {
  display: none;
}
.month--length-31 > div:nth-child(n+32) {
  display: none;
}
.month__day:nth-child(4):before {
  content: "4";
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.month--start-day-mon > div:nth-child(1) {
  margin-left: 0px;
}
.month--start-day-tue > div:nth-child(1) {
  margin-left: 103px;
}
.month--start-day-wed > div:nth-child(1) {
  margin-left: 206px;
}
.month--start-day-thurs > div:nth-child(1) {
  margin-left: 309px;
}
.month--start-day-fri > div:nth-child(1) {
  margin-left: 412px;
}
.month--start-day-sat > div:nth-child(1) {
  margin-left: 515px;
}
.month--start-day-sun > div:nth-child(1) {
  margin-left: 618px;
}
.month--length-28 > div:nth-child(n+29) {
  display: none;
}
.month--length-29 > div:nth-child(n+30) {
  display: none;
}
.month--length-30 > div:nth-child(n+31) {
  display: none;
}
.month--length-31 > div:nth-child(n+32) {
  display: none;
}
.month__day:nth-child(5):before {
  content: "5";
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.month--start-day-mon > div:nth-child(1) {
  margin-left: 0px;
}
.month--start-day-tue > div:nth-child(1) {
  margin-left: 103px;
}
.month--start-day-wed > div:nth-child(1) {
  margin-left: 206px;
}
.month--start-day-thurs > div:nth-child(1) {
  margin-left: 309px;
}
.month--start-day-fri > div:nth-child(1) {
  margin-left: 412px;
}
.month--start-day-sat > div:nth-child(1) {
  margin-left: 515px;
}
.month--start-day-sun > div:nth-child(1) {
  margin-left: 618px;
}
.month--length-28 > div:nth-child(n+29) {
  display: none;
}
.month--length-29 > div:nth-child(n+30) {
  display: none;
}
.month--length-30 > div:nth-child(n+31) {
  display: none;
}
.month--length-31 > div:nth-child(n+32) {
  display: none;
}
.month__day:nth-child(6):before {
  content: "6";
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.month--start-day-mon > div:nth-child(1) {
  margin-left: 0px;
}
.month--start-day-tue > div:nth-child(1) {
  margin-left: 103px;
}
.month--start-day-wed > div:nth-child(1) {
  margin-left: 206px;
}
.month--start-day-thurs > div:nth-child(1) {
  margin-left: 309px;
}
.month--start-day-fri > div:nth-child(1) {
  margin-left: 412px;
}
.month--start-day-sat > div:nth-child(1) {
  margin-left: 515px;
}
.month--start-day-sun > div:nth-child(1) {
  margin-left: 618px;
}
.month--length-28 > div:nth-child(n+29) {
  display: none;
}
.month--length-29 > div:nth-child(n+30) {
  display: none;
}
.month--length-30 > div:nth-child(n+31) {
  display: none;
}
.month--length-31 > div:nth-child(n+32) {
  display: none;
}
.month__day:nth-child(7):before {
  content: "7";
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.month--start-day-mon > div:nth-child(1) {
  margin-left: 0px;
}
.month--start-day-tue > div:nth-child(1) {
  margin-left: 103px;
}
.month--start-day-wed > div:nth-child(1) {
  margin-left: 206px;
}
.month--start-day-thurs > div:nth-child(1) {
  margin-left: 309px;
}
.month--start-day-fri > div:nth-child(1) {
  margin-left: 412px;
}
.month--start-day-sat > div:nth-child(1) {
  margin-left: 515px;
}
.month--start-day-sun > div:nth-child(1) {
  margin-left: 618px;
}
.month--length-28 > div:nth-child(n+29) {
  display: none;
}
.month--length-29 > div:nth-child(n+30) {
  display: none;
}
.month--length-30 > div:nth-child(n+31) {
  display: none;
}
.month--length-31 > div:nth-child(n+32) {
  display: none;
}
.month__day:nth-child(8):before {
  content: "8";
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.month--start-day-mon > div:nth-child(1) {
  margin-left: 0px;
}
.month--start-day-tue > div:nth-child(1) {
  margin-left: 103px;
}
.month--start-day-wed > div:nth-child(1) {
  margin-left: 206px;
}
.month--start-day-thurs > div:nth-child(1) {
  margin-left: 309px;
}
.month--start-day-fri > div:nth-child(1) {
  margin-left: 412px;
}
.month--start-day-sat > div:nth-child(1) {
  margin-left: 515px;
}
.month--start-day-sun > div:nth-child(1) {
  margin-left: 618px;
}
.month--length-28 > div:nth-child(n+29) {
  display: none;
}
.month--length-29 > div:nth-child(n+30) {
  display: none;
}
.month--length-30 > div:nth-child(n+31) {
  display: none;
}
.month--length-31 > div:nth-child(n+32) {
  display: none;
}
.month__day:nth-child(9):before {
  content: "9";
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.month--start-day-mon > div:nth-child(1) {
  margin-left: 0px;
}
.month--start-day-tue > div:nth-child(1) {
  margin-left: 103px;
}
.month--start-day-wed > div:nth-child(1) {
  margin-left: 206px;
}
.month--start-day-thurs > div:nth-child(1) {
  margin-left: 309px;
}
.month--start-day-fri > div:nth-child(1) {
  margin-left: 412px;
}
.month--start-day-sat > div:nth-child(1) {
  margin-left: 515px;
}
.month--start-day-sun > div:nth-child(1) {
  margin-left: 618px;
}
.month--length-28 > div:nth-child(n+29) {
  display: none;
}
.month--length-29 > div:nth-child(n+30) {
  display: none;
}
.month--length-30 > div:nth-child(n+31) {
  display: none;
}
.month--length-31 > div:nth-child(n+32) {
  display: none;
}
.month__day:nth-child(10):before {
  content: "10";
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.month--start-day-mon > div:nth-child(1) {
  margin-left: 0px;
}
.month--start-day-tue > div:nth-child(1) {
  margin-left: 103px;
}
.month--start-day-wed > div:nth-child(1) {
  margin-left: 206px;
}
.month--start-day-thurs > div:nth-child(1) {
  margin-left: 309px;
}
.month--start-day-fri > div:nth-child(1) {
  margin-left: 412px;
}
.month--start-day-sat > div:nth-child(1) {
  margin-left: 515px;
}
.month--start-day-sun > div:nth-child(1) {
  margin-left: 618px;
}
.month--length-28 > div:nth-child(n+29) {
  display: none;
}
.month--length-29 > div:nth-child(n+30) {
  display: none;
}
.month--length-30 > div:nth-child(n+31) {
  display: none;
}
.month--length-31 > div:nth-child(n+32) {
  display: none;
}
.month__day:nth-child(11):before {
  content: "11";
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.month--start-day-mon > div:nth-child(1) {
  margin-left: 0px;
}
.month--start-day-tue > div:nth-child(1) {
  margin-left: 103px;
}
.month--start-day-wed > div:nth-child(1) {
  margin-left: 206px;
}
.month--start-day-thurs > div:nth-child(1) {
  margin-left: 309px;
}
.month--start-day-fri > div:nth-child(1) {
  margin-left: 412px;
}
.month--start-day-sat > div:nth-child(1) {
  margin-left: 515px;
}
.month--start-day-sun > div:nth-child(1) {
  margin-left: 618px;
}
.month--length-28 > div:nth-child(n+29) {
  display: none;
}
.month--length-29 > div:nth-child(n+30) {
  display: none;
}
.month--length-30 > div:nth-child(n+31) {
  display: none;
}
.month--length-31 > div:nth-child(n+32) {
  display: none;
}
.month__day:nth-child(12):before {
  content: "12";
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.month--start-day-mon > div:nth-child(1) {
  margin-left: 0px;
}
.month--start-day-tue > div:nth-child(1) {
  margin-left: 103px;
}
.month--start-day-wed > div:nth-child(1) {
  margin-left: 206px;
}
.month--start-day-thurs > div:nth-child(1) {
  margin-left: 309px;
}
.month--start-day-fri > div:nth-child(1) {
  margin-left: 412px;
}
.month--start-day-sat > div:nth-child(1) {
  margin-left: 515px;
}
.month--start-day-sun > div:nth-child(1) {
  margin-left: 618px;
}
.month--length-28 > div:nth-child(n+29) {
  display: none;
}
.month--length-29 > div:nth-child(n+30) {
  display: none;
}
.month--length-30 > div:nth-child(n+31) {
  display: none;
}
.month--length-31 > div:nth-child(n+32) {
  display: none;
}
.month__day:nth-child(13):before {
  content: "13";
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.month--start-day-mon > div:nth-child(1) {
  margin-left: 0px;
}
.month--start-day-tue > div:nth-child(1) {
  margin-left: 103px;
}
.month--start-day-wed > div:nth-child(1) {
  margin-left: 206px;
}
.month--start-day-thurs > div:nth-child(1) {
  margin-left: 309px;
}
.month--start-day-fri > div:nth-child(1) {
  margin-left: 412px;
}
.month--start-day-sat > div:nth-child(1) {
  margin-left: 515px;
}
.month--start-day-sun > div:nth-child(1) {
  margin-left: 618px;
}
.month--length-28 > div:nth-child(n+29) {
  display: none;
}
.month--length-29 > div:nth-child(n+30) {
  display: none;
}
.month--length-30 > div:nth-child(n+31) {
  display: none;
}
.month--length-31 > div:nth-child(n+32) {
  display: none;
}
.month__day:nth-child(14):before {
  content: "14";
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.month--start-day-mon > div:nth-child(1) {
  margin-left: 0px;
}
.month--start-day-tue > div:nth-child(1) {
  margin-left: 103px;
}
.month--start-day-wed > div:nth-child(1) {
  margin-left: 206px;
}
.month--start-day-thurs > div:nth-child(1) {
  margin-left: 309px;
}
.month--start-day-fri > div:nth-child(1) {
  margin-left: 412px;
}
.month--start-day-sat > div:nth-child(1) {
  margin-left: 515px;
}
.month--start-day-sun > div:nth-child(1) {
  margin-left: 618px;
}
.month--length-28 > div:nth-child(n+29) {
  display: none;
}
.month--length-29 > div:nth-child(n+30) {
  display: none;
}
.month--length-30 > div:nth-child(n+31) {
  display: none;
}
.month--length-31 > div:nth-child(n+32) {
  display: none;
}
.month__day:nth-child(15):before {
  content: "15";
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.month--start-day-mon > div:nth-child(1) {
  margin-left: 0px;
}
.month--start-day-tue > div:nth-child(1) {
  margin-left: 103px;
}
.month--start-day-wed > div:nth-child(1) {
  margin-left: 206px;
}
.month--start-day-thurs > div:nth-child(1) {
  margin-left: 309px;
}
.month--start-day-fri > div:nth-child(1) {
  margin-left: 412px;
}
.month--start-day-sat > div:nth-child(1) {
  margin-left: 515px;
}
.month--start-day-sun > div:nth-child(1) {
  margin-left: 618px;
}
.month--length-28 > div:nth-child(n+29) {
  display: none;
}
.month--length-29 > div:nth-child(n+30) {
  display: none;
}
.month--length-30 > div:nth-child(n+31) {
  display: none;
}
.month--length-31 > div:nth-child(n+32) {
  display: none;
}
.month__day:nth-child(16):before {
  content: "16";
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.month--start-day-mon > div:nth-child(1) {
  margin-left: 0px;
}
.month--start-day-tue > div:nth-child(1) {
  margin-left: 103px;
}
.month--start-day-wed > div:nth-child(1) {
  margin-left: 206px;
}
.month--start-day-thurs > div:nth-child(1) {
  margin-left: 309px;
}
.month--start-day-fri > div:nth-child(1) {
  margin-left: 412px;
}
.month--start-day-sat > div:nth-child(1) {
  margin-left: 515px;
}
.month--start-day-sun > div:nth-child(1) {
  margin-left: 618px;
}
.month--length-28 > div:nth-child(n+29) {
  display: none;
}
.month--length-29 > div:nth-child(n+30) {
  display: none;
}
.month--length-30 > div:nth-child(n+31) {
  display: none;
}
.month--length-31 > div:nth-child(n+32) {
  display: none;
}
.month__day:nth-child(17):before {
  content: "17";
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.month--start-day-mon > div:nth-child(1) {
  margin-left: 0px;
}
.month--start-day-tue > div:nth-child(1) {
  margin-left: 103px;
}
.month--start-day-wed > div:nth-child(1) {
  margin-left: 206px;
}
.month--start-day-thurs > div:nth-child(1) {
  margin-left: 309px;
}
.month--start-day-fri > div:nth-child(1) {
  margin-left: 412px;
}
.month--start-day-sat > div:nth-child(1) {
  margin-left: 515px;
}
.month--start-day-sun > div:nth-child(1) {
  margin-left: 618px;
}
.month--length-28 > div:nth-child(n+29) {
  display: none;
}
.month--length-29 > div:nth-child(n+30) {
  display: none;
}
.month--length-30 > div:nth-child(n+31) {
  display: none;
}
.month--length-31 > div:nth-child(n+32) {
  display: none;
}
.month__day:nth-child(18):before {
  content: "18";
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.month--start-day-mon > div:nth-child(1) {
  margin-left: 0px;
}
.month--start-day-tue > div:nth-child(1) {
  margin-left: 103px;
}
.month--start-day-wed > div:nth-child(1) {
  margin-left: 206px;
}
.month--start-day-thurs > div:nth-child(1) {
  margin-left: 309px;
}
.month--start-day-fri > div:nth-child(1) {
  margin-left: 412px;
}
.month--start-day-sat > div:nth-child(1) {
  margin-left: 515px;
}
.month--start-day-sun > div:nth-child(1) {
  margin-left: 618px;
}
.month--length-28 > div:nth-child(n+29) {
  display: none;
}
.month--length-29 > div:nth-child(n+30) {
  display: none;
}
.month--length-30 > div:nth-child(n+31) {
  display: none;
}
.month--length-31 > div:nth-child(n+32) {
  display: none;
}
.month__day:nth-child(19):before {
  content: "19";
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.month--start-day-mon > div:nth-child(1) {
  margin-left: 0px;
}
.month--start-day-tue > div:nth-child(1) {
  margin-left: 103px;
}
.month--start-day-wed > div:nth-child(1) {
  margin-left: 206px;
}
.month--start-day-thurs > div:nth-child(1) {
  margin-left: 309px;
}
.month--start-day-fri > div:nth-child(1) {
  margin-left: 412px;
}
.month--start-day-sat > div:nth-child(1) {
  margin-left: 515px;
}
.month--start-day-sun > div:nth-child(1) {
  margin-left: 618px;
}
.month--length-28 > div:nth-child(n+29) {
  display: none;
}
.month--length-29 > div:nth-child(n+30) {
  display: none;
}
.month--length-30 > div:nth-child(n+31) {
  display: none;
}
.month--length-31 > div:nth-child(n+32) {
  display: none;
}
.month__day:nth-child(20):before {
  content: "20";
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.month--start-day-mon > div:nth-child(1) {
  margin-left: 0px;
}
.month--start-day-tue > div:nth-child(1) {
  margin-left: 103px;
}
.month--start-day-wed > div:nth-child(1) {
  margin-left: 206px;
}
.month--start-day-thurs > div:nth-child(1) {
  margin-left: 309px;
}
.month--start-day-fri > div:nth-child(1) {
  margin-left: 412px;
}
.month--start-day-sat > div:nth-child(1) {
  margin-left: 515px;
}
.month--start-day-sun > div:nth-child(1) {
  margin-left: 618px;
}
.month--length-28 > div:nth-child(n+29) {
  display: none;
}
.month--length-29 > div:nth-child(n+30) {
  display: none;
}
.month--length-30 > div:nth-child(n+31) {
  display: none;
}
.month--length-31 > div:nth-child(n+32) {
  display: none;
}
.month__day:nth-child(21):before {
  content: "21";
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.month--start-day-mon > div:nth-child(1) {
  margin-left: 0px;
}
.month--start-day-tue > div:nth-child(1) {
  margin-left: 103px;
}
.month--start-day-wed > div:nth-child(1) {
  margin-left: 206px;
}
.month--start-day-thurs > div:nth-child(1) {
  margin-left: 309px;
}
.month--start-day-fri > div:nth-child(1) {
  margin-left: 412px;
}
.month--start-day-sat > div:nth-child(1) {
  margin-left: 515px;
}
.month--start-day-sun > div:nth-child(1) {
  margin-left: 618px;
}
.month--length-28 > div:nth-child(n+29) {
  display: none;
}
.month--length-29 > div:nth-child(n+30) {
  display: none;
}
.month--length-30 > div:nth-child(n+31) {
  display: none;
}
.month--length-31 > div:nth-child(n+32) {
  display: none;
}
.month__day:nth-child(22):before {
  content: "22";
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.month--start-day-mon > div:nth-child(1) {
  margin-left: 0px;
}
.month--start-day-tue > div:nth-child(1) {
  margin-left: 103px;
}
.month--start-day-wed > div:nth-child(1) {
  margin-left: 206px;
}
.month--start-day-thurs > div:nth-child(1) {
  margin-left: 309px;
}
.month--start-day-fri > div:nth-child(1) {
  margin-left: 412px;
}
.month--start-day-sat > div:nth-child(1) {
  margin-left: 515px;
}
.month--start-day-sun > div:nth-child(1) {
  margin-left: 618px;
}
.month--length-28 > div:nth-child(n+29) {
  display: none;
}
.month--length-29 > div:nth-child(n+30) {
  display: none;
}
.month--length-30 > div:nth-child(n+31) {
  display: none;
}
.month--length-31 > div:nth-child(n+32) {
  display: none;
}
.month__day:nth-child(23):before {
  content: "23";
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.month--start-day-mon > div:nth-child(1) {
  margin-left: 0px;
}
.month--start-day-tue > div:nth-child(1) {
  margin-left: 103px;
}
.month--start-day-wed > div:nth-child(1) {
  margin-left: 206px;
}
.month--start-day-thurs > div:nth-child(1) {
  margin-left: 309px;
}
.month--start-day-fri > div:nth-child(1) {
  margin-left: 412px;
}
.month--start-day-sat > div:nth-child(1) {
  margin-left: 515px;
}
.month--start-day-sun > div:nth-child(1) {
  margin-left: 618px;
}
.month--length-28 > div:nth-child(n+29) {
  display: none;
}
.month--length-29 > div:nth-child(n+30) {
  display: none;
}
.month--length-30 > div:nth-child(n+31) {
  display: none;
}
.month--length-31 > div:nth-child(n+32) {
  display: none;
}
.month__day:nth-child(24):before {
  content: "24";
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.month--start-day-mon > div:nth-child(1) {
  margin-left: 0px;
}
.month--start-day-tue > div:nth-child(1) {
  margin-left: 103px;
}
.month--start-day-wed > div:nth-child(1) {
  margin-left: 206px;
}
.month--start-day-thurs > div:nth-child(1) {
  margin-left: 309px;
}
.month--start-day-fri > div:nth-child(1) {
  margin-left: 412px;
}
.month--start-day-sat > div:nth-child(1) {
  margin-left: 515px;
}
.month--start-day-sun > div:nth-child(1) {
  margin-left: 618px;
}
.month--length-28 > div:nth-child(n+29) {
  display: none;
}
.month--length-29 > div:nth-child(n+30) {
  display: none;
}
.month--length-30 > div:nth-child(n+31) {
  display: none;
}
.month--length-31 > div:nth-child(n+32) {
  display: none;
}
.month__day:nth-child(25):before {
  content: "25";
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.month--start-day-mon > div:nth-child(1) {
  margin-left: 0px;
}
.month--start-day-tue > div:nth-child(1) {
  margin-left: 103px;
}
.month--start-day-wed > div:nth-child(1) {
  margin-left: 206px;
}
.month--start-day-thurs > div:nth-child(1) {
  margin-left: 309px;
}
.month--start-day-fri > div:nth-child(1) {
  margin-left: 412px;
}
.month--start-day-sat > div:nth-child(1) {
  margin-left: 515px;
}
.month--start-day-sun > div:nth-child(1) {
  margin-left: 618px;
}
.month--length-28 > div:nth-child(n+29) {
  display: none;
}
.month--length-29 > div:nth-child(n+30) {
  display: none;
}
.month--length-30 > div:nth-child(n+31) {
  display: none;
}
.month--length-31 > div:nth-child(n+32) {
  display: none;
}
.month__day:nth-child(26):before {
  content: "26";
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.month--start-day-mon > div:nth-child(1) {
  margin-left: 0px;
}
.month--start-day-tue > div:nth-child(1) {
  margin-left: 103px;
}
.month--start-day-wed > div:nth-child(1) {
  margin-left: 206px;
}
.month--start-day-thurs > div:nth-child(1) {
  margin-left: 309px;
}
.month--start-day-fri > div:nth-child(1) {
  margin-left: 412px;
}
.month--start-day-sat > div:nth-child(1) {
  margin-left: 515px;
}
.month--start-day-sun > div:nth-child(1) {
  margin-left: 618px;
}
.month--length-28 > div:nth-child(n+29) {
  display: none;
}
.month--length-29 > div:nth-child(n+30) {
  display: none;
}
.month--length-30 > div:nth-child(n+31) {
  display: none;
}
.month--length-31 > div:nth-child(n+32) {
  display: none;
}
.month__day:nth-child(27):before {
  content: "27";
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.month--start-day-mon > div:nth-child(1) {
  margin-left: 0px;
}
.month--start-day-tue > div:nth-child(1) {
  margin-left: 103px;
}
.month--start-day-wed > div:nth-child(1) {
  margin-left: 206px;
}
.month--start-day-thurs > div:nth-child(1) {
  margin-left: 309px;
}
.month--start-day-fri > div:nth-child(1) {
  margin-left: 412px;
}
.month--start-day-sat > div:nth-child(1) {
  margin-left: 515px;
}
.month--start-day-sun > div:nth-child(1) {
  margin-left: 618px;
}
.month--length-28 > div:nth-child(n+29) {
  display: none;
}
.month--length-29 > div:nth-child(n+30) {
  display: none;
}
.month--length-30 > div:nth-child(n+31) {
  display: none;
}
.month--length-31 > div:nth-child(n+32) {
  display: none;
}
.month__day:nth-child(28):before {
  content: "28";
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.month--start-day-mon > div:nth-child(1) {
  margin-left: 0px;
}
.month--start-day-tue > div:nth-child(1) {
  margin-left: 103px;
}
.month--start-day-wed > div:nth-child(1) {
  margin-left: 206px;
}
.month--start-day-thurs > div:nth-child(1) {
  margin-left: 309px;
}
.month--start-day-fri > div:nth-child(1) {
  margin-left: 412px;
}
.month--start-day-sat > div:nth-child(1) {
  margin-left: 515px;
}
.month--start-day-sun > div:nth-child(1) {
  margin-left: 618px;
}
.month--length-28 > div:nth-child(n+29) {
  display: none;
}
.month--length-29 > div:nth-child(n+30) {
  display: none;
}
.month--length-30 > div:nth-child(n+31) {
  display: none;
}
.month--length-31 > div:nth-child(n+32) {
  display: none;
}
.month__day:nth-child(29):before {
  content: "29";
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.month--start-day-mon > div:nth-child(1) {
  margin-left: 0px;
}
.month--start-day-tue > div:nth-child(1) {
  margin-left: 103px;
}
.month--start-day-wed > div:nth-child(1) {
  margin-left: 206px;
}
.month--start-day-thurs > div:nth-child(1) {
  margin-left: 309px;
}
.month--start-day-fri > div:nth-child(1) {
  margin-left: 412px;
}
.month--start-day-sat > div:nth-child(1) {
  margin-left: 515px;
}
.month--start-day-sun > div:nth-child(1) {
  margin-left: 618px;
}
.month--length-28 > div:nth-child(n+29) {
  display: none;
}
.month--length-29 > div:nth-child(n+30) {
  display: none;
}
.month--length-30 > div:nth-child(n+31) {
  display: none;
}
.month--length-31 > div:nth-child(n+32) {
  display: none;
}
.month__day:nth-child(30):before {
  content: "30";
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.month--start-day-mon > div:nth-child(1) {
  margin-left: 0px;
}
.month--start-day-tue > div:nth-child(1) {
  margin-left: 103px;
}
.month--start-day-wed > div:nth-child(1) {
  margin-left: 206px;
}
.month--start-day-thurs > div:nth-child(1) {
  margin-left: 309px;
}
.month--start-day-fri > div:nth-child(1) {
  margin-left: 412px;
}
.month--start-day-sat > div:nth-child(1) {
  margin-left: 515px;
}
.month--start-day-sun > div:nth-child(1) {
  margin-left: 618px;
}
.month--length-28 > div:nth-child(n+29) {
  display: none;
}
.month--length-29 > div:nth-child(n+30) {
  display: none;
}
.month--length-30 > div:nth-child(n+31) {
  display: none;
}
.month--length-31 > div:nth-child(n+32) {
  display: none;
}
.month__day:nth-child(31):before {
  content: "31";
  color: #000;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.month--start-day-mon > div:nth-child(1) {
  margin-left: 0px;
}
.month--start-day-tue > div:nth-child(1) {
  margin-left: 103px;
}
.month--start-day-wed > div:nth-child(1) {
  margin-left: 206px;
}
.month--start-day-thurs > div:nth-child(1) {
  margin-left: 309px;
}
.month--start-day-fri > div:nth-child(1) {
  margin-left: 412px;
}
.month--start-day-sat > div:nth-child(1) {
  margin-left: 515px;
}
.month--start-day-sun > div:nth-child(1) {
  margin-left: 618px;
}
.month--length-28 > div:nth-child(n+29) {
  display: none;
}
.month--length-29 > div:nth-child(n+30) {
  display: none;
}
.month--length-30 > div:nth-child(n+31) {
  display: none;
}
.month--length-31 > div:nth-child(n+32) {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
