.calendar--start-day-mon :first-child {
  margin-left: 0px;
}

.calendar--start-day-tue :first-child {
  margin-left: 101px;
}

.calendar--start-day-wed :first-child {
  margin-left: 202px;
}

.calendar--start-day-thu :first-child {
  margin-left: 303px;
}

.calendar--start-day-fri :first-child {
  margin-left: 404px;
}

.calendar--start-day-sat :first-child {
  margin-left: 505px;
}

.calendar--start-day-sun :first-child {
  margin-left: 606px;
}

.calendar :nth-child(n+1)::after {
  content: "1";
}

.calendar :nth-child(n+2)::after {
  content: "2";
}

.calendar :nth-child(n+3)::after {
  content: "3";
}

.calendar :nth-child(n+4)::after {
  content: "4";
}

.calendar :nth-child(n+5)::after {
  content: "5";
}

.calendar :nth-child(n+6)::after {
  content: "6";
}

.calendar :nth-child(n+7)::after {
  content: "7";
}

.calendar :nth-child(n+8)::after {
  content: "8";
}

.calendar :nth-child(n+9)::after {
  content: "9";
}

.calendar :nth-child(n+10)::after {
  content: "10";
}

.calendar :nth-child(n+11)::after {
  content: "11";
}

.calendar :nth-child(n+12)::after {
  content: "12";
}

.calendar :nth-child(n+13)::after {
  content: "13";
}

.calendar :nth-child(n+14)::after {
  content: "14";
}

.calendar :nth-child(n+15)::after {
  content: "15";
}

.calendar :nth-child(n+16)::after {
  content: "16";
}

.calendar :nth-child(n+17)::after {
  content: "17";
}

.calendar :nth-child(n+18)::after {
  content: "18";
}

.calendar :nth-child(n+19)::after {
  content: "19";
}

.calendar :nth-child(n+20)::after {
  content: "20";
}

.calendar :nth-child(n+21)::after {
  content: "21";
}

.calendar :nth-child(n+22)::after {
  content: "22";
}

.calendar :nth-child(n+23)::after {
  content: "23";
}

.calendar :nth-child(n+24)::after {
  content: "24";
}

.calendar :nth-child(n+25)::after {
  content: "25";
}

.calendar :nth-child(n+26)::after {
  content: "26";
}

.calendar :nth-child(n+27)::after {
  content: "27";
}

.calendar :nth-child(n+28)::after {
  content: "28";
}

.calendar :nth-child(n+29)::after {
  content: "29";
}

.calendar :nth-child(n+30)::after {
  content: "30";
}

.calendar :nth-child(n+31)::after {
  content: "31";
}

.calendar--month-end-28 .calendar__day:nth-child(n+29) {
  display: none;
}

.calendar--month-end-29 .calendar__day:nth-child(n+30) {
  display: none;
}

.calendar--month-end-30 .calendar__day:nth-child(n+31) {
  display: none;
}

.calendar--month-end-31 .calendar__day:nth-child(n+32) {
  display: none;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: 710px;
  gap: 1px;
}
.calendar__day {
  width: 100px;
  height: 100px;
  background-color: #eee;
  box-sizing: border-box;
  border: 1px solid black;
  font-style: arial;
  font-size: 30px;
  list-style: none;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  gap: 1px;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar__day:hover {
  background-color: #ffb5b5;
  transform: translateY(-20px);
}

/*# sourceMappingURL=style.css.map */
