$day-bgc-color: #eee;
$day-border-color: #000;
$day-size: 100px;
$days-per-week: 7;
$gap: 1px;
$min-days: 28;
$max-days: 31;
$calendar-indent: 10px;
$hover-color: #ffbfcb;
$days-of-week: ('mon' 0, 'tue' 1, 'wed' 2, 'thu' 3, 'fri' 4, 'sat' 5, 'sun' 6);
