//functions
@function getCalendarWidth ($size, $gap) {
  @return 7 * ($size + $dayGap);
}

//cicles
@for $date from 1 through 31 {
  .calendar__day--#{$date}::before {
    content: "#{$date}";
  }
}

@for $lastDay from 29 through 31 {
  .calendar--month-length-#{$lastDay} > :nth-child(n + #{$lastDay + 1}) {
    display: none;
  }
}

@each $firsDay, $leftMargin in $days {
  .calendar--start-day-#{$firsDay} > :first-child {
    margin-left: $leftMargin;
  }
}
