//Variables
$daySize: 100px;
$dayGap: 1px;

$days:
  "mon" ($daySize + $dayGap) * 0,
  "tue" ($daySize + $dayGap) * 1,
  "wed" ($daySize + $dayGap) * 2,
  "thu" ($daySize + $dayGap) * 3,
  "fri" ($daySize + $dayGap) * 4,
  "sat" ($daySize + $dayGap) * 5,
  "sun" ($daySize + $dayGap) * 6;
