$start-days:
  mon 0,
  tue 1,
  wed 2,
  thu 3,
  fri 4,
  sat 5,
  sun 6;
$calendar-color: #eee;
$calendar-size: 100px;
$calendar-border-color: #000;
$calendar-size-number: 30px;
$calendar-gap: 1px;
$active-color: #ffc0cb;
$container-width: 720px;
$font-size: 30px;
$count-length: 31;
