$square-size: 100px;
$padding: 10px;
$border-width: 1px;
$gap: 1px;
$day-size: $square-size + 2 * $padding + 2 * $border-width;
$max-width-calendar: 6 * $day-size;

$start-day: (
  mon: 0,
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
  sun: 6
);
