* {
  box-sizing: border-box;
}

html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 30px;
  color: black;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}
