$block-size: 100px;
$block-gap: 1px;
$block-padding: 10px;
$start-margin: 0;
$transition-time: 0.5s;
$calendar-width: 7 * $block-size + 6 * $block-gap + 2 * $block-padding;

@mixin square ($size) {
  width: $size;
  height: $size;
}

$days-of-week: 
  "mon" 1,
  "tue" 2,
  "wed" 3,
  "thu" 4,
  "fri" 5,
  "sat" 6,
  "sun" 7;
