$Day-box-width: 100px;
$Day-box-height: 100px;
$Main-color: black;
$Day-box-border: 1px;
$start-day: 0;
$gap: 1px;
$width: $Day-box-width * 7 + $gap * 6;

$days:
"tue" 1,
"wed" 2,
"thu" 3,
"fri" 4,
"sat" 5,
"sun" 6;
