.calendar {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto 0;
  gap: $box-gap;
  width: $calendar-width;
  padding: $box-padding;

  @each $day, $number in $days {
    &--start-day--#{$day} :first-child {
      margin-left: $number * ($box-size + $box-gap);
    }
  }

  @for $day from $min-days-in-month through $max-days-in-month {
    &--month-length--#{$day} :nth-child(n + #{$day + 1}) {
      display: none;
    }
  }

  &__day {
    @include square($box-size);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main-bcg-color;
    border: 1px solid $main-border-color;
    transition: transform 0.5s, background-color 0.5s;

    @for $day from 1 through 31 {
      &:nth-child(#{$day})::before {
        content: "#{$day}";
      }
    }

    &:hover {
      cursor: pointer;
      background-color: $main-hover-color;
      transform: translateY(-20px);
    }
  }
}
