$days:
  "mon" 0,
  "tue" 1,
  "wed" 2,
  "thu" 3,
  "fri" 4,
  "sat" 5,
  "sun" 6;
$block-size: 100px;
$color-calendar: #eee;
$color-border: #000;
$color-hover: #ffc0cb;
$block-count: 7;
$block-gap: 1px;
$padding-calendar: 10px;
$width-calendar: $block-count * $block-size 
  + $block-count * $block-gap + $padding-calendar * 2;
