%center {
  display: flex;
  justify-content: center;
  align-items: center;
}
$size: 100px;
$with-gaps: 101px;
$colums: 7;
$gaps: 6;
$width: $size * $colums + $gaps + 20;
$days:
  "mon" 0,
  "tue" $with-gaps+2px,
  "wed" $with-gaps * 2+4px,
  "thu" $with-gaps * 3+6px,
  "fri" $with-gaps * 4+8px,
  "sat" $with-gaps * 5+10px,
  "sun" $with-gaps * 6;
