$size: 100px;
$colums: 7;
$gaps: 6;
$width: $size * $colums + $gaps + 20;
$size-with-gaps: 101px;

$days:
  "mon" 0,
  "tue" $size-with-gaps,
  "wed" $size-with-gaps * 2,
  "thu" $size-with-gaps * 3,
  "fri" $size-with-gaps * 4,
  "sat" $size-with-gaps * 5,
  "sun" $size-with-gaps * 6;
