$day-size: 100px;
$calendar-padding: 10px;
$day-gap: 1px;
$days-in-week: 7;
$font-size: 30px;
$days-col:
("mon": 1, "tue": 2, "wed": 3, "thu": 4, "fri": 5, "sat": 6, "sun": 7);

$calendar-size:

  ($day-size * $days-in-week)
  + ($calendar-padding * 2)
  + ($day-gap * $days-in-week);
