$font: arial, helvetica, sans-serif;
$font-size: 30px;
$day-size: 100px;
$calendar-padding: 10px;
$days-in-week: 7;
$day-color: #eee;
$days:
("mon": 0, "tue": 1, "wed": 2, "thu": 3, "fri":4, "sat": 5, "sun": 6);

$calendar-size: ($day-size * 7) + 10px;
