$box-day-height: 100px;
$box-day-width: 100px;
$day-gap: 1px;
$calendar-width: 7 * $box-day-height + 20px + 6 * $day-gap;
$main-color: #eee;
$calendar-start-day: (
  mon:0,
  tue:1,
  wed:2,
  thu:3,
  fri:4,
  sat:5,
  sun:6,
);
