$day-size: 100px;
$font-family: Arial;
$font-size: 30px;
$background-color: #eee;
$animation-duration: 0.5s;
$hovered-cell-transform: translateY(-20px);
$transition-duration: 0.5s;
$calendar-gap: 1px;

$start-day-map: (
  mon: 0,
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
  sun: 6
);










