$cell-size: 100px;
$number-size: 30px;
$shift: ($cell-size - $number-size) / 2;
$gap: 1px;
$columns-size: ($cell-size + $gap) * 7 + 20px;
$weekdays: (
  "mon" 0,
  "tue" 1,
  "wed" 2,
  "thu" 3,
  "fri" 4,
  "sat" 5,
  "sun" 6
);

