$font-family: arial;
$width-calendar-day: 100px;
$gap-calendar-day: 1px;
$calendar-day-size: 100px;
$calendar-padding: 10px;
$max-width-calendar: #{($width-calendar-day * 7)
  + ($gap-calendar-day * 6)};

$week: ("mon": 0, "tue": 1, "wed": 2, "thu": 3, "fri": 4, "sat": 5, "sun": 6);
