$size-cell: 100px;
$calendar-padding: $size-cell * 0.1;
$calendar-gap: $size-cell * 0.01;
$calendar-width: $size-cell * 7 + $calendar-gap * 6;
$font-size: $size-cell * 0.3;
$margin-day: $size-cell + $calendar-gap;
$transform-size: -$size-cell * 0.2;
$bg-color: #eee;
$bg-color-hover: #ffbfcb;
$border-color: #000;
$font-family: Arial, sans-serif;
$weekdays: (
  'mon': 0,
  'tue': $margin-day,
  'wed': $margin-day * 2,
  'thu': $margin-day * 3,
  'fri': $margin-day * 4,
  'sat': $margin-day * 5,
  'sun': $margin-day * 6,
);
