// COLORS

$day-bg-clr: #eee;
$day-bdr-clr: #000;
$day-hvr-clr: #ff9fff;

// SIZES
$day-size: 100px;
$font-size: 30px;
$day-gap: 1px;

$days: (
  "mon": 1,
  "tue": 2,
  "wed": 3,
  "thu": 4,
  "fri": 5,
  "sat": 6,
  "sun": 7
);

// TRANSITIONS
$easing: cubic-bezier(0.17, 0.84, 0.44, 1);
