$cal-cell__size : 100px;
$cal-cell__gap: 1px;
$main-margins: 0 auto;
$main-padding: 10px;
$cal-cel_font_fam: arial, helvetica, sans-serif;
$cal-cell-font__size: 30px;
$cal-cell-border: 1px solid black;
$cal-cell-color__fill:#eee;
$cal-cell-color__text: black;
$main-color-hover: #ffc0cb;

$size-calendar: 7 * $cal-cell__size + 7 * $cal-cell__gap + 20;

$day_shift: ($cal-cell__size + 2) + $cal-cell__gap * 2;

$start-day: 
  "Monday" 0,
  "Tuesday" $day_shift,
  "Wensday" $day_shift * 2,
  "Thursday" $day_shift * 3,
  "Friday" $day_shift * 4,
  "Saturday" $day_shift * 5,
  "Sunday" $day_shift * 6;

$months: 
  "January" 31,
  "February" 28,
  "HFebruary" 29,
  "March" 31,
  "April" 30,
  "May" 31,
  "June" 30,
  "July" 31,
  "August" 31,
  "September" 30,
  "October" 31,
  "November" 30,
  "December" 31;
