$cal-cell__size : 100px;
$cal-cell__gap: 1px;
$main-margins: 0 auto;
$main-padding: 10px;
$cal-cel_font_fam: arial, helvetica, sans-serif;
$cal-cell-font__size: 30px;
$cal-cell-border: 1px solid black;
$cal-cell-color__fill:#eee;
$cal-cell-color__text: black;
$main-color-hover: #ffc0cb;

$size-calendar: 7 * $cal-cell__size + 7 * $cal-cell__gap + 20;

$day_shift: ($cal-cell__size + 2) + $cal-cell__gap * 2;

$start-day: 
  "mon" 0,
  "tue" $day_shift,
  "wen" $day_shift * 2,
  "thu" $day_shift * 3,
  "fri" $day_shift * 4,
  "sat" $day_shift * 5,
  "sun" $day_shift * 6;
