$cell-size: 100px;
$cell-gap: 1px;
$cell-color: #eee;

$font-family: "Arial", "Helvetica", sans-serif;
$font-size: 30px;

$graf: $cell-size + $cell-gap;

$calendar-padding: 10px;
$calendar-margin: 0 auto;
$calendar-width: 7 * $cell-size + 2 * $calendar-padding + 6 * $cell-gap;

$title-margin: $calendar-margin;

$start-day:
  "mon" 0,
  "tue" $graf,
  "wed" $graf * 2,
  "thu" $graf * 3,
  "fri" $graf * 4,
  "sat" $graf * 5,
  "sun" $graf * 6;
