$cell-size: 100px;
$number-of-columns: 7;
$gap-between-days: 1px;
$gap-sum: ($gap-between-days * $number-of-columns) - $gap-between-days;
$days: "mon" 0,
  "tue" $cell-size * 1 + $gap-sum - 5,
  "wed" $cell-size * 2 + $gap-sum - 4,
  "thu" $cell-size * 3 + $gap-sum - 3,
  "fri" $cell-size * 4 + $gap-sum - 2,
  "sat" $cell-size * 5 + $gap-sum - 1,
  "sun" $cell-size * 6 + $gap-sum;
