$card-width: 100px;
$gap: 1px;
$calendar-width: ($card-width * 7) + ($gap * 6);
$week-day:
  "mon" 0,
  "tue" 1 * ($card-width + $gap),
  "wed" 2 * ($card-width + $gap),
  "thu" 3 * ($card-width + $gap),
  "fri" 4 * ($card-width + $gap),
  "sat" 5 * ($card-width + $gap),
  "sun" 6 * ($card-width + $gap);
