$hight-cell: 100px;
$width-cell: 100px;
$gap: 1px;
$max-width-calendar : $width-cell * 7 + $gap * 6 + 10px * 2;
$cell-margin: $width-cell + $gap;
$week:
  "mon" 0,
  "tue" 1,
  "wed" 2,
  "thu" 3,
  "fri" 4,
  "sat" 5,
  "sun" 6;
