.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
  max-width: $calendar-size;
  padding: 20px 0;
  
  &__cell {
    @include square($cell-size);
    position: relative;
    background-color: $cell-color;
    border: 1px solid black;
    transition: background-color $transition-duration,
      transform $transition-duration;

    &:hover {
      cursor: pointer;
      background-color: pink;
      transform: translateY(-20px);
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
