.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: $gapss;
  padding: $paddings;

  &__day {
    @extend %page-flex;
    width: $square-size;
    height: $square-size;
    background-color: #eee;
    border: 1px solid #000;
    transition: 1s;

    &:hover {
      cursor: pointer;
      background-color: #fac;
      transform: translateY(-20px);
    }
  }
}
