$day_size: 100px;
$calendar_gap: 1px;
$calendar_padding: 30px;
$calendar_start: $day_size + $calendar_gap;

$days:
  "mon" 0,
  "tue" $calendar_start,
  "wed" $calendar_start * 2,
  "thu" $calendar_start * 3,
  "fri" $calendar_start * 4,
  "sut" $calendar_start * 5,
  "sun" $calendar_start * 6;
