$calendar-width: 726px;

$cell-size-square: 100px;
$day-background: #eee;
$gap: 1px;

$monday: 0;
$tuesday: $cell-size-square + $gap;
$wednesday: 2 * ($cell-size-square + $gap);
$thursday: 3 * ($cell-size-square + $gap);
$friday: 4 * ($cell-size-square + $gap);
$saturday: 5 * ($cell-size-square + $gap);
$sunday: 6 * ($cell-size-square + $gap);

$days-of-week:
  $monday "monday",
  $tuesday "tuesday",
  $wednesday "wednesday",
  $thursday "thursday",
  $friday "friday",
  $saturday "saturday",
  $sunday "sunday";
