$calendar-border-vert: 20px;
$calendar-border-hor: 10px;
$calendar-gaps: 1px;
$day-size: 100px;
$day-transform-time: 0.5s;
$day-background: #eee;
$day-background-hover: pink;
$day-border-color: #000;
$day-font: arial, helvetica, sans-serif;

$day-of-week:
  "mon" 0,
  "tue" 1,
  "wed" 2,
  "thu" 3,
  "fri" 4,
  "sat" 5,
  "sun" 6;
