$cell-size: 50px;
$border-size: 5px;
$gap-size: 10px;

$calendar-border-radius: 10%;
$calendar-opacity: 70%;

$day-color: #ac7a1e;
$day-text-color: #ffffff;
$day-border-color: #c4e2e4;
$day-border-radius: 40%;

$day-hover-color: #d4ffc0;
$day-hover-text-color: #a72525;
$day-hover-border-color: #a8461f;
$day-hover-translate: -10px;

$calendar-color: #da8423;

$start-day:
  "mon" getShift(0),
  "tue" getShift(1),
  "wed" getShift(2),
  "thu" getShift(3),
  "fri" getShift(4),
  "sat" getShift(5),
  "sun" getShift(6);
