$size: 700px;
$columns: 7;
$calendar-day: ($size / $columns);
$col-gap: 1px;
$calendar-width: $size + ($col-gap * ($columns - 1));
$days: 'mon' 0, 'tue' 1, 'wed' 2, 'thu' 3, 'fri' 4, 'sat' 5, 'sun' 6;
$start-day: 'sun';
$month-length: 31;
