$day-box-size: 100px;
$field-gap: 1px;
$width-of-calendar-sheet: 7 * $day-box-size + 2 * 10px + 6 * $field-gap;


$day-name:
  'mon' 0,
  'tue' $day-box-size + $field-gap,
  'wed' 2 * $day-box-size + 2 * $field-gap,
  'thu' 3 * $day-box-size + 3 * $field-gap,
  'fri' 4 * $day-box-size + 4 * $field-gap,
  'sat' 5 * $day-box-size + 5 * $field-gap,
  'sun' 6 * $day-box-size + 6 * $field-gap,

