$day-size: 100px;
$gapping: 1px;
$position-of-day: $day-size + $gapping;
$calendar-width: $day-size * 7 + $gapping * 6 + 20px;
$days-of-week:
  "mon" 0,
  "tue" $position-of-day,
  "wed" $position-of-day * 2,
  "thu" $position-of-day * 3,
  "fri" $position-of-day * 4,
  "sat" $position-of-day * 5,
  "sun" $position-of-day * 6;
