$box-size: 99px;
$border-size: 1px;
$gap-backdown: 1px;
$transform-time: 0.5s;
$calendar-color: #eee;
$border-color: black;
$calendar-hover-color: pink;
$calendar-size: ($box-size + $border-size) * 7;
$first-day-backdown: ($box-size + $gap-backdown) * 6;
$start-days: mon 0, tue 1, wed 2, thu 3, fri 4, sat 5, sun 6;
