$day-sight: 100px;
$days-gap: 1px;

$calendar-lateral-paddings: 10px;
$calendar-widht:
  $day-sight * 7 + $days-gap * 6 + $calendar-lateral-paddings * 2;

$days-start-margins:
  "mon" 0,
  "tue" $day-sight * 1 + $days-gap * 1,
  "wed" $day-sight * 2 + $days-gap * 2,
  "thu" $day-sight * 3 + $days-gap * 3,
  "fri" $day-sight * 4 + $days-gap * 4,
  "sat" $day-sight * 5 + $days-gap * 5,
  "sun" $day-sight * 6 + $days-gap * 6;
