@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin align-center($height, $font-size) {
  top: $height/2 - $font-size/2;
}

@mixin calendar-width($cell-width, $calendar-paddings, $calendar-gap) {
  width: 7 * $cell-width + 2*$calendar-paddings +7*$calendar-gap;
}
