@mixin number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $higth-box ;
}

@mixin boxCreate {
  box-sizing: border-box;
  width: $width-box;
  height: $higth-box;
  background-color: $color-grey;
  border: 1px solid #000;
}
