@mixin day-block-size {
  box-sizing: border-box;
  width: $day-block-width;
  height: $day-block-height;
}

@mixin day-block-pos-absolute {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin day-block-animation {
  transition-property: transform, background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}
