$block-width: 100px;
$block-height: 100px;
$block-gap: 1px;
$days:
  "mon" 0,
  "tue" $block-width + $block-gap,
  "wen" 2 * ($block-width + $block-gap),
  "thu" 3 * ($block-width + $block-gap),
  "fri" 4 * ($block-width + $block-gap),
  "sat" 5 * ($block-width + $block-gap),
  "sun" 6 * ($block-width + $block-gap);