$gap: 1px;
$daySize: 100px;
$padding: 160px;
$min-days-calendar: 28;
$max-days-calendar: 31;
$dayBackground: #eee;
$sizeCalendar: ($daySize * 7) + ($gap * 7);
$days:
  "mon" 0,
  "tue" 1 * ($daySize + $gap),
  "wen" 2 * ($daySize + $gap),
  "thu" 3 * ($daySize + $gap),
  "fri" 4 * ($daySize + $gap),
  "sat" 5 * ($daySize + $gap),
  "sun" 6 * ($daySize + $gap);
