$days: "mon", "tue", "wed", "thu", "fri", "sat", "sun";
$cell-size: 100px;
$bg-color-silver: #eee;
$bg-color-pink: pink;
$bg-color-red: #ff1908;
$frame: 1px solid #000;
$margin-shift: 1px;
$base-shift: $cell-size + $margin-shift;
