
$calendar-size: 100px;
$margin-in-calendar: 0.5px;
$width-calendar: ( $calendar-size * 7) + (($margin-in-calendar * 2) * 7);
$color-content: #eee;
$color-months: greenyellow;
$calendar-size-content: ($calendar-size / 100 * 30);
$start-tue: $calendar-size + ($margin-in-calendar * 3);
$start-wed: ($calendar-size * 2) + ($margin-in-calendar * 5);
$start-thu: ($calendar-size * 3) + ($margin-in-calendar * 7);
$start-fri: ($calendar-size * 4) + ($margin-in-calendar * 9);
$start-sat: ($calendar-size * 5) + ($margin-in-calendar * 11);
$start-sun: ($calendar-size * 6) + ($margin-in-calendar * 13);
