$cell-size: 100px;
$gap-size: 1px;
$hor-padding: 10px;
$transform-shift: 20px;
$margin: $cell-size + $gap-size;

$days:
  "mon" 0,
  "tue" $margin,
  "wed" $margin * 2,
  "thu" $margin * 3,
  "fri" $margin * 4,
  "sat" $margin * 5,
  "sun" $margin * 6;
