$padding: 10px;
$gap: 1px;
$size: 100px;
$width-of-calendar: $size * 7 + $padding * 2 + $gap * 6;
$size-plus-gap: $size + $gap;

$day-of-week:
  "mon" 0,
  "tue" $size-plus-gap,
  "wed" $size-plus-gap * 2,
  "thu" $size-plus-gap * 3,
  "fri" $size-plus-gap * 4,
  "sat" $size-plus-gap * 5,
  "sun" $size-plus-gap * 6;
