$day-cell-size : 100px;
$gap : 1px;
$calendar-pading: 10px;
$count-day : 31;
$calendar-size: $day-cell-size * 7 + $gap * 6 + $calendar-pading * 2;
$days:
  "mon" 0,
  "tue" $day-cell-size + $gap,
  "wed" ($day-cell-size + $gap) * 2,
  "thu" ($day-cell-size + $gap) * 3,
  "fri" ($day-cell-size + $gap) * 4,
  "sat" ($day-cell-size + $gap) * 5,
  "sun" ($day-cell-size + $gap) * 6;
