$cell-size: 100px;
$columns: 7;
$gap: 1px;
$border-size: 1px;
$padding: 10px;
// stylelint-disable
$calendar-width: ($cell-size * $columns) + ($gap * ($columns - 1)) +
  ($padding * 2); // Total width calculation

// colors

$cell-color: #eee;
$cell-hover-color: #ffbfcb;

// fonts

$font-size: 30px;
$font-family: Arial, sans-serif;
