@import './variables.scss';

.calendar__day {
  transition: transform $transition-duration, background-color $transition-duration;

  &:hover {
    transform: translateY(-20px);
    background-color: $hover-color;
  }
}
