@import "./variables.scss";

.calendar {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  max-width: ($day-size + $border-width + $padding)
    * $calendar-width + 2 * $padding;
  gap: $border-width;
  padding-top: 21px;

  &__day {
    box-sizing: border-box;
    display: flex;
    width: $day-size;
    height: $day-size;
    background-color: #eee;
    border: $border-width solid #000;
    justify-content: center;
    align-items: center;
  }

  &__day:hover {
    cursor: pointer;
    background-color: pink;
    transform: translateY(-20px);
  }
}
