.calendar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: $gap-between-boxes;
  padding: $calendar-padding;
  width: ($box-size+$gap-between-boxes)*7;
}

.day {
  line-height: $box-size;
  text-align: center;
  background: #eee;
  transition-duration: 500ms;

  &:hover {
    cursor: pointer;
    background-color: #f0f;
    transform: translateY(-($box-size*0.2));
  }
}
