.box-of-day {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  color: black;
  height: $box-of-day-width;
  width: $box-of-day-width;
  border: 1px solid black;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  transition: transform 0.5s;
  cursor: pointer;

  &:hover {
    background-color: #ffbfcb;
    transform: translateY(-20px);
  }
}

.box-of-day:nth-child(n + 29):nth-child(-n + 31) {
  display: none;
}

@for $i from 1 through 31 {
  .box-of-day:nth-child(#{$i})::before {
    content: '#{$i}';
  }
}

@for $i from 28 through 31 {
  .calendar--month-length-#{$i} .box-of-day:nth-child(-n + #{$i}) {
    display: flex;
  }
}
