$font-color: #616070;
$background-color:#f3f3f3;
$border-color: #000;
$day-color:#eee;
$day-active-color: #fa83d0;
$font-size: 30px;
$day-cell: 100px;
$cell-gap: 1px;
$default-padding: 10px;
$calendar-width: 706px;
$month-length: 28;
$month-start-day: 2;

.calendar {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $border-color;
  border-radius: 5px;
  padding: $default-padding;

  &__week {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: $calendar-width;
    padding: $default-padding;
  }

  &__days {
    display: flex;
  }
}
