/* Error: Undefined variable.
 *   ,
 * 4 |   gap: $gap;
 *   |        ^^^^
 *   '
 *   calendar.scss 4:8  root stylesheet */

body::before {
  font-family: 'Source Code Pro', 'SF Mono', Monaco, Inconsolata, 'Fira Mono',
    'Droid Sans Mono', monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined variable.\a   \2577 \a 4 \2502    gap: $gap;\a   \2502         ^^^^\a   \2575 \a   calendar.scss 4:8  root stylesheet';
}
