@import 'variables';

.calendar__day {
  box-sizing: border-box;
  position: relative;
  width: $day-size;
  height: $day-size;
  border: $day-border solid $border-color;
  background-color: $day-color;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $font-size;

  &::before {
    content: counter(day-num);
    counter-increment: day-num;
  }

  &:hover {
    cursor: pointer;
    background-color: $hover-color;
    transform: translateY($hover-move-up);
    transition:
      background-color $transition-duration,
      transform $transition-duration;
  }
}
