.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: $cellsGap;
  padding: $calendarPadding;
  width: $calendarWidth;

  &__day {
    display: flex;
    justify-content: center;
    align-items: center;

    width: $sizeOfSell;
    height: $sizeOfSell;
    border: 1px solid #404040;
    background-color: #eee;

    transition: all 0.5s;

    &:hover {
      cursor: pointer;
      background-color: #ffcdd5;
      transform: translateY(-20px);
    }

    @for $i from 1 through $monthLength {
      &:nth-child(#{$i})::before {
        content: "#{$i}";
        font-size: 30px;
      }
    }
  }

  @each $day, $num in $weekdays {
    &-start-day-#{$day} :first-child {
      margin-left: ($num - 1) * ($cellsGap + $sizeOfSell);
    }
  }

  @for $i from 1 through 31 {
    &-month-length-#{$i} :nth-child(n + #{$i + 1}) {
      display: none;
    }
  }
}
