.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: $block-gap;
  max-width: $max-width-block;
  padding: 0 10px;
  margin: 100px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;

  &__day {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: $background-color-block;
    border: 1px solid #000;
    transition: transform 0.5s;

    &:hover {
      background-color: $color-hover-block;
      transform: translateY(-20px);
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @for $i from 1 through 31 {
      &:nth-of-type(#{$i})::before {
        content: "#{$i}";
      }
    }
  }

  @each $day, $margin in $day-of-week {
    &--start-day-#{$day} .calendar__day:first-child {
      margin-left: (($margin - 1) * ($width-height-block + $block-gap));
    }
  }
  @for $i from 28 through 31 {
    &--month-length-#{$i} {
      .calendar__day:nth-child(n + #{$i + 1}) {
        display: none;
      }
    }
  }
}
