.day {
  display: flex;
  justify-content: center;
  align-items: center;

  @include day-cell($cell-size);

  border: 1px solid black;
  box-sizing: border-box;
  background-color: #eee;

  transition: 500ms;

  &::before {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: black;
  }

  &:hover {
    cursor: pointer;
    background-color: pink;
    transform: translate(0, -20px);
  }
}
