%cell-formatting {
  display: flex;
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid black;

  justify-content: center;
  text-align: center;
  justify-items: center;
  align-items: center;
}

%calendar-formatting {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-items: center;
  margin: 100px auto;
  flex-wrap: wrap;
  gap: 1px;
}
