* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

.calendar {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 707px;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

.calendar__day {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  padding: 10px;
}

.calendar__day:nth-child(1n)::before {
  content: '1';
  width: 80px;
  height: 80px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__day:nth-child(2n)::before {
  content: '2';
  width: 80px;
  height: 80px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__day:nth-child(3n)::before {
  content: '3';
  width: 80px;
  height: 80px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__day:nth-child(4n)::before {
  content: '4';
  width: 80px;
  height: 80px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__day:nth-child(5n)::before {
  content: '5';
  width: 80px;
  height: 80px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__day:nth-child(6n)::before {
  content: '6';
  width: 80px;
  height: 80px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__day:nth-child(7n)::before {
  content: '7';
  width: 80px;
  height: 80px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__day:nth-child(8n)::before {
  content: '8';
  width: 80px;
  height: 80px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__day:nth-child(9n)::before {
  content: '9';
  width: 80px;
  height: 80px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__day:nth-child(10n)::before {
  content: '10';
  width: 80px;
  height: 80px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__day:nth-child(11n)::before {
  content: '11';
  width: 80px;
  height: 80px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__day:nth-child(12n)::before {
  content: '12';
  width: 80px;
  height: 80px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__day:nth-child(13n)::before {
  content: '13';
  width: 80px;
  height: 80px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__day:nth-child(14n)::before {
  content: '14';
  width: 80px;
  height: 80px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__day:nth-child(15n)::before {
  content: '15';
  width: 80px;
  height: 80px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__day:nth-child(16n)::before {
  content: '16';
  width: 80px;
  height: 80px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__day:nth-child(17n)::before {
  content: '17';
  width: 80px;
  height: 80px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__day:nth-child(18n)::before {
  content: '18';
  width: 80px;
  height: 80px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__day:nth-child(19n)::before {
  content: '19';
  width: 80px;
  height: 80px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__day:nth-child(20n)::before {
  content: '20';
  width: 80px;
  height: 80px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__day:nth-child(21n)::before {
  content: '21';
  width: 80px;
  height: 80px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__day:nth-child(22n)::before {
  content: '22';
  width: 80px;
  height: 80px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__day:nth-child(23n)::before {
  content: '23';
  width: 80px;
  height: 80px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__day:nth-child(24n)::before {
  content: '24';
  width: 80px;
  height: 80px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__day:nth-child(25n)::before {
  content: '25';
  width: 80px;
  height: 80px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__day:nth-child(26n)::before {
  content: '26';
  width: 80px;
  height: 80px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__day:nth-child(27n)::before {
  content: '27';
  width: 80px;
  height: 80px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__day:nth-child(28n)::before {
  content: '28';
  width: 80px;
  height: 80px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__day:nth-child(29n)::before {
  content: '29';
  width: 80px;
  height: 80px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__day:nth-child(30n)::before {
  content: '30';
  width: 80px;
  height: 80px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__day:nth-child(31n)::before {
  content: '31';
  width: 80px;
  height: 80px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__day:hover {
  transform: translateY(-20px);
  background-color: #ffc0cb;
  transition-duration: 0.5s;
  cursor: pointer;
}

.calendar--start-day-mon .calendar__day:first-child {
  margin-left: 0;
}

.calendar--start-day-tue .calendar__day:first-child {
  margin-left: 101px;
}

.calendar--start-day-wed .calendar__day:first-child {
  margin-left: 202px;
}

.calendar--start-day-thu .calendar__day:first-child {
  margin-left: 303px;
}

.calendar--start-day-fri .calendar__day:first-child {
  margin-left: 404px;
}

.calendar--start-day-sat .calendar__day:first-child {
  margin-left: 505px;
}

.calendar--start-day-sun .calendar__day:first-child {
  margin-left: 606px;
}

.calendar--month-length-0 .calendar__day:nth-child(n + 1) {
  display: none;
}

.calendar--month-length-1 .calendar__day:nth-child(n + 2) {
  display: none;
}

.calendar--month-length-2 .calendar__day:nth-child(n + 3) {
  display: none;
}

.calendar--month-length-3 .calendar__day:nth-child(n + 4) {
  display: none;
}

.calendar--month-length-4 .calendar__day:nth-child(n + 5) {
  display: none;
}

.calendar--month-length-5 .calendar__day:nth-child(n + 6) {
  display: none;
}

.calendar--month-length-6 .calendar__day:nth-child(n + 7) {
  display: none;
}

.calendar--month-length-7 .calendar__day:nth-child(n + 8) {
  display: none;
}

.calendar--month-length-8 .calendar__day:nth-child(n + 9) {
  display: none;
}

.calendar--month-length-9 .calendar__day:nth-child(n + 10) {
  display: none;
}

.calendar--month-length-10 .calendar__day:nth-child(n + 11) {
  display: none;
}

.calendar--month-length-11 .calendar__day:nth-child(n + 12) {
  display: none;
}

.calendar--month-length-12 .calendar__day:nth-child(n + 13) {
  display: none;
}

.calendar--month-length-13 .calendar__day:nth-child(n + 14) {
  display: none;
}

.calendar--month-length-14 .calendar__day:nth-child(n + 15) {
  display: none;
}

.calendar--month-length-15 .calendar__day:nth-child(n + 16) {
  display: none;
}

.calendar--month-length-16 .calendar__day:nth-child(n + 17) {
  display: none;
}

.calendar--month-length-17 .calendar__day:nth-child(n + 18) {
  display: none;
}

.calendar--month-length-18 .calendar__day:nth-child(n + 19) {
  display: none;
}

.calendar--month-length-19 .calendar__day:nth-child(n + 20) {
  display: none;
}

.calendar--month-length-20 .calendar__day:nth-child(n + 21) {
  display: none;
}

.calendar--month-length-21 .calendar__day:nth-child(n + 22) {
  display: none;
}

.calendar--month-length-22 .calendar__day:nth-child(n + 23) {
  display: none;
}

.calendar--month-length-23 .calendar__day:nth-child(n + 24) {
  display: none;
}

.calendar--month-length-24 .calendar__day:nth-child(n + 25) {
  display: none;
}

.calendar--month-length-25 .calendar__day:nth-child(n + 26) {
  display: none;
}

.calendar--month-length-26 .calendar__day:nth-child(n + 27) {
  display: none;
}

.calendar--month-length-27 .calendar__day:nth-child(n + 28) {
  display: none;
}

.calendar--month-length-28 .calendar__day:nth-child(n + 29) {
  display: none;
}

.calendar--month-length-29 .calendar__day:nth-child(n + 30) {
  display: none;
}

.calendar--month-length-30 .calendar__day:nth-child(n + 31) {
  display: none;
} /*# sourceMappingURL=index.css.map */
