body {
  margin: 0;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1px;
  padding: 10px;
  width: 706px;
  margin: 0 auto;
}

.calendar__day {
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  transition: transform 0.5s, background-color 0.5s;
}
.calendar__day:hover {
  cursor: pointer;
  background-color: #FFBFCB;
  transform: translateY(-20px);
}
.calendar__day::after {
  content: attr(data-number);
  font-size: 30px;
  color: black;
}

.calendar__day--start-1 {
  grid-column-start: 1;
}

.calendar__day--start-2 {
  grid-column-start: 2;
}

.calendar__day--start-3 {
  grid-column-start: 3;
}

.calendar__day--start-4 {
  grid-column-start: 4;
}

.calendar__day--start-5 {
  grid-column-start: 5;
}

.calendar__day--start-6 {
  grid-column-start: 6;
}

.calendar__day--start-7 {
  grid-column-start: 7;
}

.calendar__day--1::after {
  content: "1";
}

.calendar__day--2::after {
  content: "2";
}

.calendar__day--3::after {
  content: "3";
}

.calendar__day--4::after {
  content: "4";
}

.calendar__day--5::after {
  content: "5";
}

.calendar__day--6::after {
  content: "6";
}

.calendar__day--7::after {
  content: "7";
}

.calendar__day--8::after {
  content: "8";
}

.calendar__day--9::after {
  content: "9";
}

.calendar__day--10::after {
  content: "10";
}

.calendar__day--11::after {
  content: "11";
}

.calendar__day--12::after {
  content: "12";
}

.calendar__day--13::after {
  content: "13";
}

.calendar__day--14::after {
  content: "14";
}

.calendar__day--15::after {
  content: "15";
}

.calendar__day--16::after {
  content: "16";
}

.calendar__day--17::after {
  content: "17";
}

.calendar__day--18::after {
  content: "18";
}

.calendar__day--19::after {
  content: "19";
}

.calendar__day--20::after {
  content: "20";
}

.calendar__day--21::after {
  content: "21";
}

.calendar__day--22::after {
  content: "22";
}

.calendar__day--23::after {
  content: "23";
}

.calendar__day--24::after {
  content: "24";
}

.calendar__day--25::after {
  content: "25";
}

.calendar__day--26::after {
  content: "26";
}

.calendar__day--27::after {
  content: "27";
}

.calendar__day--28::after {
  content: "28";
}

.calendar__day--29::after {
  content: "29";
}

.calendar__day--30::after {
  content: "30";
}

.calendar__day--31::after {
  content: "31";
}

.calendar--month-length-28 .calendar__day--29 {
  display: none;
}
.calendar--month-length-28 .calendar__day--30 {
  display: none;
}
.calendar--month-length-28 .calendar__day--31 {
  display: none;
}

.calendar--month-length-29 .calendar__day--30 {
  display: none;
}
.calendar--month-length-29 .calendar__day--31 {
  display: none;
}

.calendar--month-length-30 .calendar__day--31 {
  display: none;
}

.calendar--month-length-31 .calendar__day--32 {
  display: none;
}
.calendar--month-length-31 .calendar__day--31 {
  display: none;
}

/*# sourceMappingURL=index.css.map */
