@for $index from 1 through 31 {
  .calendar__day:nth-child(#{$index})::before {
    content: "#{$index}";
  }
}

@for $day from 28 through 31 {
  .calendar--month-length--#{$day} :nth-child(n + #{$day + 1}) {
    display: none;
  }
}

@each $day, $shift in $daysInWeek {
  .calendar--start-day--#{$day}
  .calendar__day:first-child {
    margin-left: $shift;
  }
}
