body {
  margin: 0;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px;
  gap: 1px;
  width: 726px;
}
.calendar--start-day--mon .calendar__cell:first-child {
  margin-left: 0px;
}
.calendar--start-day--tue .calendar__cell:first-child {
  margin-left: 101px;
}
.calendar--start-day--wed .calendar__cell:first-child {
  margin-left: 202px;
}
.calendar--start-day--thu .calendar__cell:first-child {
  margin-left: 303px;
}
.calendar--start-day--fri .calendar__cell:first-child {
  margin-left: 404px;
}
.calendar--start-day--sat .calendar__cell:first-child {
  margin-left: 505px;
}
.calendar--start-day--sun .calendar__cell:first-child {
  margin-left: 606px;
}
.calendar__cell {
  box-sizing: border-box;
  border: solid 1px black;
  width: 100px;
  height: 100px;
  background-color: #eee;
  font-family: "Arial", sans-serif;
  font-size: 30px;
}
.calendar__cell--day--1::before {
  content: "1";
  display: block;
  text-align: center;
  line-height: 100px;
}
.calendar__cell--day--2::before {
  content: "2";
  display: block;
  text-align: center;
  line-height: 100px;
}
.calendar__cell--day--3::before {
  content: "3";
  display: block;
  text-align: center;
  line-height: 100px;
}
.calendar__cell--day--4::before {
  content: "4";
  display: block;
  text-align: center;
  line-height: 100px;
}
.calendar__cell--day--5::before {
  content: "5";
  display: block;
  text-align: center;
  line-height: 100px;
}
.calendar__cell--day--6::before {
  content: "6";
  display: block;
  text-align: center;
  line-height: 100px;
}
.calendar__cell--day--7::before {
  content: "7";
  display: block;
  text-align: center;
  line-height: 100px;
}
.calendar__cell--day--8::before {
  content: "8";
  display: block;
  text-align: center;
  line-height: 100px;
}
.calendar__cell--day--9::before {
  content: "9";
  display: block;
  text-align: center;
  line-height: 100px;
}
.calendar__cell--day--10::before {
  content: "10";
  display: block;
  text-align: center;
  line-height: 100px;
}
.calendar__cell--day--11::before {
  content: "11";
  display: block;
  text-align: center;
  line-height: 100px;
}
.calendar__cell--day--12::before {
  content: "12";
  display: block;
  text-align: center;
  line-height: 100px;
}
.calendar__cell--day--13::before {
  content: "13";
  display: block;
  text-align: center;
  line-height: 100px;
}
.calendar__cell--day--14::before {
  content: "14";
  display: block;
  text-align: center;
  line-height: 100px;
}
.calendar__cell--day--15::before {
  content: "15";
  display: block;
  text-align: center;
  line-height: 100px;
}
.calendar__cell--day--16::before {
  content: "16";
  display: block;
  text-align: center;
  line-height: 100px;
}
.calendar__cell--day--17::before {
  content: "17";
  display: block;
  text-align: center;
  line-height: 100px;
}
.calendar__cell--day--18::before {
  content: "18";
  display: block;
  text-align: center;
  line-height: 100px;
}
.calendar__cell--day--19::before {
  content: "19";
  display: block;
  text-align: center;
  line-height: 100px;
}
.calendar__cell--day--20::before {
  content: "20";
  display: block;
  text-align: center;
  line-height: 100px;
}
.calendar__cell--day--21::before {
  content: "21";
  display: block;
  text-align: center;
  line-height: 100px;
}
.calendar__cell--day--22::before {
  content: "22";
  display: block;
  text-align: center;
  line-height: 100px;
}
.calendar__cell--day--23::before {
  content: "23";
  display: block;
  text-align: center;
  line-height: 100px;
}
.calendar__cell--day--24::before {
  content: "24";
  display: block;
  text-align: center;
  line-height: 100px;
}
.calendar__cell--day--25::before {
  content: "25";
  display: block;
  text-align: center;
  line-height: 100px;
}
.calendar__cell--day--26::before {
  content: "26";
  display: block;
  text-align: center;
  line-height: 100px;
}
.calendar__cell--day--27::before {
  content: "27";
  display: block;
  text-align: center;
  line-height: 100px;
}
.calendar__cell--day--28::before {
  content: "28";
  display: block;
  text-align: center;
  line-height: 100px;
}
.calendar__cell--day--29::before {
  content: "29";
  display: block;
  text-align: center;
  line-height: 100px;
}
.calendar__cell--day--30::before {
  content: "30";
  display: block;
  text-align: center;
  line-height: 100px;
}
.calendar__cell--day--31::before {
  content: "31";
  display: block;
  text-align: center;
  line-height: 100px;
}

/*# sourceMappingURL=main.css.map */
