body {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1px 1px;
  width: 706px;
}

.calendar__day_mon {
  margin-left: 0;
}

.calendar__day_tue {
  margin-left: 101px;
}

.calendar__day_wed {
  margin-left: 202px;
}

.calendar__day_thu {
  margin-left: 303px;
}

.calendar__day_fri {
  margin-left: 404px;
}

.calendar__day_sat {
  margin-left: 505px;
}

.calendar__day_sun {
  margin-left: 606px;
}

.calendar__day_1 {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  background-color: #eee;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.calendar__day_2 {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  background-color: #eee;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.calendar__day_3 {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  background-color: #eee;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.calendar__day_4 {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  background-color: #eee;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.calendar__day_5 {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  background-color: #eee;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.calendar__day_6 {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  background-color: #eee;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.calendar__day_7 {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  background-color: #eee;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.calendar__day_8 {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  background-color: #eee;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.calendar__day_9 {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  background-color: #eee;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.calendar__day_10 {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  background-color: #eee;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.calendar__day_11 {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  background-color: #eee;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.calendar__day_12 {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  background-color: #eee;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.calendar__day_13 {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  background-color: #eee;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.calendar__day_14 {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  background-color: #eee;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.calendar__day_15 {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  background-color: #eee;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.calendar__day_16 {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  background-color: #eee;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.calendar__day_17 {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  background-color: #eee;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.calendar__day_18 {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  background-color: #eee;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.calendar__day_19 {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  background-color: #eee;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.calendar__day_20 {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  background-color: #eee;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.calendar__day_21 {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  background-color: #eee;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.calendar__day_22 {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  background-color: #eee;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.calendar__day_23 {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  background-color: #eee;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.calendar__day_24 {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  background-color: #eee;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.calendar__day_25 {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  background-color: #eee;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.calendar__day_26 {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  background-color: #eee;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.calendar__day_27 {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  background-color: #eee;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.calendar__day_28 {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  background-color: #eee;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.calendar__day_29 {
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  background-color: #eee;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.calendar__day_1::after {
  content: "1";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__day_2::after {
  content: "2";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__day_3::after {
  content: "3";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__day_4::after {
  content: "4";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__day_5::after {
  content: "5";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__day_6::after {
  content: "6";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__day_7::after {
  content: "7";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__day_8::after {
  content: "8";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__day_9::after {
  content: "9";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__day_10::after {
  content: "10";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__day_11::after {
  content: "11";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__day_12::after {
  content: "12";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__day_13::after {
  content: "13";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__day_14::after {
  content: "14";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__day_15::after {
  content: "15";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__day_16::after {
  content: "16";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__day_17::after {
  content: "17";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__day_18::after {
  content: "18";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__day_19::after {
  content: "19";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__day_20::after {
  content: "20";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__day_21::after {
  content: "21";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__day_22::after {
  content: "22";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__day_23::after {
  content: "23";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__day_24::after {
  content: "24";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__day_25::after {
  content: "25";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__day_26::after {
  content: "26";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__day_27::after {
  content: "27";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__day_28::after {
  content: "28";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__day_29::after {
  content: "29";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__day_1:hover {
  background-color: #ffbfcb;
  transform: translate(0, -20px);
}

.calendar__day_2:hover {
  background-color: #ffbfcb;
  transform: translate(0, -20px);
}

.calendar__day_3:hover {
  background-color: #ffbfcb;
  transform: translate(0, -20px);
}

.calendar__day_4:hover {
  background-color: #ffbfcb;
  transform: translate(0, -20px);
}

.calendar__day_5:hover {
  background-color: #ffbfcb;
  transform: translate(0, -20px);
}

.calendar__day_6:hover {
  background-color: #ffbfcb;
  transform: translate(0, -20px);
}

.calendar__day_7:hover {
  background-color: #ffbfcb;
  transform: translate(0, -20px);
}

.calendar__day_8:hover {
  background-color: #ffbfcb;
  transform: translate(0, -20px);
}

.calendar__day_9:hover {
  background-color: #ffbfcb;
  transform: translate(0, -20px);
}

.calendar__day_10:hover {
  background-color: #ffbfcb;
  transform: translate(0, -20px);
}

.calendar__day_11:hover {
  background-color: #ffbfcb;
  transform: translate(0, -20px);
}

.calendar__day_12:hover {
  background-color: #ffbfcb;
  transform: translate(0, -20px);
}

.calendar__day_13:hover {
  background-color: #ffbfcb;
  transform: translate(0, -20px);
}

.calendar__day_14:hover {
  background-color: #ffbfcb;
  transform: translate(0, -20px);
}

.calendar__day_15:hover {
  background-color: #ffbfcb;
  transform: translate(0, -20px);
}

.calendar__day_16:hover {
  background-color: #ffbfcb;
  transform: translate(0, -20px);
}

.calendar__day_17:hover {
  background-color: #ffbfcb;
  transform: translate(0, -20px);
}

.calendar__day_18:hover {
  background-color: #ffbfcb;
  transform: translate(0, -20px);
}

.calendar__day_19:hover {
  background-color: #ffbfcb;
  transform: translate(0, -20px);
}

.calendar__day_20:hover {
  background-color: #ffbfcb;
  transform: translate(0, -20px);
}

.calendar__day_21:hover {
  background-color: #ffbfcb;
  transform: translate(0, -20px);
}

.calendar__day_22:hover {
  background-color: #ffbfcb;
  transform: translate(0, -20px);
}

.calendar__day_23:hover {
  background-color: #ffbfcb;
  transform: translate(0, -20px);
}

.calendar__day_24:hover {
  background-color: #ffbfcb;
  transform: translate(0, -20px);
}

.calendar__day_25:hover {
  background-color: #ffbfcb;
  transform: translate(0, -20px);
}

.calendar__day_26:hover {
  background-color: #ffbfcb;
  transform: translate(0, -20px);
}

.calendar__day_27:hover {
  background-color: #ffbfcb;
  transform: translate(0, -20px);
}

.calendar__day_28:hover {
  background-color: #ffbfcb;
  transform: translate(0, -20px);
}

.calendar__day_29:hover {
  background-color: #ffbfcb;
  transform: translate(0, -20px);
}

/*# sourceMappingURL=main.css.map */
