$days: mon, tue, wed, thu, fri, sat, sun;
$cell-width: 100px;
$cell-gap: 1px;
$calendar-padding: 10px;
$font-size: 30px;


@for $day-number from 1 through 31 {
  .calendar__day-#{$day-number}::before {
    content: "#{1*$day-number}";
  }
}

body {
  margin: 0;
  padding: 20px;
}

.calendar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $cell-gap;
  padding: $calendar-padding;
  width: calc(7 * #{$cell-width} + 6 * #{$cell-gap} + 2 * #{$calendar-padding});
}

.calendar__day {
  box-sizing: border-box;
  border: 1px solid #000;
  width: $cell-width;
  height: $cell-width;
  list-style: none;
  cursor: pointer;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: $font-size;
  position: relative;
  transition: 500ms;
}

.calendar__day:hover {
  background-color: pink;
  transform: translate(0, -20px);
}
