@mixin cell($size, $color) {
  width: $size;
  height: $size;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: $color;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hoverCell ($effect, $duration) {
  transition: $effect $duration ease-in-out 0;
}
