@mixin max-size {
  height: 100%;
  width: 100%;
}

@mixin flex-container {
  align-items: center;
  justify-content: center;
  display: flex;
}

@mixin delete-from-page {
  visibility: hidden;
  display: none;
}
