@mixin square {
  width: $length;
  height: $side;
}

@mixin day-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
