@import "./variables";

@mixin centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin hovered-cell {
  cursor: pointer;
  background-color: $hover-color;
  transform: translateY(-20px);
}
