@mixin cell {
  width: $cell-size;
  height: $cell-size;
  border: 1px solid $border-color;
  background-color: $background-color;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: transform 0.5s;
}
