.mounth {
  max-width: 708px;
  margin: 0 auto;
  background-color: $bg-color-red;
  border: $frame;

  &__title {
    font-size: 64px;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__weekday {
    display: flex;

  }

  &__weekday-item {
    width: $cell-size;
    margin-right: $margin-shift;

    &:last-child {
      margin-right: 0;
    }
  }

  &__weekday-day {
    font-size: 16px;
    text-align: center;
    font-weight: 600;

  }
}
