.center {
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: calc(#{$day-size} * 7 + #{$gap} * 7);
  padding: $padding * 2;
}
