.page {
  margin: 0;
  padding: 0;

  /* This container prevent of display: flex in body */
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    margin: 0;
    padding: 0;
  }
}
