$cell-width: 100px;
$cell-columns: 7;
$gap-x: 1px;
$pading: 10px;

.pageCalendar--wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
  gap: #{$gap-x};
  padding: 0 $pading;
  width: $cell-width * $cell-columns + $gap-x *
    ($cell-columns - 1) + 2 * $pading;
  margin: 0 auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
