.page__body {
  display: flex;
  align-content: center;
  padding: 0;
  margin: 0;
}

.page__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  margin: 0;
  padding: 0;
}
