html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.page {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(225deg, rgb(81, 255, 121), rgb(181, 239, 238));
}
