* {
  box-sizing: border-box;
}

html {
  font-family: $day-font;
  font-size: $day-text-size;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
