.calendar__cell:nth-child(n + 1)::before,
.calendar__cell:nth-child(n + 2)::before,
.calendar__cell:nth-child(n + 3)::before,
.calendar__cell:nth-child(n + 4)::before,
.calendar__cell:nth-child(n + 5)::before,
.calendar__cell:nth-child(n + 6)::before,
.calendar__cell:nth-child(n + 7)::before,
.calendar__cell:nth-child(n + 8)::before,
.calendar__cell:nth-child(n + 9)::before,
.calendar__cell:nth-child(n + 10)::before,
.calendar__cell:nth-child(n + 11)::before,
.calendar__cell:nth-child(n + 12)::before,
.calendar__cell:nth-child(n + 13)::before,
.calendar__cell:nth-child(n + 14)::before,
.calendar__cell:nth-child(n + 15)::before,
.calendar__cell:nth-child(n + 16)::before,
.calendar__cell:nth-child(n + 17)::before,
.calendar__cell:nth-child(n + 18)::before,
.calendar__cell:nth-child(n + 19)::before,
.calendar__cell:nth-child(n + 20)::before,
.calendar__cell:nth-child(n + 21)::before,
.calendar__cell:nth-child(n + 22)::before,
.calendar__cell:nth-child(n + 23)::before,
.calendar__cell:nth-child(n + 24)::before,
.calendar__cell:nth-child(n + 25)::before,
.calendar__cell:nth-child(n + 26)::before,
.calendar__cell:nth-child(n + 27)::before,
.calendar__cell:nth-child(n + 28)::before,
.calendar__cell:nth-child(n + 29)::before,
.calendar__cell:nth-child(n + 30)::before,
.calendar__cell:nth-child(n + 31)::before {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  align-self: center;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
}

.calendar {
  margin: 0 auto;
  display: flex;
  gap: 1px;
  flex-wrap: wrap;
  width: 707px;
}

.calendar__cell {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-color: #eee;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  transform: translateY(0);
  transition-duration: 0.5s;
}

.calendar__cell:nth-child(n + 1)::before {
  content: "1";
}

.calendar__cell:nth-child(n + 2)::before {
  content: "2";
}

.calendar__cell:nth-child(n + 3)::before {
  content: "3";
}

.calendar__cell:nth-child(n + 4)::before {
  content: "4";
}

.calendar__cell:nth-child(n + 5)::before {
  content: "5";
}

.calendar__cell:nth-child(n + 6)::before {
  content: "6";
}

.calendar__cell:nth-child(n + 7)::before {
  content: "7";
}

.calendar__cell:nth-child(n + 8)::before {
  content: "8";
}

.calendar__cell:nth-child(n + 9)::before {
  content: "9";
}

.calendar__cell:nth-child(n + 10)::before {
  content: "10";
}

.calendar__cell:nth-child(n + 11)::before {
  content: "11";
}

.calendar__cell:nth-child(n + 12)::before {
  content: "12";
}

.calendar__cell:nth-child(n + 13)::before {
  content: "13";
}

.calendar__cell:nth-child(n + 14)::before {
  content: "14";
}

.calendar__cell:nth-child(n + 15)::before {
  content: "15";
}

.calendar__cell:nth-child(n + 16)::before {
  content: "16";
}

.calendar__cell:nth-child(n + 17)::before {
  content: "17";
}

.calendar__cell:nth-child(n + 18)::before {
  content: "18";
}

.calendar__cell:nth-child(n + 19)::before {
  content: "19";
}

.calendar__cell:nth-child(n + 20)::before {
  content: "20";
}

.calendar__cell:nth-child(n + 21)::before {
  content: "21";
}

.calendar__cell:nth-child(n + 22)::before {
  content: "22";
}

.calendar__cell:nth-child(n + 23)::before {
  content: "23";
}

.calendar__cell:nth-child(n + 24)::before {
  content: "24";
}

.calendar__cell:nth-child(n + 25)::before {
  content: "25";
}

.calendar__cell:nth-child(n + 26)::before {
  content: "26";
}

.calendar__cell:nth-child(n + 27)::before {
  content: "27";
}

.calendar__cell:nth-child(n + 28)::before {
  content: "28";
}

.calendar__cell:nth-child(n + 29)::before {
  content: "29";
}

.calendar__cell:nth-child(n + 30)::before {
  content: "30";
}

.calendar__cell:nth-child(n + 31)::before {
  content: "31";
}

.calendar__cell:hover {
  background-color: pink;
  cursor: pointer;
  transform: translateY(-20px);
}

.calendar--mon .calendar__cell:first-child {
  margin-left: 0;
}

.calendar--tue .calendar__cell:first-child {
  margin-left: 101px;
}

.calendar--wed .calendar__cell:first-child {
  margin-left: 202px;
}

.calendar--thu .calendar__cell:first-child {
  margin-left: 303px;
}

.calendar--fri .calendar__cell:first-child {
  margin-left: 404px;
}

.calendar--sat .calendar__cell:first-child {
  margin-left: 505px;
}

.calendar--sun .calendar__cell:first-child {
  margin-left: 606px;
}

.calendar--28 .calendar__cell:nth-child(n + 29) {
  display: none;
}

.calendar--29 .calendar__cell:nth-child(n + 30) {
  display: none;
}

.calendar--30 .calendar__cell:nth-child(n + 31) {
  display: none;
}

.calendar--31 .calendar__cell:nth-child(n + 32) {
  display: none;
}

/*# sourceMappingURL=style.css.map */
