body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

/*#region calendar*/
.calendar {
  padding: 10px;
  width: 706px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  gap: 1px;
  margin: 40px auto;
  background-color: #107e7e;
  border: 7px solid #063d3a;
  border-radius: 10px;
  box-shadow: 10px 7px 7px #98d1d1;
}
.calendar__cell {
  background-color: #eee;
}
.calendar__cell:hover {
  background-color: pink;
  transform: translateY(-20px);
  cursor: pointer;
}

.calendar__cell:nth-child(1)::before {
  content: "1";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar__cell:nth-child(2)::before {
  content: "2";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar__cell:nth-child(3)::before {
  content: "3";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar__cell:nth-child(4)::before {
  content: "4";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar__cell:nth-child(5)::before {
  content: "5";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar__cell:nth-child(6)::before {
  content: "6";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar__cell:nth-child(7)::before {
  content: "7";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar__cell:nth-child(8)::before {
  content: "8";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar__cell:nth-child(9)::before {
  content: "9";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar__cell:nth-child(10)::before {
  content: "10";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar__cell:nth-child(11)::before {
  content: "11";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar__cell:nth-child(12)::before {
  content: "12";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar__cell:nth-child(13)::before {
  content: "13";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar__cell:nth-child(14)::before {
  content: "14";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar__cell:nth-child(15)::before {
  content: "15";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar__cell:nth-child(16)::before {
  content: "16";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar__cell:nth-child(17)::before {
  content: "17";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar__cell:nth-child(18)::before {
  content: "18";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar__cell:nth-child(19)::before {
  content: "19";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar__cell:nth-child(20)::before {
  content: "20";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar__cell:nth-child(21)::before {
  content: "21";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar__cell:nth-child(22)::before {
  content: "22";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar__cell:nth-child(23)::before {
  content: "23";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar__cell:nth-child(24)::before {
  content: "24";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar__cell:nth-child(25)::before {
  content: "25";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar__cell:nth-child(26)::before {
  content: "26";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar__cell:nth-child(27)::before {
  content: "27";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar__month-length--28 .calendar__cell:nth-child(28)::before {
  content: "28";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar__month-length--29 .calendar__cell:nth-child(28)::before {
  content: "28";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}
.calendar__month-length--29 .calendar__cell:nth-child(29)::before {
  content: "29";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar__month-length--30 .calendar__cell:nth-child(28)::before {
  content: "28";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}
.calendar__month-length--30 .calendar__cell:nth-child(29)::before {
  content: "29";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}
.calendar__month-length--30 .calendar__cell:nth-child(30)::before {
  content: "30";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar__month-length--31 .calendar__cell:nth-child(28)::before {
  content: "28";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}
.calendar__month-length--31 .calendar__cell:nth-child(29)::before {
  content: "29";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}
.calendar__month-length--31 .calendar__cell:nth-child(30)::before {
  content: "30";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}
.calendar__month-length--31 .calendar__cell:nth-child(31)::before {
  content: "31";
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}

.calendar__start-day--mon .calendar__cell:first-child {
  margin-left: 0;
}

.calendar__start-day--tue .calendar__cell:first-child {
  margin-left: 101px;
}

.calendar__start-day--wed .calendar__cell:first-child {
  margin-left: 202px;
}

.calendar__start-day--thu .calendar__cell:first-child {
  margin-left: 303px;
}

.calendar__start-day--fri .calendar__cell:first-child {
  margin-left: 404px;
}

.calendar__start-day--sat .calendar__cell:first-child {
  margin-left: 505px;
}

.calendar__start-day--sun .calendar__cell:first-child {
  margin-left: 606px;
}

/* #endregion calendar */

/*# sourceMappingURL=styles.css.map */
