* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  padding: 10px;
  width: 726px;
}

.calendar--month-length--27 :nth-of-type(n + 28) {
  visibility: hidden;
}

.calendar--month-length--28 :nth-of-type(n + 29) {
  visibility: hidden;
}

.calendar--month-length--29 :nth-of-type(n + 30) {
  visibility: hidden;
}

.calendar--month-length--30 :nth-of-type(n + 31) {
  visibility: hidden;
}

.calendar--start-day--mon :first-child {
  margin-left: 0;
}

.calendar--start-day--tue :first-child {
  margin-left: 100px;
}

.calendar--start-day--wed :first-child {
  margin-left: 200px;
}

.calendar--start-day--thu :first-child {
  margin-left: 300px;
}

.calendar--start-day--fri :first-child {
  margin-left: 400px;
}

.calendar--start-day--sat :first-child {
  margin-left: 500px;
}

.calendar--start-day--sun :first-child {
  margin-left: 600px;
}

.calendar__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 20px;
  color: grey;
  background-color: #eee;
  transition-duration: 0.5s;
}

.calendar__cell--1::before {
  content: "1";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__cell--2::before {
  content: "2";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__cell--3::before {
  content: "3";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__cell--4::before {
  content: "4";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__cell--5::before {
  content: "5";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__cell--6::before {
  content: "6";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__cell--7::before {
  content: "7";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__cell--8::before {
  content: "8";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__cell--9::before {
  content: "9";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__cell--10::before {
  content: "10";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__cell--11::before {
  content: "11";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__cell--12::before {
  content: "12";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__cell--13::before {
  content: "13";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__cell--14::before {
  content: "14";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__cell--15::before {
  content: "15";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__cell--16::before {
  content: "16";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__cell--17::before {
  content: "17";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__cell--18::before {
  content: "18";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__cell--19::before {
  content: "19";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__cell--20::before {
  content: "20";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__cell--21::before {
  content: "21";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__cell--22::before {
  content: "22";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__cell--23::before {
  content: "23";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__cell--24::before {
  content: "24";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__cell--25::before {
  content: "25";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__cell--26::before {
  content: "26";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__cell--27::before {
  content: "27";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__cell--28::before {
  content: "28";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__cell--29::before {
  content: "29";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__cell--30::before {
  content: "30";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__cell--31::before {
  content: "31";
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__cell:hover {
  cursor: pointer;
  background-color: pink;
  transform: translateY(-20px);
}

/*# sourceMappingURL=styles.css.map */
