@font-face {
  font-family: Arial;
  src: url("../fonts/Arial.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calendar {
  position: relative;
  width: 706px;
  display: flex;
  gap: 1px;
  flex-wrap: wrap;
  padding: 10px;
}

.calendar__cell {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s;
}

.calendar__cell:hover {
  transform: translateY(-20px);
  background-color: #FFBFCB;
}

.calendar__cell:nth-child(1)::before {
  content: "1";
  font-size: 30px;
}

.calendar__cell:nth-child(2)::before {
  content: "2";
  font-size: 30px;
}

.calendar__cell:nth-child(3)::before {
  content: "3";
  font-size: 30px;
}

.calendar__cell:nth-child(4)::before {
  content: "4";
  font-size: 30px;
}

.calendar__cell:nth-child(5)::before {
  content: "5";
  font-size: 30px;
}

.calendar__cell:nth-child(6)::before {
  content: "6";
  font-size: 30px;
}

.calendar__cell:nth-child(7)::before {
  content: "7";
  font-size: 30px;
}

.calendar__cell:nth-child(8)::before {
  content: "8";
  font-size: 30px;
}

.calendar__cell:nth-child(9)::before {
  content: "9";
  font-size: 30px;
}

.calendar__cell:nth-child(10)::before {
  content: "10";
  font-size: 30px;
}

.calendar__cell:nth-child(11)::before {
  content: "11";
  font-size: 30px;
}

.calendar__cell:nth-child(12)::before {
  content: "12";
  font-size: 30px;
}

.calendar__cell:nth-child(13)::before {
  content: "13";
  font-size: 30px;
}

.calendar__cell:nth-child(14)::before {
  content: "14";
  font-size: 30px;
}

.calendar__cell:nth-child(15)::before {
  content: "15";
  font-size: 30px;
}

.calendar__cell:nth-child(16)::before {
  content: "16";
  font-size: 30px;
}

.calendar__cell:nth-child(17)::before {
  content: "17";
  font-size: 30px;
}

.calendar__cell:nth-child(18)::before {
  content: "18";
  font-size: 30px;
}

.calendar__cell:nth-child(19)::before {
  content: "19";
  font-size: 30px;
}

.calendar__cell:nth-child(20)::before {
  content: "20";
  font-size: 30px;
}

.calendar__cell:nth-child(21)::before {
  content: "21";
  font-size: 30px;
}

.calendar__cell:nth-child(22)::before {
  content: "22";
  font-size: 30px;
}

.calendar__cell:nth-child(23)::before {
  content: "23";
  font-size: 30px;
}

.calendar__cell:nth-child(24)::before {
  content: "24";
  font-size: 30px;
}

.calendar__cell:nth-child(25)::before {
  content: "25";
  font-size: 30px;
}

.calendar__cell:nth-child(26)::before {
  content: "26";
  font-size: 30px;
}

.calendar__cell:nth-child(27)::before {
  content: "27";
  font-size: 30px;
}

.calendar__cell:nth-child(28)::before {
  content: "28";
  font-size: 30px;
}

.calendar__cell:nth-child(29)::before {
  content: "29";
  font-size: 30px;
}

.calendar__cell:nth-child(30)::before {
  content: "30";
  font-size: 30px;
}

.calendar__cell:nth-child(31)::before {
  content: "31";
  font-size: 30px;
}

.calendar--start-day-mon .calendar__cell:first-child {
  margin-left: 0;
}

.calendar--start-day-tue .calendar__cell:first-child {
  margin-left: 101px;
}

.calendar--start-day-wed .calendar__cell:first-child {
  margin-left: 202px;
}

.calendar--start-day-thu .calendar__cell:first-child {
  margin-left: 303px;
}

.calendar--start-day-fri .calendar__cell:first-child {
  margin-left: 404px;
}

.calendar--start-day-sat .calendar__cell:first-child {
  margin-left: 505px;
}

.calendar--start-day-sun .calendar__cell:first-child {
  margin-left: 606px;
}

.calendar--month-length-28 .calendar__cell:nth-child(n+29) {
  display: none;
}

.calendar--month-length-29 .calendar__cell:nth-child(n+30) {
  display: none;
}

.calendar--month-length-30 .calendar__cell:nth-child(n+31) {
  display: none;
}

.calendar--month-length-31 .calendar__cell:nth-child(n+32) {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
