html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: calc((7 * 100px) + 6px);
  padding: 10px;
  gap: 1px;
  counter-reset: day-counter 0;
}

.calendar__day {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  background-color: #eee;
  border: 1px solid black;
  box-sizing: border-box;
}

.calendar__day::before {
  counter-increment: day-counter;
  content: counter(day-counter);
}

.calendar__day:hover {
  cursor: pointer;
  background-color: #ffbfcb;
  transform: translateY(-20px);
  transition: all 0.5s;
}

/* Позиціювання днів за стартовим днем тижня */
.calendar--start-day-mon .calendar__day:nth-child(1) {
  margin-left: calc(0 * (100px + 1px));
}

.calendar--start-day-tue .calendar__day:nth-child(1) {
  margin-left: calc(1 * (100px + 1px));
}

.calendar--start-day-wed .calendar__day:nth-child(1) {
  margin-left: calc(2 * (100px + 1px));
}

.calendar--start-day-thu .calendar__day:nth-child(1) {
  margin-left: calc(3 * (100px + 1px));
}

.calendar--start-day-fri .calendar__day:nth-child(1) {
  margin-left: calc(4 * (100px + 1px));
}

.calendar--start-day-sat .calendar__day:nth-child(1) {
  margin-left: calc(5 * (100px + 1px));
}

.calendar--start-day-sun .calendar__day:nth-child(1) {
  margin-left: calc(6 * (100px + 1px));
}

/* Приховування днів для місяців з менше ніж 28 днів */
.calendar--month-length-28 .calendar__day:nth-child(n + 29) {
  display: none;
}

.calendar--month-length-29 .calendar__day:nth-child(n + 30) {
  display: none;
}

.calendar--month-length-30 .calendar__day:nth-child(n + 31) {
  display: none;
}
