$day-color: #eee;
$day-size: 100px;
$day-font: Arial;
$day-font-size: 30px;
$hover-color: #FFBFCB;
$start-day-margins: (
  mon: 0,
  tue: 101px,
  wed: 202px,
  thu: 303px,
  fri: 404px,
  sat: 505px,
  sun: 606px,
);
$standard-start-day: 'sun';
$standard-month-length: 31;
