$day-border: #000;
$day-color: #eee;
$number-of-days: 31;
$cell-size: 100px;
$number-of-cells: 7;
$calendar-width: $cell-size * $number-of-cells + ($number-of-cells - 1);
$margin-day: $cell-size + 1px;
$days: 'mon' 0,
  'tue' 1,
  'wed' 2,
  'thu' 3,
  'fri' 4,
  'sat' 5,
  'sun' 6;
