$number-of-days: 31;
$number-of-cells: 7;
$cell-size: 100px;
$calendar-width: $number-of-cells * $cell-size + ($number-of-cells - 1);
$margin-day: $cell-size + 1px;
$days:
  "mon" 0,
  "tue" 1,
  "wed" 2,
  "thu" 3,
  "fri" 4,
  "sat" 5,
  "sun" 6;
