$day-size: 100px;
$gap: 1px;
$overall-day-size: $day-size + $gap;
$color-day: #eee;
$color-day-active: pink;
$days-of-week: (
  "mon" 0,
  "tue" 1,
  "wed" 2,
  "thu" 3,
  "fri" 4,
  "sat" 5,
  "sun" 6,
);
