$padding-left-right-calendar: 10px;
$width-height-block: 98px;
$background-color-block: #eee;
$font-size: 30px;
$block-gap: 1px;
$color-hover-block: pink;
$max-width-block: 706px;
$day-of-week: (
  mon: 0,
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
  sun: 6,
);
