$squareBox: 100px;
$sizeCalendar:
  ($paddingCalendar * 2) +
  ($squareBox * $dayInWeek) +
  ($dayInWeek * $size-gap - $size-gap);
$black: #000;
$border: 1px solid $black;

$size-gap: 1px;
$paddingCalendar: 10px;
$days:
  "mon" 1,
  "tue" 2,
  "wed" 3,
  "thu" 4,
  "fri" 5,
  "sat" 6,
  "sun" 7;
$dayInWeek: 7;
$monthLength: 31;
