$size-of-cell: 100px;
$size-of-gap: 1px;
$days-in-week: 7;
$width-calendar:
  ($days-in-week)*($size-of-cell)+(($days-in-week)-1)*($size-of-gap);

$days:
  "mon" 0,
  "tue" 1,
  "wed" 2,
  "thu" 3,
  "fri" 4,
  "sat" 5,
  "sun" 6;

$time-transform: 0.5s;
