$daySquareSize: 100px;
$dayPaddingSize: 10px;
$dayBorderSize: 1px;
$dayGapSize: 1px;
$fontSize: 30px;
$dayInWeek: 7;
$fontSize: 30px;
$totalColumns: $dayInWeek;
$wOW: $dayInWeek * $daySquareSize;
$totalWidth: $wOW + (($totalColumns - 1) * $dayGapSize) + ($dayPaddingSize * 2);
