$size-day-cell: 100px;
$background-color-hover: #FFBFCB;
$background-color: #eee;

$padding-calendar: 10px;
$gap: 1px;

$width-calendar: ($size-day-cell * 7) + ($padding-calendar * 2) + ($gap * 6);

//                                     weekday   the-number-of-gap
//                                       \/          \/
$mon: ($width-calendar - $size-day-cell * 7 - ($gap * 6)) - ($padding-calendar * 2);
$tue: ($width-calendar - $size-day-cell * 6 - ($gap * 5)) - ($padding-calendar * 2);
$wed: ($width-calendar - $size-day-cell * 5 - ($gap * 4)) - ($padding-calendar * 2);
$thu: ($width-calendar - $size-day-cell * 4 - ($gap * 3)) - ($padding-calendar * 2);
$fri: ($width-calendar - $size-day-cell * 3 - ($gap * 2)) - ($padding-calendar * 2);
$sat: ($width-calendar - $size-day-cell * 2 - $gap) - ($padding-calendar * 2);
$sun: ($width-calendar - $size-day-cell) - ($padding-calendar * 2);
