$day-size: 100px;
$border-width: 1px;
$border-color: #000;
$background-color: #eee;
$background-hover-color: #FFBFCB;
$font-size: 30px;
$padding: 10px;
$columns: 7;
$gap: 1px;
$container-width: $columns * ($day-size + $gap) - $gap + 2 * $padding;
$starting-day: sun;
$days-of-week: (sun, mon, tue, wed, thu, fri, sat);
