$day-size: 100px;
$day-gap: 1px;
$day-border-width: 1px;
$column-count: 7;
$gap-count: 6;
$calendar-padding: 10px;
$transition-duration: 0.5s;
$weekdays: (
  'mon': 0,
  'tue': 1,
  'wed': 2,
  'thu': 3,
  'fri': 4,
  'sat': 5,
  'sun': 6,
);
$day-color: #eee;
$border-color: #000;
$hover-color: #ffbfcb;
