$body-width: 100%;
$calendar-width: 706px;
$general-margin: calc((#{$body-width} - #{$calendar-width}) / 2);

$one: 0;
$two: 101px;
$three: 202px;
$four: 303px;
$five: 404px;
$six: 505px;
$seven: 606px;

$color-main: #eee;
$color-border: #000;
$color-hover: #f9a5c0;
