$calendar-bcg-color: #eee;
$calendar-gap: 1px;
$calendar-width: 100px;
$calendar-height: 100px;
$calendar-hover-bcg-color: #ffbfcb;
$start-day: (
  mon: 0,
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
  sun: 6,
);
$calendar-font: Arial;
$month-length: (28, 29, 30, 31);
