$cell-size: 100px;
$cell-gap: 1px;
$calendar-size: $cell-size * 7 + 8px;
$borderColor: #000;
$borderBackgroundColor: rgb(237, 226, 226);
$days:
  "mon" 0,
  "tue" $cell-size + $cell-gap,
  "wed" $cell-size * 2 + $cell-gap + 1,
  "thu" $cell-size * 3 + $cell-gap + 2,
  "fri" $cell-size * 4 + $cell-gap + 3,
  "sat" $cell-size * 5 + $cell-gap + 4,
  "sun" $cell-size * 6 + $cell-gap + 5;
