$gap: 1px;
$width-cell: 100px;
$padding-calendar: 10px;
$width-calendar: ($width-cell * 7) + ($gap * 6) + ($padding-calendar * 2);
$width-cells-plus-gap: $width-cell + $gap;
$week: (
  'mon': 0,
  'tue': $width-cells-plus-gap,
  'wed': $width-cells-plus-gap * 2,
  'thu': $width-cells-plus-gap * 3,
  'fri': $width-cells-plus-gap * 4,
  'sat': $width-cells-plus-gap * 5,
  'sun': $width-cells-plus-gap * 6,
);
