$calendar-color: #eee;
$pointer-calendar-color: #ffbfcb;
$day-gap: 1px;
$day-width: 100px;
$day-border: 1px solid black;
$columns: 7;
$calendar-width: (($day-width + $day-gap) * $columns) - $day-gap;
$numbers: 31;
$days: (
  'mon': 0,
  'tue': 1,
  'wed': 2,
  'thu': 3,
  'fri': 4,
  'sat': 5,
  'sun': 6,
);
