$space: 1px;
$size__box-day: 100px;
$hover-background-color: #ffbfcb;
$width-calendar: $size__box-day * 7 + $space * 6;
$days: "mon" 0 , "tue" 1 , "wed" 2 , "thu" 3 , "fri" 4 ,"sat" 5 , "sun" 6;
$first-day-margin: $size__box-day + $space;
$time-transition: 0.4s;
