.week {
  box-sizing: border-box;
  width: $calendar-width;
  padding: $default-padding 0;
  display: flex;
  justify-content: space-around;
  list-style-type: none;

  &__day {
    width: $day-cell;
    display: flex;
    justify-content: center;
  }
}
