.weekday {

  @each $day in $days {
    &__name--#{$day} {
      @if $day == mon {
        margin-left: 0;
      }
      @else if $day == tue {
        margin-left: $cell-size;
      }
      @else if $day == wed {
        margin-left: #{$cell-size * 2};
      }
      @else if $day == thu {
        margin-left: #{$cell-size * 3};
      }
      @else if $day == fri {
        margin-left: #{$cell-size * 4};
      }
      @else if $day == sat {
        margin-left: #{$cell-size * 5};
      }
      @else if $day == sun {
        margin-left: #{$cell-size * 6};
      }
    }
  }

  height: 22px;
  border: $border-size;

  &__list {
    position: relative;
    display: flex;
    justify-content: flex-start;
  }

  &__name {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    color: #000;
    background-color: #f85a5a;
    width: $cell-size;
    border: $border-size;

  }
}
