$card-color: #eee;
$card-size: 100px;
$gap-size: 1px;
$week-width: calc(7 * #{$card-size} + 6 * #{$gap-size});

$weekdays:
  "mon" calc(#{$card-size + #{$gap-size}}),
  "tue" calc(2 * (#{$card-size + #{$gap-size}})),
  "wed" calc(3 * (#{$card-size + #{$gap-size}})),
  "thu" calc(4 * (#{$card-size + #{$gap-size}})),
  "fri" calc(5 * (#{$card-size + #{$gap-size}})),
  "sat" calc(6 * (#{$card-size + #{$gap-size}})),
  "sun" calc(7 * (#{$card-size + #{$gap-size}}));
