@use "./variables" as *;

@mixin calendar {
  display: flex;
  flex-wrap: wrap;
  gap: $base-gap;

  padding: $base-padding;
}

@mixin day {
  width: $square-day;
  height: $square-day;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $base-color;
  border: 1px solid #000;

}

@mixin day-hover {
  background-color: $hover-color;

  transform: translateY(-20px);
  transition: all 0.5ms;

  cursor: pointer;
}
