$square-day: 100px;
$initial-day: 1;
$default-days: 31;
$base-color: #eee;
$hover-color: #ffbfcb;
$base-font: 30px;
$total-columns: 7;
$base-gap: 1px;
$base-padding: 10px;
$calendar-width: ($square-day * $total-columns) + (($total-columns - 1) * $base-gap) + (2 * $base-padding);
$days-of-week: (
  mon: 1,
  tue: 2,
  wed: 3,
  thu: 4,
  fri: 5,
  sat: 6,
  sun: 7
);
