$size-square:100px;
$gap-square: 1px;
$color-square:#eee;

$max-width: 7 * $size-square + $gap-square * 7 + 10 * 2;

$days:
  "mon" ($size-square+$gap-square),
  "tue" 2 * ($size-square+$gap-square),
  "wed" 3 * ($size-square+$gap-square),
  "thu" 4 * ($size-square+$gap-square),
  "fri" 5 * ($size-square+$gap-square),
  "sat" 6 * ($size-square+$gap-square);

%sizes-square {
  width: $size-square;
  height: $size-square;
}
