
$number: 0;
$gap: 1px;
$paddings: 10px;
$cell-size: 100px;
$columns: 7;
$calendar-width:
  ($cell-size * $columns) +
  ($gap * ($columns - 1)) +
  ($paddings * 2);

$c-cell-border: #000;
$c-cell:  #eee;
$c-cell-on-hover: rgb(245, 100, 245);
$transition-time: 0.5s;
$days:
  "mon" 0,
  "tue" 1,
  "wed" 2,
  "thu" 3,
  "fri" 4,
  "sat" 5,
  "sun" 6;
