$cellSize: 100px;
$paddingSize: 10px;
$gapSize: 1px;
$days:
      "mon" 0,
      "tue" $cellSize + $gapSize,
      "wed" ($cellSize + $gapSize) * 2,
      "thu" ($cellSize + $gapSize) * 3,
      "fri" ($cellSize + $gapSize) * 4,
      "sat" ($cellSize + $gapSize) * 5,
      "sun" ($cellSize + $gapSize) * 6;
