$gap-size: 1px;
$square-size: 100px;
$font-size: 30px;
$calendar-pading: 10px;

$one-day-margin : $square-size + $gap-size;
$start-day-margin: (
  "mon" 0,
  "tue" $one-day-margin,
  "wed" 2 * $one-day-margin,
  "thu" 3 * $one-day-margin,
  "fri" 4 * $one-day-margin,
  "sat" 5 * $one-day-margin,
  "sun" 6 * $one-day-margin
);
