$day-size: 100px;
$gap: 1px;
$bdr-width: 1px;
$padding: 10px;
$font-size: 0.3 * $day-size;
$calendar-columns: 7;
$calendar-width: ((2 * $padding
+ $calendar-columns * $day-size))
  + (($calendar-columns - 1) * $gap);

$day-clr: #eee;
$day-clr-hover: pink;

$start-day: (
  "mon": 0,
  "tue": 1,
  "wed": 2,
  "thu": 3,
  "fri": 4,
  "sat": 5,
  "sun": 6
);
