$calendar-background-color: #eee;
$month-length: 31;
$weekDays: (
  'mon': 0,
  'tue': 1,
  'wed': 2,
  'thu': 3,
  'fri': 4,
  'sat': 5,
  'sun': 6,
);
$dayWidth: 100px;
$dayHeight: 100px;
$gapWidth: 1px;
$paddingWidth: 10px;
