$cellSize: 100px;
$borderSize: 1px;
$gapSize: 1px;
$paddingSize: 10px;
$columns: 7;
$calendarWidth: $columns * ($cellSize + $gapSize) - $gapSize + 2 * $paddingSize;
$minMonthDays: 28;
$maxMonthDays: 31;
$startDays: "mon" 0, "tue" 1, "wed" 2, "thu" 3, "fri" 4, "sat" 5, "sun" 6;
