$day-size: 100px;
$days-gap: 1px;
$calendar-padding: 10px;
$days-font-size: 30px;
$days-border: 1px solid black;
$days-background: #eee;
$days-background-hover: pink;
$day-size-with-gap: $day-size + $days-gap;
$calendar-width: ($day-size-with-gap * 7) + ($calendar-padding * 2);
$start-day:
  'mon' 0,
  'tue' 1,
  'wed' 2,
  'thu' 3,
  'fri' 4,
  'sat' 5,
  'sun' 6;
