$calendar-padding: 10px;
$calendar-margin: auto;
$calendar-day-size: 100px;
$calendar-days-gap: 1px;
$calendar-days-font-size: 30px;
$calendar-days-border: 1px solid black;
$calendar-days-background: #eee;
$calendar-days-background-hover: pink;
$calendar-days-transition-duration: 0.5s;
$calendar-days-hover-transform: translateY(-20px);
$calendar-days-on-hover-fw: bold;
$calendar-day-size-with-gap: $calendar-day-size + $calendar-days-gap;
$calendar-width: ($calendar-day-size-with-gap * 7);
$calendar-start-days:
  "mon" 0,
  "tue" 1,
  "wed" 2,
  "thu" 3,
  "fri" 4,
  "sat" 5,
  "sun" 6;
