body {
  margin: 0;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1px;
  max-width: 100px;
  margin: auto;
  font-family:;
}

.day {
  background-color: #e0e0e0;
  border: 1px solid #000;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}

.special-day {
  grid-column: 8 / span 1;
  background-color: #e0e0e0;
  border: 1px solid #000;
  text-align: center;
  padding: 20px;
}
