@for $day from 1 through 31 {
  .calendar__day {
    box-sizing: border-box;

    &:nth-child(#{$day}) {
      position: relative;

      height: $cell-width;
      width: $cell-width;

      background-color: #eee;

      border: 1px solid #000;

      &:hover {
        cursor: pointer;

        transform: translateY(-20px);

        background-color: pink;
      }

      &::before {
        content: "#{$day}";

        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
      }
    }
  }
}

@for $count from 28 to 31 {
  .calendar__box--month-length--#{$count} {
    .calendar__day:nth-child(+n+#{$count + 1}) {
      display: none;
    }
  }
}

@each $name, $value in $start-day {
  .calendar__box--start-day--#{$name}:first-child {
    .calendar__day:nth-child(1) {
      margin-left: ($cell-width + $gap) * $value;
    }
  }
}
