$cell-size: 100px;
$calendar-size: 720px;
$margin-gap: 101px;

$start-day:
  "mon" 0,
  "tue" $margin-gap * 1,
  "wed" $margin-gap * 2,
  "thu" $margin-gap * 3,
  "fri" $margin-gap * 4,
  "sat" $margin-gap * 5,
  "sun" $margin-gap * 6;
