$cell-size: 100px;
$cell-gap: 1px;
$days-in-week: 7;
$calendar-padding: 10px;
$calendar-width:  $cell-size * $days-in-week  + $cell-gap * ($days-in-week - 1) + $calendar-padding * 2;
$box-with-gap: $cell-size + $cell-gap;

$days-of-the-week:
  "mon" 0,
  "tue" ($box-with-gap),
  "wed" ($box-with-gap * 2),
  "thu" ($box-with-gap * 3),
  "fri" ($box-with-gap * 4),
  "sat" ($box-with-gap * 5),
  "sun" ($box-with-gap * 6);