@keyframes cell-hover {
  from {
    background-color: #eee;
    transform: translateY(0);
  }

  to {
    background-color: $color-hover;
    transform: $hover-move;
  }
}

@keyframes cell-hover-end {
  from {
    background-color: $color-hover;
    transform: $hover-move;
  }

  to {
    background-color: #eee;
    transform: translateY(0);
  }
}
