%days {
  display: block;
  position: absolute;
  top: $days-number-shift;
  left: $days-number-shift;
  height: $days-number-size;
  width: $days-number-size;
  line-height: $days-number-size;
  text-align: center;
  font-size: $days-size * 0.3;
}
