%date-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  display: inline-block;
  position: absolute;
  left: 50%;
  line-height: $cell-size;
  transform: translateX(-50%);
}
