%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%cell-text-settings {
  font-family: inherit;
  font-size: 30px;
  display: inline-block;
}

%cell-settings {
  @extend %flex-center;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid black;
  transition-duration: 0.5s;
}
