%day-block-parametrs {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $width-of-day-tale;
  height: $height-of-day-tale;
  background-color: #eee;
  border: 1px solid #000;
  cursor: pointer;
}

%disable-last-days {
  color: #fff;
  background-color: #fff;
  border: 1px solid #fff;
  cursor: unset;
}
