@function getSize($cell-size, $gap-size) {
  @return ($cell-size * 7) + ($gap-size * 6) + 20px;
}

@for $index from 1 through 31 {
  .calendar__day:nth-child(#{$index})::before {
    content: "#{$index}";
  }
}

@each $day, $shift in $week-days {
  .calendar--start-day--#{$day} :first-child {
    margin-left: $shift;
  }
}

@for $index from 28 through 31 {
  .calendar--month-length--#{$index} :nth-child(n + #{$index + 1}) {
    display: none;
  }
}
