@for $index from 1 through 31 {
  .calendar__item--#{$index}::before {
    content: "#{$index}";
    position: absolute;
    width: $cell-size;
    height: $cell-size;
    line-height: $cell-size;
    text-align: center;
  }
}

@each $name, $shift in $days {
  .calendar--start-day_#{$name} :first-child {
    margin-left: $shift;
  }
}

@for $index from 28 through 31 {
  .calendar--month-length_#{$index} :nth-child(n + #{$index + 1}) {
    visibility: hidden;
  }
}
