@for $i from 1 through 31 {
  .calendar .calendar__day:nth-child(#{$i})::before {
    align-self: center;
    font-family: Arial, sans-serif;
    font-size: 30px;
    content: "#{$i}";
  }
}

@for $i from 28 through 31 {
  .calendar--month-length-#{$i} .calendar__day:nth-last-child(-n+#{31-$i}) {
    display: none;
  }
}

@each $name, $day in $days {
  .calendar--start-day-#{$name}::before {
    content: "";
    height: $cell-size;
    width: (1px + $cell-size) * ($day - 1) - 1px;
  }
}
