@mixin cellMonth ($fst, $end) {
  @for $i from $fst through $end {
    .calendar__cell:nth-child(#{$i})::before {
      content: "#{$i}";
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      border: 1px solid #000;
      width: 100px;
      height: 100px;
    }
}
}
