@mixin flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

@mixin font {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: $box-size;
  text-align: center;
  color: $color-black;
}

@mixin size {
  width: 100px;
  height: 100px;
}
