@mixin squares () {
  box-sizing: border-box;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: $cell_size;
  height: $cell_size;
  background-color: #eee;
  cursor: pointer;
  border: 1px solid black;
  transition: transform 0.5s ease-in-out;
  padding: 10px;
}
