@mixin square {
  display: flex;
  width: $day-size;
  height: $day-size;
  box-sizing: border-box;
  border: 1px solid #000;
  background-color: #eee;
  padding: 10px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  transition: color 0.5s, transform 0.5s;
}
