@mixin dayCell ($cellSize, $cellColor) {
  box-sizing: border-box;
  width: $cellSize;
  height: $cellSize;
  background-color: $cellColor;
  border: 1px solid black;
}

@mixin dayMargin($index) {
  margin-left: ($cellSize + $gap) * $index;
}
