@mixin square($size) {
  width: $size;
  height: $size;
  border: 1px solid #000;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.5s;
  cursor: pointer;
}
