@import "./utils/variables";

html {
  font-family: Arial, sans-serif;
  font-size: 30px;
}

body {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: ($day-size * 7) + ($base-gap * 7);
  height: 100vh;
  margin: 0 auto;
}
