$cell-size: 100px;
$month-row: 7;
$cell-gap: 1px;
$pading: 10px;

$max-calendar-width: $month-row * $cell-size + $pading * 2;

$day-of-week:
  "mon" 0,
  "tue" 1,
  "wed" 2,
  "thu" 3,
  "fri" 4,
  "sat" 5,
  "sun" 6;
