$main-color: #e9967a;
$bg-color: #000;
$day-size: 100px;
$padding-size: 24px;
$width: ($day-size * 7) + ($padding-size * 2) + 6;
$month-name: "july";
$month-length: 31;
$start-position:
  sun 0,
  mon $day-size + 1,
  tue 2 * $day-size + 2,
  wed 3 * $day-size + 3,
  thu 4 * $day-size + 4,
  fri 5 * $day-size + 5,
  sat 6 * $day-size + 6;
