$color-square: #eee;
$day-size: 100px;
$calendar-padding: 10px;
$calendar-gap: 1px;
$calendar-width: $day-size*7 + $calendar-padding*2 + $calendar-gap*6;
$days: 
  "mon" 0,
  "tue" 1,
  "wed" 2,
  "thu" 3,
  "fri" 4,
  "sat" 5,
  "sun" 6;
