$fontSize: 30px;
$cellSize: 100px;
$cellGap: 1px;
$contentPaddings: 10px;
$borderWeight: 1px;
$contentWidth: 7 * $cellSize + 6 * $cellGap + 2 * $contentPaddings;
$week-day:
  "mon" 0,
  "tue" $cellSize + $cellGap,
  "wed" 2 * ($cellSize + $cellGap),
  "thu" 3 * ($cellSize + $cellGap),
  "fri" 4 * ($cellSize + $cellGap),
  "sat" 5 * ($cellSize + $cellGap),
  "sun" 6 * ($cellSize + $cellGap);
