$c-moon: #eea;
$c-red: #ff5733;
$c-dark-blue: #114;
$c-blue: #11a;
$c-lime: yellowgreen;

$month-length: 31;

$disable-days: $month-length + 1;

$day-border-width: 1;
$day-side: 100;
$day-margin: 1;
$day-block-width: ($day-border-width * 2) + $day-margin + $day-side;
$month-width: 7 * $day-block-width;

$week: (
  "mon": $day-margin,
  "tue": $day-block-width + $day-margin,
  "wed": ($day-block-width * 2) + $day-margin,
  "thu": ($day-block-width * 3) + $day-margin,
  "fri": ($day-block-width * 4) + $day-margin,
  "sat": ($day-block-width * 5) + $day-margin,
  "sun": ($day-block-width * 6) + $day-margin
);
