$calendar-gap-size: 1px;
$cell-size: 100px;
$calendarWidth: (7 * $calendar-gap-size) + (7 * $cell-size);
$weekDay: 
  "mon" 0,
  "tue" $cell-size + $calendar-gap-size,
  "wed" $cell-size * 2 + $calendar-gap-size * 2,
  "thu" $cell-size * 3 + $calendar-gap-size * 3,
  "fri" $cell-size * 4 + $calendar-gap-size * 4,
  "sat" $cell-size * 5 + $calendar-gap-size * 5,
  "sun" $cell-size * 6 + $calendar-gap-size * 6;
$cell-color: #eee;
$black-border: black;
$hover-cell-color: pink;
$transitionDuration: 0.5s;
