$size-box-day: 100px;
$gap-day: 1px;
$width-calendar: $size-box-day * 7 + $gap-day * 8 + 1;
$height-calendar: $size-box-day * 5 + $gap-day * 6 + 1;

$c-box-day: #eee;
$c-box-day-hover: rgb(251, 122, 255);

$week: (
  "mon": 0,
  "tue": $size-box-day*1,
  "wed": $size-box-day*2 + 1px,
  "thu": $size-box-day*3 + 2px,
  "fri": $size-box-day*4 + 3px,
  "sat": $size-box-day*5 + 4px,
  "sun": $size-box-day*6 + 5px
);

