$day-cell: 100px;
$column: 7;
$gap: 1px;
$calendar-padd: 10px;
$width-calendar: 
($day-cell * $column) + ($gap * ($column - 1)) + (2 * $calendar-padd);
$day-week: 
  "mon" 0,
  "tue" 1,
  "wed" 2,
  "thu" 3,
  "fri" 4,
  "sat" 5,
  "sun" 6;
