$day-size: 100px;
$font-size: 30px;
$calendar-padding: 10px;
$gap: 1px;
$day-color: #eee;
$hover-color: rgb(160, 25, 47);

$calendar-width: (7 * $day-size) + (2 * $calendar-padding) + (6 * $gap);
$week:
  "mon" 0,
  "tue" ($day-size * 1 + $gap * 0),
  "wed" ($day-size * 2 + $gap * 1),
  "thu" ($day-size * 3 + $gap * 2),
  "fri" ($day-size * 4 + $gap * 3),
  "sat" ($day-size * 5 + $gap * 4),
  "sun" ($day-size * 6 + $gap * 5);
