$card-square: 100px;
$cell-gap: $card-square / 100;
$month-margin: $card-square / 2;
$calander-width: ($card-square * 7) + $cell-gap * 6 + $month-margin;
$cell-border: $card-square / 100;
$week-days:
  "mon" 0,
  "tue" 1,
  "wed" 2,
  "thurs" 3,
  "fri" 4,
  "sat" 5,
  "sun" 6;
