$box-size: 100px;
$space-around: 10px;
$days-margin-left:
  "mon" 0,
  "tue" $box-size + 1px,
  "wed" $box-size*2 + 2px,
  "thu" $box-size*3 + 3px,
  "fri" $box-size*4 + 4px,
  "sat" $box-size*5 + 5px,
  "sun" $box-size*6 + 6px; 
