$cell-size: 100px;
$calendar-padding: 10px;
$calendar-gap: 1px;

$days:
  "mon" 0,
  "tue" 1 * ($cell-size + $calendar-gap),
  "wed" 2 * ($cell-size + $calendar-gap),
  "thu" 3 * ($cell-size + $calendar-gap),
  "fri" 4 * ($cell-size + $calendar-gap),
  "sat" 5 * ($cell-size + $calendar-gap),
  "sun" 6 * ($cell-size + $calendar-gap);

$num-day-in-month: 28, 29 ,30, 31;
