$day-of-week:
  0 "mon",
  1 "tue",
  2 "wed",
  3 "thu",
  4 "fri",
  5 "sat",
  6 "sun";

$col: 7;
$row: 5;
$cell-size: 100px;
$calendar-width: $cell-size * $col+ 10;
$calendar-height: $cell-size * $row + 4;
