/* numeral vars */
$cell-gap: 1px;
$cell-size: 100px;
$cell-space: $cell-size + $cell-gap;
$cell-y-offset: 20px;

$max-width: 7 * $cell-size + 6 * $cell-gap;

$days-num: 31;
$day-shift-pair:
  "mon" 0,
  "tue" $cell-space,
  "wen" $cell-space * 2,
  "thu" $cell-space * 3,
  "fri" $cell-space * 4,
  "sat" $cell-space * 5,
  "sun" $cell-space * 6;

$duration: 0.5s;

/* colors */
$color-light-gray: #eee;
$color-pink: #ffc0cb;
