$calendar-gap-size: 1px;
$cell-size: 100px;
$calendarWidth: (7 * $calendar-gap-size) + (7 * $cell-size);
$dayMargin:  $cell-size + $calendar-gap-size;
$weekDay: 
  "mon" 0,
  "tue" $dayMargin,
  "wed" $dayMargin * 2,
  "thu" $dayMargin * 3,
  "fri" $dayMargin * 4,
  "sat" $dayMargin * 5,
  "sun" $dayMargin * 6;
$cell-color: #eee;
$black-border: black;
$hover-cell-color: pink;
$transitionDuration: 0.5s;
