$width-day: 100px;
$gap: 1px;
$padding: 10px;
$width-calendar: 7 * $width-day + 2 * $padding + 6 * $gap;
$day-start: $width-day + $gap;

$days:
  "mon" 0,
  "tue" $day-start * 1,
  "wed" $day-start * 2,
  "thu" $day-start * 3,
  "fri" $day-start * 4,
  "sat" $day-start * 5,
  "sun" $day-start * 6;
