$box-width: 100px;
$box-height:100px;
$box-size: $box-width * 8;
$number-size: 1 * $box-width;
$color-grey: #eee;
$color-black: #000;
$days: ("mon": 0, "tue": 1, "wed": 2, "thu": 3, "fri": 4, "sat": 5, "sun": 6,);
