$block-size: 100px;
$block-color:#eee;
$padding: 10px;
$block-gap: 1px;
$calendar-padding: 10px;
$calendar-width: $block-size * 8 + $block-gap * 8 + $calendar-padding * 1;


$days:
  "mon" 0,
  "tue" ($block-size * 1 + $block-gap * -8) + 10px,
  "wed" ($block-size * 2 + $block-gap * -5) + 10px,
  "thu" ($block-size * 3 + $block-gap * -2) + 10px,
  "fri" ($block-size * 4 + $block-gap * 1) + 10px,
  "sat" ($block-size * 5 + $block-gap * 4) + 10px,
  "sun" ($block-size * 6 + $block-gap * 7) + 10px;
