$square-size: 100px;
$gap-size: 1px;

$week-days:
  0 "mon",
  ($square-size + $gap-size) "tue",
  ($square-size + $gap-size) * 2 "wed",
  ($square-size + $gap-size) * 3 "thu",
  ($square-size + $gap-size) * 4 "fri",
  ($square-size + $gap-size) * 5 "sat",
  ($square-size + $gap-size) * 6 "sun";
