$size: 100px;
$calendarGap: 1px;
$numberSize: 30px;
$calendarMargin: 10px;
$bgcolor: #eee;
$hoverColor: pink;
$calendarWidth: ($calendarMargin + $size) * 7;
$dayMargin:
  "mon" 0,
  "tue" $size + $calendarGap,
  "wed" ($size + $calendarGap) * 2,
  "thu" ($size + $calendarGap) * 3,
  "fri" ($size + $calendarGap) * 4,
  "sat" ($size + $calendarGap) * 5,
  "sun" ($size + $calendarGap) * 6;
