@keyframes hover-animation {
  from {
    transform: translateY(0);
    background-color: $day-block-background-color;
  }

  to {
    transform: translateY(#{-$move-day-block-up});
    background-color: $day-block-hover-background-color;
  }
}
