@for $day from 1 through 31 {
  .calendar__day:nth-child(#{$day}):before {
    content: "#{$day}";
  }
}

@each $day, $column in $weekdays {
  .calendar--start-day--#{$day} :nth-child(1) {
    margin-left: ($cell-size + $gap) * $column;
  }
}

@for $month-length from 28 through 31 {
  .calendar--month-length-#{$month-length} {
    .calendar__day:nth-child(n + #{$month-length + 1}) {
      display: none;
    }
  }
}
