@import "./utils/variables.scss";

/*filling cells with numbers according to month length*/
@for $index from 1 through 31 {
  .calendar--month-length--#{$index} {
    @for $index2 from 1 through $index {
      .calendar__day:nth-child(#{$index2}) {
        background: #eee;
        border: 1px solid black;
        &::before {
          content: "#{$index2}";
        }

        &:hover {
          transform: translateY(-20px);
          background: pink;
        }
      }
    }
  }
}

/*calculating position of first day*/

$days:
  "mon" 0,
  "tue" 1,
  "wed" 2,
  "thu" 3,
  "fri" 4,
  "sat" 5,
  "sun" 6;

@each $day, $number in $days {
  .calendar--start-day--#{$day} {
    .calendar__day--1 {
      margin-left: 101px * $number;
    }
  }
}
