@import '../utils/variables';

@mixin calendar {
  display: flex;
  flex-wrap: wrap;
  width: ($size-of-day + $gap) * 7;
  gap: 1px;
}

@mixin cell-of-days {
  box-sizing: border-box;
  border: 1px solid black;
  width: $size-of-day;
  height: $size-of-day;
  background-color: $bg-day;
  display: flex;
  align-items: center;
  justify-content: center;
}
