@mixin one-box {
  font-family: $font-family;
  font-size: 30px;
  box-sizing: border-box;
  position: relative;
  width: $width-day;
  height: $height-day;
  background-color: $background-day;
  border: 1px solid black;
  transition: transform 0.5s;
  cursor: pointer;
}
