body {
  margin: 0;
}

html {
  font-family: Arial, sans-serif;
  font-size: 30px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}
