$day-size: 100px;
$gap-shift: 1px;
$calendar-padding: 10px;
$calendar-width:#{($day-size + $gap-shift) * 7};

$start-day:
  "mon" 0,
  "tue" 1,
  "wed" 2,
  "thu" 3,
  "fri" 4,
  "sut" 5,
  "sun" 6;

@mixin square ($size) {
  width: $size;
  height: $size;
  border: 1px solid black;
}
