$days-count: 31;
$main-color: #eee;
$border-size: 1px;
$border-color: #000;
$main-font: arial;
$font-size: 30px;
$cell-size: 100px;
$gap: 2px;
$columns: 7;
$padding: 10px;
$week:  mon 0, tue 1, wed 2, thu 3, fri 4, sat 5, sun 6;
$calendar-width: (($cell-size + $border-size + $gap) * $columns + 2 * $padding);
