$size: 98px;
$size: 98px;
$calendColor: #eee;
$padd: 10px;
$cellGap: 1px;
$weekWidth: ($size + $padd) * 7 + ($cellGap *6);
$days-of-week:
  "mon" 0,
  "tue" 1,
  "wed" 2,
  "thu" 3,
  "fri" 4,
  "sat" 5,
  "sun" 6;

$days-in-month: 31;
$day-number:0;
