$gap-of-the-day: 1px;
$width-of-the-day: 100px;
$height-of-the-day: 100px;
$days-of-the-week: 7;
$calendar-pading: 10px;
$days: "mon" 0, "tue" 1, "wed" 2, "thu" 3, "fri" 4, "sat" 5, "sun" 6;
$calendar-width: ($width-of-the-day * $days-of-the-week) + (2 * $calendar-pading) + ($days-of-the-week - 1);
