$cellsize: 100px;
$gapsize: 1px;
$days-of-week:
  "mon" $cellsize * 0 + $gapsize*0,
  "tue" $cellsize * 1 + $gapsize*1,
  "wen" $cellsize * 2 + $gapsize*2,
  "thu" $cellsize * 3 + $gapsize*3,
  "fri" $cellsize * 4 + $gapsize*4,
  "sat" $cellsize * 5 + $gapsize*5,
  "sun" $cellsize * 6 + $gapsize*6;
