$sizeX-day: 100px;
$sizeY-day: 100px;
$main-padding: 10px;
$day: 7;
$column-gap: 1px;
$calendar-weekdays: (mon 0, tue 1, wed 2, thu 3, fri 4, sat 5, sun 6);
$border-black: #000;
$background-color: #eee;
$background-color-hover: #ffbfcb;
