$cell-size: 100px;
$cell-gap: 1px;
$calendar-padding: 10px;
$calendar-positioning: 50%;
$transition-duration: 0.5s;
$calendar-width: ($cell-size * 7) + ($cell-gap * 6) + ($calendar-padding * 2);
$days: ('sun' 6, 'sat' 5, 'fri' 4, 'thu' 3, 'wed' 2, 'tue' 1, 'mon' 0;);
