$inner-cell-dimension: 98px;
$gap-size: 1px;
$calendar-padding: 10px;
$cell-size: $inner-cell-dimension + ($gap-size * 2);
$max-width: ($cell-size * 7) + ($gap-size * 6) + $calendar-padding * 2;
$week-days: (
  "mon": 0,
  "tue": 1,
  "wed": 2,
  "thu": 3,
  "fri": 4,
  "sat": 5,
  "sun": 6);
$cell-beckground-color: #eee;
$border-color: black;
$hover-cell-color: pink;
$transformation-time: 500ms;
