$day-size: 100px;
$day-border: 1px solid black;
$day-color: #eee;
$hover-color: #ffbfcb;
$font-size: 30px;
$animation-duration: 0.5s;
$days-of-week: (
  mon: 0,
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
  sun: 6,
);
