$gap: 1px;
$padding: 10px;
$day-size: 100px;
$colums-count: 7;
$color-black: black;
$color-pink: pink;
$color-white-grey: #eee;

$day-value:
  "mon" 1,
  "tue" 2,
  "wed" 3,
  "thu" 4,
  "fri" 5,
  "sat" 6,
  "sun" 7;
