$day-block-size: 100px;
$calendar-gap: 1px;
$calendar-padding: 10px;
$calendar-width: calc(
  (7 * $day-block-size) + (6 * $calendar-gap) + (2 * $calendar-padding)
);
$main-color: #000;
$bg-color: #eee;
$hover-color: #ffbfcb;
$day-hover-px: 20px;
$days-of-week: ('mon' 0, 'tue' 1, 'wed' 2, 'thu' 3, 'fri' 4, 'sat' 5, 'sun' 6);
