$day-margin: 101px;
$c-black: black;
$transitionDuration: 0.5s;

$weekdays:
  "mon" 0 px,
  "tue" #{$day-margin},
  "wed" calc(2 * #{$day-margin}),
  "thu" calc(3 * #{$day-margin}),
  "fri" calc(4 * #{$day-margin}),
  "sat" calc(5 * #{$day-margin}),
  "sun" calc(6 * #{$day-margin});
