$start-days:
  mon 0,
  tue 1,
  wed 2,
  thu 3,
  fri 4,
  sat 5,
  sun 6;
$calendar-color: #eee;
$day-size: 100px;
$day-border-color: #000;
$day-size-number: 30px;
$day-space-gap: 1px;
$active-color: #ffc0cb;
$container-width: 720px;
$font-size: 30px;
$last-day-color:#f00;
