$gap: 1px;
$padding: 10px;
$day-size: 100px;
$colums-count: 7;
$color-black: black;
$color-pink: pink;
$color-white-grey: #eee;
$transition-duration: 0.5s;

$day-value:
  "mon" 0,
  "tue" 1,
  "wed" 2,
  "thu" 3,
  "fri" 4,
  "sat" 5,
  "sun" 6;
