$day-block-size: 100px;
$section-padding: 10px;
$section-padding-2x: $section-padding * 2;
$days-in-week: 7;
$days-gap: 1px;

$calendar-width:
  ($day-block-size * $days-in-week) + $section-padding-2x + ($days-gap * 6);

$calendr-day-position:
  ($calendar-width - $section-padding-2x - ($days-gap * 6) ) / $days-in-week;
