$day-size: 100px;
$gap: 1px;
$calendar-padding: 10px;
$calendar-size: calc(
  7 * #{$day-size} + (#{$calendar-padding} * 2) + (#{$gap} * 6)
);
$days: ('mon' 0, 'tue' 1, 'wed' 2, 'thu' 3, 'fri' 4, 'sat' 5, 'sun' 6);
$white-color: #eee;
$black-color: #000;
$pink-color: #ffbfcb;
