$month: 31;
$daySize: 100px;
$gap: 1px;
$calendarPadding: 10px;
$calendarSize: calendarWidth($daySize, $gap, $calendarPadding);
$startDay: "mon" calcMargin($daySize, $gap, 0),
  "tue" calcMargin($daySize, $gap, 1), "wed" calcMargin($daySize, $gap, 2),
  "thu" calcMargin($daySize, $gap, 3), "fri" calcMargin($daySize, $gap, 4),
  "sat" calcMargin($daySize, $gap, 5), "sun" calcMargin($daySize, $gap, 6);
