$day-color: #eee;
$day-size: 100px;
$day-hover: #ffbfcb;
$month-length-28:28;
$month-length-29:29;
$month-length-30: 30;
$month-length-31: 31;
$days:
  "mon" 0,
  "tue" 1,
  "wed" 2,
  "thu" 3,
  "fri" 4,
  "sat" 5,
  "sun" 6;
