body {
  margin: 0;
}
body .calendar {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  width: 706px;
  margin: 0 auto;
  padding: 30px 10px 10px;
}
body .calendar__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 30px;
  text-align: center;
  background-color: #eee;
  border: 1px solid black;
  transition: transform 0.5s;
}
body .calendar__cell:nth-child(1)::before {
  content: "1";
}
body .calendar__cell:nth-child(2)::before {
  content: "2";
}
body .calendar__cell:nth-child(3)::before {
  content: "3";
}
body .calendar__cell:nth-child(4)::before {
  content: "4";
}
body .calendar__cell:nth-child(5)::before {
  content: "5";
}
body .calendar__cell:nth-child(6)::before {
  content: "6";
}
body .calendar__cell:nth-child(7)::before {
  content: "7";
}
body .calendar__cell:nth-child(8)::before {
  content: "8";
}
body .calendar__cell:nth-child(9)::before {
  content: "9";
}
body .calendar__cell:nth-child(10)::before {
  content: "10";
}
body .calendar__cell:nth-child(11)::before {
  content: "11";
}
body .calendar__cell:nth-child(12)::before {
  content: "12";
}
body .calendar__cell:nth-child(13)::before {
  content: "13";
}
body .calendar__cell:nth-child(14)::before {
  content: "14";
}
body .calendar__cell:nth-child(15)::before {
  content: "15";
}
body .calendar__cell:nth-child(16)::before {
  content: "16";
}
body .calendar__cell:nth-child(17)::before {
  content: "17";
}
body .calendar__cell:nth-child(18)::before {
  content: "18";
}
body .calendar__cell:nth-child(19)::before {
  content: "19";
}
body .calendar__cell:nth-child(20)::before {
  content: "20";
}
body .calendar__cell:nth-child(21)::before {
  content: "21";
}
body .calendar__cell:nth-child(22)::before {
  content: "22";
}
body .calendar__cell:nth-child(23)::before {
  content: "23";
}
body .calendar__cell:nth-child(24)::before {
  content: "24";
}
body .calendar__cell:nth-child(25)::before {
  content: "25";
}
body .calendar__cell:nth-child(26)::before {
  content: "26";
}
body .calendar__cell:nth-child(27)::before {
  content: "27";
}
body .calendar__cell:nth-child(28)::before {
  content: "28";
}
body .calendar__cell:nth-child(29)::before {
  content: "29";
}
body .calendar__cell:nth-child(30)::before {
  content: "30";
}
body .calendar__cell:nth-child(31)::before {
  content: "31";
}
body .calendar__cell:hover {
  background-color: pink;
  transform: translateY(-20px);
  cursor: pointer;
}
body .calendar--start-day--mon .calendar__cell:first-child {
  margin-left: 0px;
}
body .calendar--start-day--tue .calendar__cell:first-child {
  margin-left: 101px;
}
body .calendar--start-day--wed .calendar__cell:first-child {
  margin-left: 202px;
}
body .calendar--start-day--thu .calendar__cell:first-child {
  margin-left: 303px;
}
body .calendar--start-day--fri .calendar__cell:first-child {
  margin-left: 404px;
}
body .calendar--start-day--sat .calendar__cell:first-child {
  margin-left: 505px;
}
body .calendar--start-day--sun .calendar__cell:first-child {
  margin-left: 606px;
}
body .calendar--month-length--28 .calendar__cell:nth-child(n+29) {
  display: none;
}
body .calendar--month-length--29 .calendar__cell:nth-child(n+30) {
  display: none;
}
body .calendar--month-length--30 .calendar__cell:nth-child(n+31) {
  display: none;
}
body .calendar--month-length--31 .calendar__cell:nth-child(n+32) {
  display: none;
}

/*# sourceMappingURL=style.css.map */
