$fields-size: 100px;
$font-family: arial, sans-serif;
$font-size: 30px;
$start-day:
  ("mon": "0",
  "tue": "101",
  "wed": "202",
  "thu": "303",
  "fri": "404",
  "sat": "505",
  "sun": "606");

@mixin field-size ($size) {
  width: $size;
  height: $size;
}
