$fields-size: 100px;
$gap-size: 1px;
$days-in-week: 7;
$calendar-size: calc((#{$fields-size} + #{$gap-size}) * #{$days-in-week});
$font-family: arial, sans-serif;
$font-size: 30px;
$color-main: #eee;
$color-hover: pink;
$start-day:
  ( "mon": 0,
  "tue": 1,
  "wed": 2,
  "thu": 3,
  "fri": 4,
  "sat": 5,
  "sun": 6);

@mixin field-size ($size) {
  width: $size;
  height: $size;
}
