$size-day: 100px;
$size-border: 1px;
$size-gap: 1px;
$width-calendar: ($size-day + $size-gap) * 7;

$days: (
  "mon": 0,
  "tue": $size-day + $size-gap,
  "wed": 2 * ($size-day + $size-gap),
  "thu": 3 * ($size-day + $size-gap),
  "fri": 4 * ($size-day + $size-gap),
  "sat": 5 * ($size-day + $size-gap),
  "sun": 6 * ($size-day + $size-gap),
);
