$margines: (
  mon 0,
  tue 101px,
  wed 202px,
  thu 303px,
  fri 404px,
  sat 505px,
  sun 606px
);
$cellWidth: 100px;
$daysPerWeek: 7;
$gap: 1px;
$innerIdentation: 10px;
$width: $cellWidth * $daysPerWeek + $gap * ($daysPerWeek - 1);
$borderWidth: 1px;
