@function findDay($start-day) {
  @each $day, $column in $days {
    @if $start-day == $day {
      @return $column;
    }
  }
}

@function check($count_of_step) {
  @if $count_of_step > $month-length {
    $counter: false !global;
    @return "";
  }
  @else {
    @return $count_of_step;
  }
}

@function getDay($day, $step) {

  @if $day == $start-day {
    $status: false !global;
  }

  @if $status {
    @if $count_of_step == 1 {
      $correct: findDay($start-day) !global;
    }
    @else {
      $correct: 0 !global;
    }
    @if $step == 1 {
      $day_before: $day !global;
      @if $day != "monday" {
        $count_of_step: $count_of_step - $reset - 7 !global;
      }
      $counter: false !global;
      @return "";
    }
  }

  @if $day == $day_before {

    $count_of_step: $count_of_step + (7 - $correct) !global;
    $counter: true !global;
    @return "#{check($count_of_step)}";
  }

  @else {
    @if $day_before == "Null" {
      $day_before: $day !global;
      $counter: true !global;
      @return "#{check($count_of_step)}";
    }
    $day_before: $day !global;
    $count_of_step: $count_of_step - $reset - 7 !global;
    $counter: true !global;
    @return "#{check($count_of_step)}";
  }
}
