@for $i from 1 through 31 {
  .calendar__day--#{$i}::before {
    content: "#{$i}";
  }
}

@each $day, $margin in $day-margins {
  .calendar--start-day--#{$day} .calendar__days :first-child {
    margin-left: $margin;
  }
}

@for $i from 28 through 31 {
  .calendar--month-length--#{$i} :nth-child(n+#{$i + 1}) {
    display: none;
  }
}
