//универсальные стили/універсальні стилі

@mixin mixinDay($day, $step, $column) {

  &::before {
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 30px;
    content: getDay($day, $step);
  }
  @if $counter {
    background-color: #eee;
    border: 1px solid black;
    &:hover {
      cursor: pointer;
      background-color: pink;
    }
  }
}
