$boxSize: 100px;
$gap: 1px;
$padding: 10px;
$calendarWidth: $padding*2 + $gap * 6 + $boxSize * 7;
$margins: (
  "mon":0 ,
  "tue": $gap + $boxSize ,
  "wed":$gap*2 + $boxSize*2 ,
  "thu":$gap*3 + $boxSize*3 ,
  "fri":$gap*4 + $boxSize*4 ,
  "sat":$gap*5 + $boxSize*5 ,
  "sun":$gap*6 + $boxSize*6
);

* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}
