$default-font-family: arial, helvetica, sans-serif;
$default-font-size: 30px;

$calendar-max-width: 706px;
$calendar-padding: 10px;
$gaps: 1px;

$day-height: 100px;
$day-width: 100px;

$day-margins: (
  mon: 0,
  tue: 101px,
  wed: 202px,
  thu: 303px,
  fri: 404px,
  sat: 505px,
  sun: 606px,
);
