$background-color-day: #eee;
$width-day: 100px;
$height-day: $width-day;
$width-calendar: (7 * $width-day) + 10px;
$margin-day: 1px;

$margin:
  "mon" 0,
  "tue" ($width-day * 1)+(1 * $margin-day),
  "wed" ($width-day * 2)+(2 * $margin-day),
  "the" ($width-day * 3)+(3 * $margin-day),
  "fri" ($width-day * 4)+(4 * $margin-day),
  "sat" ($width-day * 5)+(5 * $margin-day),
  "sun" ($width-day * 6)+(6 * $margin-day);
