$day-size: 100px;
$calendar-padding: 10px;
$calendar-gap: 1px;
$days:
  "mon" 0,
  "tue" $day-size + 1,
  "wed" $day-size * 2 + 2,
  "thu" $day-size * 3 + 3,
  "fri" $day-size * 4 + 4,
  "sat" $day-size * 5 + 5,
  "sun" $day-size * 6 + 6;
