$cellSize: 100px;
$week:
  "mon" 0,
  "tue" 1,
  "wed" 2,
  "thu" 3,
  "fri" 4,
  "sat" 5,
  "sun" 6;

$gapBetweenDayds: 1px;
$borderForDays: 1px solid black;
$backgroundColorForDays:  #eee;
$backgroundColorForDaysHover: pink;
$calendarPadding:10px;
