$day-size: 100px;
$border-width: 1px;
$padding: 10px;
$week-days: (
  'mon': 0,
  'tue': 1,
  'wed': 2,
  'thu': 3,
  'fri': 4,
  'sat': 5,
  'sun': 6,
);
$column-width: (2 * $padding) + (7 * $day-size) + (6 * $border-width);
