$padding-sites: 10px;
$text-size: 30px;
$gap-size: 1px;
$square-size: 100px;
$number-days: 7;
$c-square: #eee;
$c-square-hover: #f79bcc;

$days:
  "mon" 0,
  "tue" 1,
  "wed" 2,
  "thu" 3,
  "fri" 4,
  "sat" 5,
  "sun" 6;
