$day-size: 100px;
$day-count: 31;
$border-size : 1px;
$gap-size: 1px;
$mockup-padding: 10px;
$calendar-height: 100vh;
$mockup-size: ($gap-size * 6) + ($day-size * 7);
$start-shift: $day-size + $gap-size;
$week-days:
  "mon" 0,
  "tue" 1,
  "wed" 2,
  "thu" 3,
  "fri" 4,
  "sat" 5,
  "sun" 6;
