$bg-day-color: #eee;
$bg-day-color-hover: pink;
$cell-day-size: 100px;
$num-of-column: 7;
$gap: 1px;
$calendar-padd: 10px;

$font-size-cell: 30px;

$days:
  "mon" 0,
  "tue" 1,
  "wed" 2,
  "thu" 3,
  "fri" 4,
  "sat" 5,
  "sun" 6;
