$day-size: 100px;
$day-gap: 1px;
$cal-padding: 10px;
$cal-col: 7;
$cal-width: $day-size * $cal-col + $day-gap * ($cal-col - 1) + 2 * $cal-padding;
$start-day: ('mon' 0, 'tue' 1, 'wed' 2, 'thu' 3, 'fri' 4, 'sat' 5, 'sun' 6);
