$box-size: 100px;
$gap: 1px;
$calendar-padding: 10px;
$calendar-width: 7 * ($box-size + $gap);

$transition-dur: 500ms;
$translate-px: -20px;

$start-day-value:
  "mon" 0,
  "tue" 1,
  "wed" 2,
  "thu" 3,
  "fri" 4,
  "sat" 5,
  "sun" 6;
