$block-size: 100px;
$horizontal-padding: 10px;
$block-gap: 1px;
$total-width: 7 * $block-size + 6 * $block-gap + 2 * $horizontal-padding;
$weekday: (
  mon:0,
  tue:1,
  wed:2,
  thu:3,
  fri:4,
  sat:5,
  sun:6,
);
$transition: 0.5s;
