$day-width: 100px;
$day-color: #eee;
$days-line: 7;
$color-hover-day: pink;
$gap-days: 1px;
$padding-calendar: 10px;
$widht-calendar: $days-line * $day-width + $days-line * $gap-days
  + $padding-calendar * 2;
$days:
  (
    "mon": 0,
    "tue": 1,
    "wed": 2,
    "thu": 3,
    "fri": 4,
    "sat": 5,
    "sun": 6
  );
