
$length-day: 100px;
$gap-day: 1px;
$colums-calendar: 7;
$paddings-calendar: 10px;
$start-day: $length-day + $gap-day;

$week-days:
  "mon" 0,
  "tue" $start-day,
  "wen" $start-day * 2,
  "thu" $start-day * 3,
  "fri" $start-day * 4,
  "sat" $start-day * 5,
  "sun" $start-day * 6;

$color-day: #eee;
$font-size-day: 30px;
