$font-stack: "Arial", sans-serif;

$colors: (
  color-grey-default: #eee,
  color-number-black: #000,
  color-hover-pink: pink
);

$cell-size: 100px;
$columns-number: 7;
$number-size: 30px;
$spacing: 1px;
$calendar-padding: 10px;
$day-margin-left: $cell-size + $spacing;
$move-up: 20px;

$active-day-indents: (
  "mon": 0,
  "tue": $day-margin-left,
  "wed": 2 * $day-margin-left,
  "thu": 3 * $day-margin-left,
  "fri": 4 * $day-margin-left,
  "sat": 5 * $day-margin-left,
  "sun": 6 * $day-margin-left
);
