$seil-size: 100px;
$ceil-size-x: $seil-size;
$ceil-size-y: $seil-size;
$current-day: 0;

$days: (
  "mon": 0,
  "tue": 1,
  "wed": 2,
  "thu": 3,
  "fri": 4,
  "sat": 5,
  "sun": 6,
);

$days-length: 28, 29, 30, 31;
