$zero: 0;
$cellSize: 100px;
$cellGap: 1px;
$cellBorder: 1px;
$cellBorderColor: #000;
$calendarPaddings: 10px;
$cellColor: #eee;
$cellColorNowDay: #ffbfcb;
$cellMove: 20px;
$weekDays: mon, tue, wed, thu, fri, sat, sun;
$startDay: $cellSize + $cellGap;
$numWeek: 0;
