body {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.calendar {
  padding: 10px;
  width: 707px;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

.calendar--start-day-mon > span:first-child {
  margin-left: calc((101px) * 0);
}

.calendar--start-day-tue > span:first-child {
  margin-left: calc((101px) * 1);
}

.calendar--start-day-wed > span:first-child {
  margin-left: calc((101px) * 2);
}

.calendar--start-day-thu > span:first-child {
  margin-left: calc((101px) * 3);
}

.calendar--start-day-fri > span:first-child {
  margin-left: calc((101px) * 4);
}

.calendar--start-day-sat > span:first-child {
  margin-left: calc((101px) * 5);
}

.calendar--start-day-sun > span:first-child {
  margin-left: calc((101px) * 6);
}

.calendar__day {
  display: none;
  position: relative;
  font-size: 30px;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 1px solid #000;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.calendar__day::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.calendar__day:nth-child(1)::before {
  content: '1';
}

.calendar__day:nth-child(2)::before {
  content: '2';
}

.calendar__day:nth-child(3)::before {
  content: '3';
}

.calendar__day:nth-child(4)::before {
  content: '4';
}

.calendar__day:nth-child(5)::before {
  content: '5';
}

.calendar__day:nth-child(6)::before {
  content: '6';
}

.calendar__day:nth-child(7)::before {
  content: '7';
}

.calendar__day:nth-child(8)::before {
  content: '8';
}

.calendar__day:nth-child(9)::before {
  content: '9';
}

.calendar__day:nth-child(10)::before {
  content: '10';
}

.calendar__day:nth-child(11)::before {
  content: '11';
}

.calendar__day:nth-child(12)::before {
  content: '12';
}

.calendar__day:nth-child(13)::before {
  content: '13';
}

.calendar__day:nth-child(14)::before {
  content: '14';
}

.calendar__day:nth-child(15)::before {
  content: '15';
}

.calendar__day:nth-child(16)::before {
  content: '16';
}

.calendar__day:nth-child(17)::before {
  content: '17';
}

.calendar__day:nth-child(18)::before {
  content: '18';
}

.calendar__day:nth-child(19)::before {
  content: '19';
}

.calendar__day:nth-child(20)::before {
  content: '20';
}

.calendar__day:nth-child(21)::before {
  content: '21';
}

.calendar__day:nth-child(22)::before {
  content: '22';
}

.calendar__day:nth-child(23)::before {
  content: '23';
}

.calendar__day:nth-child(24)::before {
  content: '24';
}

.calendar__day:nth-child(25)::before {
  content: '25';
}

.calendar__day:nth-child(26)::before {
  content: '26';
}

.calendar__day:nth-child(27)::before {
  content: '27';
}

.calendar__day:nth-child(28)::before {
  content: '28';
}

.calendar__day:nth-child(29)::before {
  content: '29';
}

.calendar__day:nth-child(30)::before {
  content: '30';
}

.calendar__day:nth-child(31)::before {
  content: '31';
}

.calendar__day:hover {
  background-color: #ffbfcb;
  transform: translateY(-20px);
}

.calendar--month-length-1 .calendar__day:nth-child(-n + 1) {
  display: block;
}

.calendar--month-length-2 .calendar__day:nth-child(-n + 2) {
  display: block;
}

.calendar--month-length-3 .calendar__day:nth-child(-n + 3) {
  display: block;
}

.calendar--month-length-4 .calendar__day:nth-child(-n + 4) {
  display: block;
}

.calendar--month-length-5 .calendar__day:nth-child(-n + 5) {
  display: block;
}

.calendar--month-length-6 .calendar__day:nth-child(-n + 6) {
  display: block;
}

.calendar--month-length-7 .calendar__day:nth-child(-n + 7) {
  display: block;
}

.calendar--month-length-8 .calendar__day:nth-child(-n + 8) {
  display: block;
}

.calendar--month-length-9 .calendar__day:nth-child(-n + 9) {
  display: block;
}

.calendar--month-length-10 .calendar__day:nth-child(-n + 10) {
  display: block;
}

.calendar--month-length-11 .calendar__day:nth-child(-n + 11) {
  display: block;
}

.calendar--month-length-12 .calendar__day:nth-child(-n + 12) {
  display: block;
}

.calendar--month-length-13 .calendar__day:nth-child(-n + 13) {
  display: block;
}

.calendar--month-length-14 .calendar__day:nth-child(-n + 14) {
  display: block;
}

.calendar--month-length-15 .calendar__day:nth-child(-n + 15) {
  display: block;
}

.calendar--month-length-16 .calendar__day:nth-child(-n + 16) {
  display: block;
}

.calendar--month-length-17 .calendar__day:nth-child(-n + 17) {
  display: block;
}

.calendar--month-length-18 .calendar__day:nth-child(-n + 18) {
  display: block;
}

.calendar--month-length-19 .calendar__day:nth-child(-n + 19) {
  display: block;
}

.calendar--month-length-20 .calendar__day:nth-child(-n + 20) {
  display: block;
}

.calendar--month-length-21 .calendar__day:nth-child(-n + 21) {
  display: block;
}

.calendar--month-length-22 .calendar__day:nth-child(-n + 22) {
  display: block;
}

.calendar--month-length-23 .calendar__day:nth-child(-n + 23) {
  display: block;
}

.calendar--month-length-24 .calendar__day:nth-child(-n + 24) {
  display: block;
}

.calendar--month-length-25 .calendar__day:nth-child(-n + 25) {
  display: block;
}

.calendar--month-length-26 .calendar__day:nth-child(-n + 26) {
  display: block;
}

.calendar--month-length-27 .calendar__day:nth-child(-n + 27) {
  display: block;
}

.calendar--month-length-28 .calendar__day:nth-child(-n + 28) {
  display: block;
}

.calendar--month-length-29 .calendar__day:nth-child(-n + 29) {
  display: block;
}

.calendar--month-length-30 .calendar__day:nth-child(-n + 30) {
  display: block;
}

.calendar--month-length-31 .calendar__day:nth-child(-n + 31) {
  display: block;
}
