.calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1px;
  width: 725px;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 49px;
  border: 1px solid;
  background-color: #eee;
  transition: transform 0.5s;

  &:hover {
    transform: translateY(-20px);
    background-color: pink;
  }
}
