.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 800px;
  margin: 30px auto;
  border-radius: 15px;
  background-color: #fcedd8;
  box-shadow: 0 2px 4px;
}
