.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 800px;
  border-radius: 15px;
  background-color: #fcedd8;
  box-shadow: 0 2px 4px;

  &__title {
    font-weight: 700px;
    font-size: 50px;
  }
}
