.container {
  &__calendar {
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    align-content: center;
    padding: 10px;
    gap: $gap-cell;

    width: $size-container;
  }
}
