$start_days:
  "mon"0px,
  "tue"101px,
  "wed"202px,
  "thu"303px,
  "fri"404px,
  "sat"505px,
  "sun"606px;

@each $name, $margin_px in $start_days {

  &.day--#{$name} {
    margin-left: $margin_px;
  }
}

@for $index from 1 through 31 {
  .day--#{$index}::before {
    content: "#{$index}";
    position: absolute;
    font-family: Arial, sans-serif;
    font-size: 40px;
  }
}
