body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar {
  margin-left: 4px;
  display: flex;
  flex-wrap: wrap;
  padding-inline: 10px;
  gap: $gapValue;
  max-width: $calendarWidth;
}

.calendar__day {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;

  background-color: #eee;
  border: 1px solid black;
  height: $daySize;
  width: $daySize;
  transition-duration: 0.5s;
}

.calendar__day:hover {
  cursor: pointer;
  background-color: #ffbfcb;
  transform: translateY(-20px);
}
