$calendar-background-color: #eee;
$month-length: 31;
$weekDays: (
  'mon': 0,
  'tue': 1,
  'wed': 2,
  'thu': 3,
  'fri': 4,
  'sat': 5,
  'sun': 6,
);
$dayWidth: 100px;
$dayHeight: 100px;
$gapWidth: 1px;
$paddingWidth: 10px;
$box-size: 100px;
$border-width: 1px;
$calendar-width: calc(7 * #{$box-size} + 6 * $gapWidth + 2 * $paddingWidth);
$grey-color: #eee;
$black-color: #000;
$highlight-color: #ffbfcb;
$font-family: Arial, sans-serif;
$font-size: 30px;
$transition-duration: 0.5s;
