// Загальні змінні
$month-lengh: 31; // + 28, 29, 30 ?
$main-color: #eee;
$border-color: #000;
$hover-color: #ffbfcb;
$font-family: Arial, sans-serif;
$gap: 1px; // $gap in GPT
$day-size: 100px;
$columns: 7;
$padding: 10px;
$calendar-starting-from-wednes-day: (
  mon: 0,
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
  sun: 6,
);
