$cell-size: 100px;
$gap-size: 1px;
$days-in-row: 7;
$calendar-width: $cell-size * $days-in-row + $gap-size * ($days-in-row - 1);
$days-in-week: (
  "mon" 0,
  "tue" 1,
  "wed" 2,
  "thu" 3,
  "fri" 4,
  "sat" 5,
  "sun" 6
);
$day-margin:($cell-size + $gap-size);
$color-black: black;
$color-white: #eee;
$color-pink: pink;
$calendar-padding: 20px;
