$cell-size: 100px;
$gap-size: 1px;
$days-in-row: 7;
$calendar-width: $cell-size * $days-in-row + $gap-size * ($days-in-row - 1);
$days-in-week: (
  "mon" 1,
  "tue" 2,
  "wed" 3,
  "thu" 4,
  "fri" 5,
  "sat" 6,
  "sun" 7
);
