$item-size: 100px;
$days: 7;
$calendar-width: $days * $item-size + 6px;
$last-day:30;

$first-day: 
  "mon"0,
  "tue" 1 * $item-size + 1px,
  "wed" 2 * $item-size + 2px,
  "thu" 3 * $item-size + 3px,
  "fri" 4 * $item-size + 4px,
  "sat" 5 * $item-size + 5px,
  "sun" 6 * $item-size + 6px;
