%flex-view--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%font {
  font-family: Arial, sans-serif;
  font-size: 30px;
}

%calendar-width {
  width: ($col-count * $cell-size) + ($gap-size * 6);
}
