@mixin square($size) {
  width: $size;
  height: $size;

  border: 1px solid #000;
  background-color: #eee;
}

@mixin number-shift($size) {
  top: ($size - 34) / 2;
  left: ($size - $cell-size) / 2;
}
