$ordinaryColor: #eee;
$dayBoxSize: 100px;
$Padding: 10px;
$gap: 1px;
$weekDay:
  "mon" 0,
  "tue" $dayBoxSize + $gap,
  "wed" 2 * ($dayBoxSize + $gap),
  "thu" 3 * ($dayBoxSize + $gap),
  "fri" 4 * ($dayBoxSize + $gap),
  "sat" 5 * ($dayBoxSize + $gap),
  "sun" 6 * ($dayBoxSize + $gap);
