$cell-size: 100px;
$day-count: 31;
$col-count: 7;
$gap-size: 1px;
$padding: 10px;

$week:
  "mon" 0,
  "tue" 1 * ($cell-size + $gap-size),
  "wed" 2 * ($cell-size + $gap-size),
  "thu" 3 * ($cell-size + $gap-size),
  "fri" 4 * ($cell-size + $gap-size),
  "sat" 5 * ($cell-size + $gap-size),
  "sun" 6 * ($cell-size + $gap-size);
