$cell-size: 100px;
$border-size: 1px;
$margin: 10px;
$gray-color: #eee;
$black-color: #000;
$red-color: #ff69b4;
$pink-color: pink;
$font-size: 30px;
$transition-duration: 0.5s;

$day-map: (
  mon: 0,
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
  sun: 6
);
