$cell-size: 100px;
$calendar-padding: 10px;
$calendar-gap: 1px;
$calendar-width: ($cell-size * 7) +
  ($calendar-padding * 2) +
  (6 * $calendar-gap);
$day-margins:
  "mon" 0,
  "tue" $cell-size + $calendar-gap,
  "wed" ($cell-size + $calendar-gap) * 2,
  "thu" ($cell-size + $calendar-gap) * 3,
  "fri" ($cell-size + $calendar-gap) * 4,
  "sat" ($cell-size + $calendar-gap) * 5,
  "sun" ($cell-size + $calendar-gap) * 6;
