$calendarDayBgColor: #eee;
$calendarDayHeigth: 100px;
$calendarDayWidth: 100px;
$calendarDayBrorder: 1px solid #000;
$calendarFontSize: 30px;

$paddingCalendar: 10px;
$calendarGap: 1px;
$calendarWidth: $calendarDayWidth * 7 + $calendarGap * 6;
$fontFamily: "Arial", "Helvetica", sans-serif;

$dayOfWeek:
  "mon" 0,
  "tue" 1,
  "wed" 2,
  "thu" 3,
  "fri" 4,
  "sat" 5,
  "sun" 6;
