$width-box-day: 100px;
$height-box-day: 100px;
$box-background-size: #eee;
$container-padding: 10px;
$day-box-gap: 1px;
$box-margin: $width-box-day + $day-box-gap;
$conrainer-size: $width-box-day * 7 + 6 * $day-box-gap + $container-padding * 2;

$start-day: "mon " 0,
  "tue" 1,
  "wed" 2,
  "thu" 3,
  "fri" 4,
  "sat" 5,
  "sun" 6;
