$gap-day: 1px;
$width-day: 100px;
$height-day: 100px;
$calendar-width: $gap-day * 6 + 20px + 7 * $width-day;
$calendar-week:
  "mon" 0,
  "tue" 1,
  "wen" 2,
  "thu" 3,
  "fri" 4,
  "sat" 5,
  "sun" 6;
