$day-size: 100px;
$calendar-padding: 10px;
$calendar-gap: 1px;
$day-inline: 7;
$calendar-width:
  ($day-inline*$day-size) + ($day-inline*$calendar-gap) + ($calendar-padding * 2);
$days:
  "mon" 0,
  "tue" 1,
  "wed" 2,
  "thu" 3,
  "fri" 4,
  "sat" 5,
  "sun" 6;
