$side: 100px;
$grap: 1px;

$days:
  "mon" 0,
  "tue" calc((#{$side} + #{$grap})),
  "wed" calc((#{$side} + #{$grap}) * 2),
  "thu" calc((#{$side} + #{$grap}) * 3),
  "fri" calc((#{$side} + #{$grap}) * 4),
  "sat" calc((#{$side} + #{$grap}) * 5),
  "sun" calc((#{$side} + #{$grap}) * 6);
