@mixin daySize {
  width: $dayWidth;
  height: $dayHeight;
}

@mixin calendarSize {
  width: $calendarWidth;
  height: $calendarHeight;
}

@mixin dayFont {
  font-family: Arial, sans-serif;
  font-size: 30px;
}
