$dayWidth: 100px;
$dayHeight: 100px;
$dayFont: Arial, sans-serif;
$dayFontSize: 30px;
$dayBorder: 1px solid black;
$dayBlockColor: #eee;
$dayBlockColorHover: pink;
$transformHoverTime: 0.5s;
$transformHoverY: translateY(-20px);
$calendarSidesPaddings: 10px;
$calendarGap: 1px;
$calendarDaySize: $dayWidth + $calendarGap;
$calendarWidth: ($calendarDaySize * 7) + ($calendarSidesPaddings * 2);
$calendarHeight: ($calendarDaySize * 6) + ($calendarSidesPaddings * 2)
  - $calendarGap;

$dayOfWeek:
  'mon' 0,
  'tue' 1 * $calendarDaySize,
  'wed' 2 * $calendarDaySize,
  'thu' 3 * $calendarDaySize,
  'fri' 4 * $calendarDaySize,
  'sat' 5 * $calendarDaySize,
  'sun' 6 * $calendarDaySize;
