%day-square {
  box-sizing: border-box;
  display: flex;
  height: 100px;
  width: 100px;
  background-color: #eee;
  border: 1px solid black;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
