$oneXMarginValue: 101px;

$weekDays: 
  "mon" 0,
  "tue" $oneXMarginValue,
  "wed" $oneXMarginValue * 2,
  "thu" $oneXMarginValue * 3,
  "fri" $oneXMarginValue * 4,
  "sat" $oneXMarginValue * 5,
  "sun" $oneXMarginValue * 6;

$monthLengthValuesSet: 28, 29, 30, 31;
