$cell-size: 100px;
$gap: 1px;
$oneXMarginValue: $cell-size + $gap;

$weekDays: 
  "mon" 0,
  "tue" $oneXMarginValue,
  "wed" $oneXMarginValue * 2,
  "thu" $oneXMarginValue * 3,
  "fri" $oneXMarginValue * 4,
  "sat" $oneXMarginValue * 5,
  "sun" $oneXMarginValue * 6;
