@import "./variables/variables.scss";

.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: $block-gap;
  width: $calendar-width;
  margin: auto;
  padding-left: 0;
  padding-top: 30px;
  list-style: none;
  position: relative;

  @for $index from 28 through $day-count {
    &-month-length--#{$index} {
      & :nth-child(n + #{$index + 1}) {
        display: none;
      }
    }
  }

  @each $name, $number in $days-of-week {
    &-start-day--#{$name} {
      & :first-child {
        margin-left: getMargin($number, $block-size, $block-gap);
      }
    }
  }

  &__day {
    @include square($block-size);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    background-color: #eee;
    transition: all $transition-time;

    &:hover {
      background-color: pink;
      cursor: pointer;
      transform: translateY(-20px);
    }

    @for $index from 1 through $day-count {
      &:nth-child(#{$index}) {
        &::before {
          content: "#{$index}";
        }
      }
    }
  }
}

@function getMargin($index, $base, $size) {
  @return $index * ($base + $size);
}
