$size: 100px;

$shift: 103px;

$start-days:
  "mon" 0,
  "tue" (1 * $shift),
  "wed" (2 * $shift),
  "thu" (3 * $shift),
  "fri" (4 * $shift), 
  "sat" (5 * $shift),
  "sun" (6 * $shift);

@mixin square($size) {
  width: $size;
  height: $size;
}
