body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  display: flex;
}

* {
  box-sizing: border-box;
}

.calendar {
  flex-wrap: wrap;
  gap: 1px;
  width: 726px;
  padding: 10px;
  display: flex;
}

.calendar__day {
  cursor: pointer;
  border: 1px solid #000;
  border-color: #eee;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  transition: all 0.5s;
  display: flex;
}

.calendar__day:hover {
  border-color: #ffbfcb;
  transform: translateY(-20px);
}

.calendar__day:first-child::before {
  content: '1';
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
}

.calendar__day:nth-child(2)::before {
  content: '2';
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
}

.calendar__day:nth-child(3)::before {
  content: '3';
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
}

.calendar__day:nth-child(4)::before {
  content: '4';
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
}

.calendar__day:nth-child(5)::before {
  content: '5';
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
}

.calendar__day:nth-child(6)::before {
  content: '6';
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
}

.calendar__day:nth-child(7)::before {
  content: '7';
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
}

.calendar__day:nth-child(8)::before {
  content: '8';
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
}

.calendar__day:nth-child(9)::before {
  content: '9';
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
}

.calendar__day:nth-child(10)::before {
  content: '10';
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
}

.calendar__day:nth-child(11)::before {
  content: '11';
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
}

.calendar__day:nth-child(12)::before {
  content: '12';
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
}

.calendar__day:nth-child(13)::before {
  content: '13';
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
}

.calendar__day:nth-child(14)::before {
  content: '14';
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
}

.calendar__day:nth-child(15)::before {
  content: '15';
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
}

.calendar__day:nth-child(16)::before {
  content: '16';
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
}

.calendar__day:nth-child(17)::before {
  content: '17';
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
}

.calendar__day:nth-child(18)::before {
  content: '18';
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
}

.calendar__day:nth-child(19)::before {
  content: '19';
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
}

.calendar__day:nth-child(20)::before {
  content: '20';
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
}

.calendar__day:nth-child(21)::before {
  content: '21';
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
}

.calendar__day:nth-child(22)::before {
  content: '22';
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
}

.calendar__day:nth-child(23)::before {
  content: '23';
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
}

.calendar__day:nth-child(24)::before {
  content: '24';
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
}

.calendar__day:nth-child(25)::before {
  content: '25';
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
}

.calendar__day:nth-child(26)::before {
  content: '26';
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
}

.calendar__day:nth-child(27)::before {
  content: '27';
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
}

.calendar__day:nth-child(28)::before {
  content: '28';
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
}

.calendar__day:nth-child(29)::before {
  content: '29';
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
}

.calendar__day:nth-child(30)::before {
  content: '30';
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
}

.calendar__day:nth-child(31)::before {
  content: '31';
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
}

.calendar--start-day-mon :first-child {
  margin-left: 0;
}

.calendar--start-day-tue :first-child {
  margin-left: 101px;
}

.calendar--start-day-wed :first-child {
  margin-left: 202px;
}

.calendar--start-day-thu :first-child {
  margin-left: 303px;
}

.calendar--start-day-fri :first-child {
  margin-left: 404px;
}

.calendar--start-day-sat :first-child {
  margin-left: 505px;
}

.calendar--start-day-sun :first-child {
  margin-left: 606px;
}

.calendar--month-length-28 .calendar__day:nth-child(n + 29),
.calendar--month-length-29 .calendar__day:nth-child(n + 30),
.calendar--month-length-30 .calendar__day:nth-child(n + 31),
.calendar--month-length-31 .calendar__day:nth-child(n + 32) {
  display: none;
}
