/* stylelint-disable rule-empty-line-before */
.calendar {
  display: flex;
  flex-wrap: wrap;
  width: 706px;
  padding: 10px;
  gap: 1px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.calendar .calendar__day-box {
  background-color: #eee;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  box-sizing: border-box;
  text-align: center;
  line-height: 100px;
  transition: transform 0.5s, background-color pink;
}
.calendar .calendar__day-box--1::before {
  content: "1";
}
.calendar .calendar__day-box--2::before {
  content: "2";
}
.calendar .calendar__day-box--3::before {
  content: "3";
}
.calendar .calendar__day-box--4::before {
  content: "4";
}
.calendar .calendar__day-box--5::before {
  content: "5";
}
.calendar .calendar__day-box--6::before {
  content: "6";
}
.calendar .calendar__day-box--7::before {
  content: "7";
}
.calendar .calendar__day-box--8::before {
  content: "8";
}
.calendar .calendar__day-box--9::before {
  content: "9";
}
.calendar .calendar__day-box--10::before {
  content: "10";
}
.calendar .calendar__day-box--11::before {
  content: "11";
}
.calendar .calendar__day-box--12::before {
  content: "12";
}
.calendar .calendar__day-box--13::before {
  content: "13";
}
.calendar .calendar__day-box--14::before {
  content: "14";
}
.calendar .calendar__day-box--15::before {
  content: "15";
}
.calendar .calendar__day-box--16::before {
  content: "16";
}
.calendar .calendar__day-box--17::before {
  content: "17";
}
.calendar .calendar__day-box--18::before {
  content: "18";
}
.calendar .calendar__day-box--19::before {
  content: "19";
}
.calendar .calendar__day-box--20::before {
  content: "20";
}
.calendar .calendar__day-box--21::before {
  content: "21";
}
.calendar .calendar__day-box--22::before {
  content: "22";
}
.calendar .calendar__day-box--23::before {
  content: "23";
}
.calendar .calendar__day-box--24::before {
  content: "24";
}
.calendar .calendar__day-box--25::before {
  content: "25";
}
.calendar .calendar__day-box--26::before {
  content: "26";
}
.calendar .calendar__day-box--27::before {
  content: "27";
}
.calendar .calendar__day-box--28::before {
  content: "28";
}
.calendar .calendar__day-box--29::before {
  content: "29";
}
.calendar .calendar__day-box--30::before {
  content: "30";
}
.calendar .calendar__day-box--31::before {
  content: "31";
}
.calendar .calendar__day-box:hover {
  transform: translateY(-20px);
  background-color: pink;
}
.calendar--start-day--mon .calendar__day-box:first-child {
  margin-left: 0;
}
.calendar--start-day--tue .calendar__day-box:first-child {
  margin-left: 101px;
}
.calendar--start-day--wed .calendar__day-box:first-child {
  margin-left: 202px;
}
.calendar--start-day--thu .calendar__day-box:first-child {
  margin-left: 303px;
}
.calendar--start-day--fri .calendar__day-box:first-child {
  margin-left: 404px;
}
.calendar--start-day--sat .calendar__day-box:first-child {
  margin-left: 505px;
}
.calendar--start-day--sun .calendar__day-box:first-child {
  margin-left: 606px;
}
.calendar--month-length--28 .calendar__day-box:nth-child(n+29) {
  display: none;
}
.calendar--month-length--29 .calendar__day-box:nth-child(n+30) {
  display: none;
}
.calendar--month-length--30 .calendar__day-box:nth-child(n+31) {
  display: none;
}
.calendar--month-length--31 .calendar__day-box:nth-child(n+32) {
  display: none;
}

body {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

/*# sourceMappingURL=styles.css.map */
