* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.page__calendar {
  margin: 0 auto;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  max-width: 726px;
  gap: 1px;
  padding: 10px;
}

.calendar--month-length_28 :nth-child(n+29) {
  display: none;
}

.calendar--month-length_29 :nth-child(n+30) {
  display: none;
}

.calendar--month-length_30 :nth-child(n+31) {
  display: none;
}

.day {
  position: relative;
  width: 100px;
  height: 100px;
  font-size: 30px;
  background-color: #eee;
  border: 1px solid #000;
}

.day--1::before {
  content: "1";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  text-align: center;
}

.day--2::before {
  content: "2";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  text-align: center;
}

.day--3::before {
  content: "3";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  text-align: center;
}

.day--4::before {
  content: "4";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  text-align: center;
}

.day--5::before {
  content: "5";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  text-align: center;
}

.day--6::before {
  content: "6";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  text-align: center;
}

.day--7::before {
  content: "7";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  text-align: center;
}

.day--8::before {
  content: "8";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  text-align: center;
}

.day--9::before {
  content: "9";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  text-align: center;
}

.day--10::before {
  content: "10";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  text-align: center;
}

.day--11::before {
  content: "11";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  text-align: center;
}

.day--12::before {
  content: "12";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  text-align: center;
}

.day--13::before {
  content: "13";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  text-align: center;
}

.day--14::before {
  content: "14";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  text-align: center;
}

.day--15::before {
  content: "15";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  text-align: center;
}

.day--16::before {
  content: "16";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  text-align: center;
}

.day--17::before {
  content: "17";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  text-align: center;
}

.day--18::before {
  content: "18";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  text-align: center;
}

.day--19::before {
  content: "19";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  text-align: center;
}

.day--20::before {
  content: "20";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  text-align: center;
}

.day--21::before {
  content: "21";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  text-align: center;
}

.day--22::before {
  content: "22";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  text-align: center;
}

.day--23::before {
  content: "23";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  text-align: center;
}

.day--24::before {
  content: "24";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  text-align: center;
}

.day--25::before {
  content: "25";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  text-align: center;
}

.day--26::before {
  content: "26";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  text-align: center;
}

.day--27::before {
  content: "27";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  text-align: center;
}

.day--28::before {
  content: "28";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  text-align: center;
}

.day--29::before {
  content: "29";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  text-align: center;
}

.day--30::before {
  content: "30";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  text-align: center;
}

.day--31::before {
  content: "31";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100px;
  text-align: center;
}

.day--start-day_mon {
  margin-left: 0;
}

.day--start-day_tue {
  margin-left: 101px;
}

.day--start-day_wed {
  margin-left: 202px;
}

.day--start-day_thu {
  margin-left: 303px;
}

.day--start-day_fri {
  margin-left: 404px;
}

.day--start-day_sat {
  margin-left: 505px;
}

.day--start-day_sun {
  margin-left: 606px;
}

.day:hover {
  background-color: pink;
  cursor: pointer;
  transition-duration: 500ms;
  transform: translateY(-20px);
}

/*# sourceMappingURL=styles.css.map */
