.calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 1px;
  width: 707px;
  padding: 10px;
  margin: auto;
}
.calendar__day {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #eee;
  height: 100px;
  width: 100px;
  border: 1px solid black;
}
.calendar__day:nth-child(1)::before {
  content: "1";
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
}
.calendar__day:nth-child(2)::before {
  content: "2";
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
}
.calendar__day:nth-child(3)::before {
  content: "3";
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
}
.calendar__day:nth-child(4)::before {
  content: "4";
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
}
.calendar__day:nth-child(5)::before {
  content: "5";
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
}
.calendar__day:nth-child(6)::before {
  content: "6";
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
}
.calendar__day:nth-child(7)::before {
  content: "7";
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
}
.calendar__day:nth-child(8)::before {
  content: "8";
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
}
.calendar__day:nth-child(9)::before {
  content: "9";
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
}
.calendar__day:nth-child(10)::before {
  content: "10";
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
}
.calendar__day:nth-child(11)::before {
  content: "11";
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
}
.calendar__day:nth-child(12)::before {
  content: "12";
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
}
.calendar__day:nth-child(13)::before {
  content: "13";
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
}
.calendar__day:nth-child(14)::before {
  content: "14";
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
}
.calendar__day:nth-child(15)::before {
  content: "15";
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
}
.calendar__day:nth-child(16)::before {
  content: "16";
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
}
.calendar__day:nth-child(17)::before {
  content: "17";
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
}
.calendar__day:nth-child(18)::before {
  content: "18";
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
}
.calendar__day:nth-child(19)::before {
  content: "19";
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
}
.calendar__day:nth-child(20)::before {
  content: "20";
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
}
.calendar__day:nth-child(21)::before {
  content: "21";
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
}
.calendar__day:nth-child(22)::before {
  content: "22";
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
}
.calendar__day:nth-child(23)::before {
  content: "23";
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
}
.calendar__day:nth-child(24)::before {
  content: "24";
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
}
.calendar__day:nth-child(25)::before {
  content: "25";
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
}
.calendar__day:nth-child(26)::before {
  content: "26";
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
}
.calendar__day:nth-child(27)::before {
  content: "27";
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
}
.calendar__day:nth-child(28)::before {
  content: "28";
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
}
.calendar__day:nth-child(29)::before {
  content: "29";
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
}
.calendar__day:nth-child(30)::before {
  content: "30";
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
}
.calendar__day:nth-child(31)::before {
  content: "31";
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: block;
}
.calendar__day:hover {
  cursor: pointer;
  background-color: pink;
  transform: translateY(-20px);
  transition-duration: 0.5s;
}
.calendar--start-day--mon > .calendar__day:first-child {
  margin-left: 0px;
}
.calendar--start-day--tue > .calendar__day:first-child {
  margin-left: 101px;
}
.calendar--start-day--wed > .calendar__day:first-child {
  margin-left: 202px;
}
.calendar--start-day--thu > .calendar__day:first-child {
  margin-left: 303px;
}
.calendar--start-day--fri > .calendar__day:first-child {
  margin-left: 404px;
}
.calendar--start-day--sat > .calendar__day:first-child {
  margin-left: 505px;
}
.calendar--start-day--sun > .calendar__day:first-child {
  margin-left: 606px;
}
.calendar--month-length--28 > .calendar__day:nth-child(n+29) {
  display: none;
}
.calendar--month-length--29 > .calendar__day:nth-child(n+30) {
  display: none;
}
.calendar--month-length--30 > .calendar__day:nth-child(n+31) {
  display: none;
}
.calendar--month-length--31 > .calendar__day:nth-child(n+32) {
  display: none;
}

/*# sourceMappingURL=style.css.map */
