@media screen and (min-width: 1024px) {
  .calendar {
    margin: 262px;
  }
}
@media screen and (min-width: 1200) {
  .calendar {
    margin: 350px;
  }
}
.day:nth-child(1)::before {
  content: "1";
}

.day:nth-child(2)::before {
  content: "2";
}

.day:nth-child(3)::before {
  content: "3";
}

.day:nth-child(4)::before {
  content: "4";
}

.day:nth-child(5)::before {
  content: "5";
}

.day:nth-child(6)::before {
  content: "6";
}

.day:nth-child(7)::before {
  content: "7";
}

.day:nth-child(8)::before {
  content: "8";
}

.day:nth-child(9)::before {
  content: "9";
}

.day:nth-child(10)::before {
  content: "10";
}

.day:nth-child(11)::before {
  content: "11";
}

.day:nth-child(12)::before {
  content: "12";
}

.day:nth-child(13)::before {
  content: "13";
}

.day:nth-child(14)::before {
  content: "14";
}

.day:nth-child(15)::before {
  content: "15";
}

.day:nth-child(16)::before {
  content: "16";
}

.day:nth-child(17)::before {
  content: "17";
}

.day:nth-child(18)::before {
  content: "18";
}

.day:nth-child(19)::before {
  content: "19";
}

.day:nth-child(20)::before {
  content: "20";
}

.day:nth-child(21)::before {
  content: "21";
}

.day:nth-child(22)::before {
  content: "22";
}

.day:nth-child(23)::before {
  content: "23";
}

.day:nth-child(24)::before {
  content: "24";
}

.day:nth-child(25)::before {
  content: "25";
}

.day:nth-child(26)::before {
  content: "26";
}

.day:nth-child(27)::before {
  content: "27";
}

.day:nth-child(28)::before {
  content: "28";
}

.day:nth-child(29)::before {
  content: "29";
}

.day:nth-child(30)::before {
  content: "30";
}

.day:nth-child(31)::before {
  content: "31";
}

body {
  margin: 0;
}

.month {
  padding: 10px;
  display: flex;
  gap: 1px;
  flex-wrap: wrap;
  height: 508px;
  width: 706px;
}
.month__day--monday:first-child {
  left: 0px;
}
.month__day--tuesday:first-child {
  padding-left: 101px;
}
.month__day--wednesday:first-child {
  left: 202px;
}
.month__day--thursday:first-child {
  left: 303px;
}
.month__day--friday:first-child {
  left: 404px;
}
.month__day--saturday:first-child {
  left: 505px;
}
.month__day--sunday:first-child {
  left: 606px;
}

.calendar {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  width: 100px;
  height: 100px;
  border: solid black 1px;
  box-sizing: border-box;
}
.day:hover {
  transform: translate(0, -20px);
  background-color: pink;
  transition: 0.5s;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  cursor: pointer;
}

.day:nth-child(1)::before {
  content: "1";
}

.day:nth-child(2)::before {
  content: "2";
}

.day:nth-child(3)::before {
  content: "3";
}

.day:nth-child(4)::before {
  content: "4";
}

.day:nth-child(5)::before {
  content: "5";
}

.day:nth-child(6)::before {
  content: "6";
}

.day:nth-child(7)::before {
  content: "7";
}

.day:nth-child(8)::before {
  content: "8";
}

.day:nth-child(9)::before {
  content: "9";
}

.day:nth-child(10)::before {
  content: "10";
}

.day:nth-child(11)::before {
  content: "11";
}

.day:nth-child(12)::before {
  content: "12";
}

.day:nth-child(13)::before {
  content: "13";
}

.day:nth-child(14)::before {
  content: "14";
}

.day:nth-child(15)::before {
  content: "15";
}

.day:nth-child(16)::before {
  content: "16";
}

.day:nth-child(17)::before {
  content: "17";
}

.day:nth-child(18)::before {
  content: "18";
}

.day:nth-child(19)::before {
  content: "19";
}

.day:nth-child(20)::before {
  content: "20";
}

.day:nth-child(21)::before {
  content: "21";
}

.day:nth-child(22)::before {
  content: "22";
}

.day:nth-child(23)::before {
  content: "23";
}

.day:nth-child(24)::before {
  content: "24";
}

.day:nth-child(25)::before {
  content: "25";
}

.day:nth-child(26)::before {
  content: "26";
}

.day:nth-child(27)::before {
  content: "27";
}

.day:nth-child(28)::before {
  content: "28";
}

.day:nth-child(29)::before {
  content: "29";
}

.day:nth-child(30)::before {
  content: "30";
}

.day:nth-child(31)::before {
  content: "31";
}

/*# sourceMappingURL=styles.css.map */
