$block-width: 100px;
$block-height: 100px;
$block-shift: 1px;

$start-day:
  "mon" 0,
  "tue" $block-width + $block-shift,
  "wed" 2 * ($block-width + $block-shift),
  "thu" 3 * ($block-width + $block-shift),
  "fri" 4 * ($block-width + $block-shift),
  "sat" 5 * ($block-width + $block-shift),
  "sun" 6 * ($block-width + $block-shift);
