$days: ('mon' 0, 'tue' 1, 'wed' 2, 'thu' 3, 'fri' 4, 'sat' 5, 'sun' 6);
$calendar-item-size: 100px;
$calendar-item-border-size: 1px;
$calendar-item-transform-y: -20px;
$calendar-item-bg-color: #eee;
$calendar-item-bg-color--hover: #ffbfcb;
$calendar-item-border-color: #000;
$calendar-gap: 1px;
$calendar-padding: 10px;
