$square-size: 98px;
$square-gap: 1px;

$day-start: (mon:0, tue:1, wed:2, thu:3, fri:4, sat:5, sun:6);

$calendar-pading: 10px;
$calendar-size:
  calc(
    ((#{$square-size} + 2px) * 7)
    + (#{$square-gap} * 6)
    + (#{$calendar-pading} * 2)
  );
