$daysWidth: 100px;
$daysHeight: 100px;
$calendarShihtPading: 10px;
$gapForDays: 1px;
$calendarMaxWidth: $daysWidth * 7 + $calendarShihtPading * 3 ;
$startDayShift: $daysWidth * 6 + $gapForDays * 6;
$days: "mon", "tue", "wed", "thu", "fri", "sat", "sun";
