$daysWidth: 100px;
$daysHeight: 100px;
$calendarShihtPading: 10px;
$gapForDays: 1px;
$calendarMaxWidth: $daysWidth * 7 + $calendarShihtPading * 3;
$days:
  "mon" 0,
  "tue" 1,
  "wed" 2,
  "thu" 3,
  "fri" 4,
  "sat" 5,
  "sun" 6;
