.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: $day-gap;
  padding: $calendar-padding;
  width: 7 * $cell-size + $calendar-padding * 2 + $day-gap * 6;

  @for $index from 28 through 31 {
    &--month-length-#{$index} > :nth-child(n + #{$index + 1}) {
      display: none;
    }
  }

  $days:
    "mon" 0,
    "tue" 1,
    "wed" 2,
    "thu" 3,
    "fri" 4,
    "sat" 5,
    "sun" 6;

  @each $name, $day-count in $days {
    &--start-day-#{$name} {
      & > :nth-child(1) {
        margin-left: ($day-count * $cell-size) + ($day-gap * $day-count);
      }
    }
  }
}
