$gap-size: 1px;
$calendar-padding: 10px;
$day-size: 100px;
$border-width: 1px;
$month-length: 31;
$start-day: sun;
$days-of-week: (
  mon: 0,
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
  sun: 6,
);
$calendar-size: $gap-size * 6 + $day-size * 7;
