$sizeDay: 100px;
$between: 0.5px;
$distance: 10px;
$fullDay: $sizeDay + ($between * 2);

$monday: 1;
$tuesday: 2;
$wednesday: 3;
$thursday: 4;
$friday: 5;
$saturday: 6;
$sunday: 7;

$min-mounth-day: 28;
$mean-min-mounth-day: 29;
$mean-max-mounth-day: 30;
$max-mounth-day: 31;

$days:
  "monday"    $fullDay * 0,
  "tuesday"   $fullDay * 1,
  "wednesday" $fullDay * 2,
  "thursday"  $fullDay * 3,
  "friday"    $fullDay * 4,
  "saturday"  $fullDay * 5,
  "sunday"    $fullDay * 6;

$countDays:
  "mounth28"      28,
  "mounth29"      29,
  "mounth30"      30,
  "mounth31"      31;
