$sizeDay: 100px;
$between: 0.5px;
$distance: 10px;
$fullDay: $sizeDay + ($between * 2);

$days:
  "monday"    $fullDay * 0,
  "tuesday"   $fullDay * 1,
  "wednesday" $fullDay * 2,
  "thursday"  $fullDay * 3,
  "friday"    $fullDay * 4,
  "saturday"  $fullDay * 5,
  "sunday"    $fullDay * 6;

$countDays:
  "month-length_28"      28,
  "month-length_29"      29,
  "month-length_30"      30,
  "month-length_31"      31;
