$sizeDay: 100px;
$between: 0.5px;
$distance: 10px;
$fullDay: $sizeDay + ($between * 2);

$monday: 1;
$tuesday: 2;
$wednesday: 3;
$thursday: 4;
$friday: 5;
$saturday: 6;
$sunday: 7;

$min-mounth-day: 28;
$mean-min-mounth-day: 29;
$mean-max-mounth-day: 30;
$max-mounth-day: 31;
