$square-width:100px;
$square-height:100px;
$gap:1px;
$calendar-width: 7 * $square-width + 6 * $gap;
$days:
  "mon" 0,
  "tue" $square-width + $gap,
  "wed" $square-width + 2 * $gap,
  "thu" $square-width + 3 * $gap,
  "fri" $square-width + 4 * $gap,
  "sat" $square-width + 5 * $gap,
  "sun" $square-width + 6 * $gap;
