$day-color: #eee;
$square-size: 100px;
$square-gap: 1px;
$number-of-squares-in-row: 7;
$padding: 10px;
$container-width: $square-size * $number-of-squares-in-row + $square-gap *
  ($number-of-squares-in-row - 1) + $padding * 2;

@function get-day-shift($day-count) {
  @return $square-size * $day-count + $square-gap * $day-count;
}
