$calendar-day-size: 100px;
$gap: 1px;
$calendar-padding: 10px;
$width-calendar: 7 * $calendar-day-size + $calendar-padding * 2 + $gap * 6;
$margin-start: $calendar-day-size + $gap;
$weekDays: "mon" 0,
  "tue"$margin-start,
  "wed" 2 * $margin-start,
  "thu" 3 * $margin-start,
  "fri" 4 * $margin-start,
  "sat" 5 * $margin-start,
  "sun" 6 * $margin-start;
