$width: 100px;
$gap: 1px;
$days:
  "mon" 0,
  "tue" $width + $gap,
  "wed" 2 * ($width+$gap),
  "thu" 3 * ($width+$gap),
  "fri" 4 * ($width+$gap),
  "sat" 5 * ($width+$gap),
  "sun" 6 * ($width+$gap);
$paddings: 20px;
$width: 100px;
$height: 100px;

